Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#503,#573][Crum] `make crum test`
  docs/crum/1030.html
  docs/crum/1484.html
  docs/crum/1548.html
  docs/crum/1583.html
  docs/crum/1591.html
  docs/crum/165.html
  docs/crum/1925.html
  docs/crum/2043.html
  docs/crum/2562.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#415][Crum/Scan] Add Form Search Box to the HTML. Update Header.
  .pre-commit-config.yaml
  docs/crum/crum/index.html
Due: tidy-html, docs-structure, playwright

[#415][Crum/Scan] Nit: Update ESLint Config.
  eslint.config.mjs
Due: prettier

[#415][Crum/Scan] Update Scan Warning Messages.
  docs/scan.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#415][Crum/Scan] Add Search Logic and Define Word Sorting Algorithm.
  docs/crum/crum/main.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/crum/main.js
  docs/scan.js
Due: docs-structure, prettier, playwright

[#503][Crum] `make crum test`
  docs/crum/1098.html
  docs/crum/1115.html
  docs/crum/1320.html
  docs/crum/1342.html
  docs/crum/2284.html
  docs/crum/267.html
  docs/crum/2674.html
  docs/crum/2676.html
  docs/crum/2753.html
  docs/crum/2758.html
  docs/crum/2760.html
  docs/crum/2986.html
  docs/crum/3045.html
  docs/crum/3359.html
  docs/crum/442.html
  docs/crum/447.html
  docs/crum/500.html
  docs/crum/505.html
  docs/crum/533.html
  docs/crum/655.html
  docs/crum/675.html
  docs/crum/688.html
  docs/crum/907.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#9,#503][Crum] `make crum test`
  docs/crum/1523.html
  docs/crum/1534.html
  docs/crum/3359.html
  docs/crum/crum.json
  docs/crum/doubtful.html
  docs/crum/noun.html
Due: tidy-html, docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#415][Crum] Nit: Simplify some code.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#508][Crum/Wiki] Use a Space as a Marcion Key Delimiter.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[fix #630][Crum/Wiki] Group Entries by Page Number.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  flashcards/constants.py
  stats.py
Due: mypy, darglint

[#194][Crum/Wiki] Add Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[#625][Lexicon] Nit: Fix Typo.
  docs/crum/index.html
Due: crum-tidy-html, docs-structure, playwright

[#625][Lexicon] Add Tooltips to the Checkboxes.
  docs/crum/index.html
Due: crum-tidy-html, docs-structure, playwright

[#415][Crum/Scan] Delete a TODO.
  docs/crum/crum/main.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1149.html
  docs/crum/1572.html
  docs/crum/1583.html
  docs/crum/2706.html
  docs/crum/2744.html
  docs/crum/2773.html
  docs/crum/368.html
  docs/crum/370.html
  docs/crum/374.html
  docs/crum/525.html
  docs/crum/537.html
  docs/crum/642.html
  docs/crum/93.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[Bible] Nit: Add Animation Delay.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/bible/bible.js
  docs/crum/crum/main.js
Due: docs-structure, prettier, playwright

[#438][Crum/Wiki] Update the Subdialect Substitution.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#438][Crum/Wiki] Stop Tracking Wiki Substitution Rules. Only keep ours.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#508][Crum] Support Entries for the Letters.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#508][Crum] `make crum test`
  docs/crum/3386.html
  docs/crum/3387.html
  docs/crum/3388.html
  docs/crum/3389.html
  docs/crum/3390.html
  docs/crum/3391.html
  docs/crum/3392.html
  docs/crum/3393.html
  docs/crum/3394.html
  docs/crum/3395.html
  docs/crum/3396.html
  docs/crum/3397.html
  docs/crum/3398.html
  docs/crum/3399.html
  docs/crum/3400.html
  docs/crum/3401.html
  docs/crum/3402.html
  docs/crum/3403.html
  docs/crum/3404.html
  docs/crum/3405.html
  docs/crum/3406.html
  docs/crum/3407.html
  docs/crum/3408.html
  docs/crum/3409.html
  docs/crum/3410.html
  docs/crum/3411.html
  docs/crum/3412.html
  docs/crum/3413.html
  docs/crum/3414.html
  docs/crum/3415.html
  docs/crum/3416.html
  docs/crum/crum.json
  docs/crum/interrogative pronoun.html
  docs/crum/letter.html
  docs/crum/noun.html
  docs/crum/roots.js
  docs/crum/types.html
Due: tidy-html, docs-structure, prettier, playwright

[fix #618][Crum/Wiki] `A^2` for Subakhmimic, and non-standard dialects.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.ts
  docs/crum/dialect.ts
  docs/dialect.ts
  docs/str.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#194][Crum/Wiki] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/crum.js
  docs/crum/dialect.js
  docs/dialect.js
  docs/str.js
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki] Update Annotation count in Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#618][Crum/Wiki] Update the name of `A^2`.
  docs/crum/dialect.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/dialect.js
Due: docs-structure, prettier, playwright

[#618][Crum/Wiki] Prettify the Appearance of `A^2`.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1787.html
  docs/crum/2507.html
  docs/crum/2510.html
  docs/crum/2525.html
  docs/crum/2532.html
  docs/crum/2542.html
  docs/crum/2544.html
  docs/crum/2558.html
  docs/crum/760.html
  docs/crum/771.html
  docs/crum/780.html
  docs/crum/797.html
  docs/crum/840.html
  docs/crum/844.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] Update Test Case.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1082.html
  docs/crum/1794.html
  docs/crum/2139.html
  docs/crum/2513.html
  docs/crum/2582.html
  docs/crum/2601.html
  docs/crum/2611.html
  docs/crum/2624.html
  docs/crum/2816.html
  docs/crum/2847.html
  docs/crum/2857.html
  docs/crum/379.html
  docs/crum/643.html
  docs/crum/794.html
  docs/crum/821.html
  docs/crum/839.html
  docs/crum/945.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#1,#508][Crum/Dawoud] Update Dawoud Pages Numbers for Letters.
  docs/crum/3399.html
  docs/crum/3405.html
Due: tidy-html, docs-structure, playwright

[#194][Crum/Wiki] Add Annotations.
  .pre-commit-config.yaml
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright
