Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#778][Crum/Wiki] Avoid invoking DOM in Global Scope. Simplify Code.
  dictionary/marcion_sourceforge_net/wiki.ts
  docs/crum/mode.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778,#787][Crum/Wiki] Encode Antecedent Chains in the Materialization.
  .claude/commands/ambrose.md
  dictionary/marcion_sourceforge_net/wiki.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, check-one-readme, playwright

[TypeScript] `make javascript`
  docs/crum/mode.js
  docs/crum/mode.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#787][Crum/Wiki] Simplify Signatures.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#787][Crum/Wiki] Link Antecedents of `l c` Anaphor References.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#787][Crum/Wiki] Fix Bug in Chain Construction.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#787][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/2287.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/234.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2703.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/303.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3384.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/507.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/714.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/872.txt
Due: none

[#522][Crum/Wiki] Add a Variant.
  dictionary/marcion_sourceforge_net/bib.yaml
Due: none

[#522][Crum/Wiki] `make crum test`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/13.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3400.txt
Due: none

[#787][Crum/Wiki/References] Search for `l c` in Manual References.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1388.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2484.txt
Due: none

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#787][Crum/Wiki] Parse Loco Citato Bible Citations.
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] `esp` is not a suffix.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#800,#194][Crum/Wiki/Annotations] `ut sup` is not a Suffix Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/2226.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2299.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/33.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/365.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/53.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/914.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/925.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/985.txt
Due: none

[#787][Crum/Wiki/Bible] Spell out `loco citato`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki] `make crum test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1174.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1217.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1364.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1386.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2122.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/477.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/50.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/585.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/72.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/865.txt
Due: none

[#503,#787][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/119.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1190.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1345.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1362.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1409.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1453.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/179.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1924.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2108.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3402.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/35.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/426.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/730.txt
Due: none

[#787][Crum/Wiki] Manual Labels can give Distance to Antecedent.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#787][Crum/Wiki] Aesthetics.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#787][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/144.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1819.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1889.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2261.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/291.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/495.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/71.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/790.txt
Due: none
