Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#351][Crum/TypeScript] Avoid Hyperlinks for <a> Tags. Refactor Code.
  flashcards/crum.ts
Due: typescript-string-literals

[#351][Crum/TypeScript] Transpile!
  docs/crum/crum.js
Due: none

[#351][Crum/TypeScript] Refactoring!
  flashcards/crum.ts
Due: typescript-string-literals

[#356][Site/README] Update Image Paths.
  README.md
Due: none

[#276,#377][TypeScript] Move TypeScript to `docs/`.
  .env
  Makefile
  bible/stshenouda.org/tsconfig.json
  dictionary/copticocc.org/tsconfig.json
  docs/bible/bible.ts
  docs/crum/crum.ts
  docs/crum/index.html
  docs/dawoud/dawoud.ts
  docs/xooxle.js
  docs/xooxle.ts
  flashcards/tsconfig.json
  pre-commit/docs_structure.py
  tsconfig.json
  web/tsconfig.json
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#276,#377][TypeScript] Run `make _bashandy test`.
  docs/crum/bashandy.html
Due: tidy-html

[#230][Xooxle] Refactoring. OOP. Making the Search more Efficient.
  docs/crum/crum.ts
  docs/crum/index.html
  docs/utils.ts
  docs/xooxle.ts
  tsconfig.json
Due: tidy-html, typescript-string-literals

[#380][Crum] Simplify Code using Generators.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest

[#230][Xooxle] Run `make transpile test`.
  docs/crum/crum.js
  docs/dawoud/dawoud.js
  docs/utils.js
  docs/xooxle.js
Due: none

[#230][Xooxle] Miscellaneous Improvements!
  docs/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Disable Autocomplete to Eliminate Jitter! Color Link!
  docs/crum/bashandy.html
  docs/crum/index.html
Due: tidy-html

[#230][Xooxle] Run `make transpile`.
  docs/xooxle.js
Due: none

[#345][Lexicon/Mobile] Run `make _bashandy`.
  docs/crum/bashandy.html
Due: tidy-html

[#345][Lexicon/Mobile] Make Display More Friendly on Mobile.
  docs/crum/index.html
  docs/style.css
Due: tidy-html

[#356][`README`] Use Correct Image Paths!
  README.md
Due: none

[Stats] Always Reset `stdout` Color.
  stats.sh
Due: none

[fix #384][Xooxle] Stop Recommending Chrome.
  docs/crum/index.html
  docs/xooxle.ts
Due: tidy-html, typescript-string-literals

[fix #388][Xooxle] Don't Rely on `pageshow`.
  docs/xooxle.ts
Due: typescript-string-literals

[#122][Crum/TypeScript] Checkboxes Synchronize with Dialect Updates.
  docs/crum/crum.ts
Due: typescript-string-literals

[fix #390][Xooxle] Reduce `view` Cell Jitter.
  docs/style.css
  docs/xooxle.ts
Due: typescript-string-literals

[#276][TypeScript] Use `module` Types to Allow Imports and Exports.
  utils.py
Due: python-unittest-exists, python-unittest

[fix #385][TypeScript] Deduplicate Logic.
  docs/bible/bible.ts
  docs/collapse.ts
  docs/crum/crum.ts
  docs/utils.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#384,#385,#388,#122,#390][TypeScript] Run `make transpile`.
  docs/bible/bible.js
  docs/collapse.js
  docs/crum/crum.js
  docs/utils.js
  docs/xooxle.js
Due: none

[#276][Dawoud/TypeScript] Change Script Type to `module`.
  docs/dawoud/index.html
Due: tidy-html

[fix #345, #277][Lexicon] Improve Mobile Display Experience.
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/crum/index.html
  docs/style.css
Due: tidy-html, typescript-string-literals

[#295][Site/Home] Simplify the Home Page.
  docs/img/flashcards/1.jpeg
  docs/img/flashcards/2.jpeg
  docs/img/flashcards/hand-1.png
  docs/img/flashcards/hand-4.png
  docs/img/flashcards/hand-5.png
  docs/img/flashcards/hand-6.png
  docs/index.html
  docs/style.css
Due: tidy-html

[#389][Site] Add Citations.
  README.md
  docs/crum/index.html
  docs/img/logos/awg.png
  docs/img/logos/ddglc.png
  docs/img/logos/gu.gif
  docs/img/logos/resized-bbaw-logo.png
  docs/img/logos/resized-cc-by-sa.png
  docs/img/logos/resized-coptic-orphans-logo.jpg
  docs/img/logos/resized-copticscriptorium-logo.png
  docs/img/logos/resized-copticsite-logo.png
  docs/img/logos/resized-fu-logo.png
  docs/img/logos/resized-gplv3.png
  docs/img/logos/resized-kellia-logo.png
  docs/img/logos/resized-marcion-logo.png
  docs/img/logos/resized-stshenouda-logo.jpg
  docs/index.html
Due: tidy-html

[#31][Crum/Scan] Script to Download the Book Scan.
  dictionary/marcion.sourceforge.net/download_scan.sh
Due: none

[#345][Lexicon/Mobile] Attempting to Improve Display on Mozilla!
  docs/crum/index.html
  docs/style.css
Due: tidy-html

[#241][CSS] Restrict the `.meaning` Rule.
  docs/style.css
Due: none

[fix #382][Crum/Categories] Show Categories!
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/style.css
Due: typescript-string-literals

[fix #378][Flashcards/Makefile] Create Specific Rules for Flashcards!
  Makefile
Due: none

[#5][Crum/Images] Delete some Misleading Images.
  dictionary/marcion.sourceforge.net/data/img-sources/1241-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1241-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1241-1-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1788-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1793-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/1241-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1241-1-2.webp
  dictionary/marcion.sourceforge.net/data/img/1241-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img/1788-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/1793-1-1.jpg
  docs/crum/explanatory/1241-1-1.jpg
  docs/crum/explanatory/1241-1-2.webp
  docs/crum/explanatory/1241-1-3.jpg
  docs/crum/explanatory/1788-1-1.webp
  docs/crum/explanatory/1793-1-1.jpg
Due: crum-img-validate
