Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[fix #572][Crum/Wiki] Code Quality!
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[fix #701][Crum/Wiki] Implement an Antecedent Search Fallback.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] `nos` is a valid Suffix Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#559][Crum/Wiki] Remove Obsolete Class.
  docs/crum/cls.ts
  docs/crum/crum.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#522,#714][Crum/Wiki/References] Nit: Update Styling of `C`.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#671][Crum/Wiki/References] Consolidate `Mani *`.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[Crum/Wiki/References] `make pisaxo`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#714][Crum/Wiki/References] `<strong>` is used for Abbreviations.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  docs/crum/crum.css
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#524][Crum/Wiki/Bible] Handle `DAN_OVERRIDE` in the `Citation` object.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#671][Crum/Wiki/References] Add a Postfix.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#194][Crum/Wiki/Annotations] Add a Variant.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Treat `ed` as a Suffix Annotation.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#671][Crum/Wiki] Remove an Obsolete TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#578][Crum/Wiki] Store Data Attributes in shared Constants.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#430][Python] Restrict Ranges of some `pylint` Directives.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/wiki.py
  dictionary/stmacariusmonastery_org/andreas.py
  utils/log.py
  xooxle/clean.py
  xooxle/xooxle.py
Due: mypy, darglint

[#723][AI] Clarify that `/peter <commit>` Reviews a single Commit.
  .claude/commands/peter.md
Due: check-one-readme

[#572][Crum/Wiki/TypeScript] Aesthetics.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#572][Crum/Wiki] Simplify Enrichment Interface.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#701][Crum/Wiki] Chain Fragments have Simple Structure.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#427,#540][Crum/Wiki] Nit: Unexport two Functions.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] Update the Progress Percentage.
  docs/crum/digital.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #668][Crum/Wiki] Complete the Manual Labeling Pipeline.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add a Placeholder Resource.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#524][Bible] Allow repeating the `book` Parameter.
  docs/bible/bible.ts
  docs/browser.ts
  docs/paths.ts
Due: docs-structure, prettier, typescript-unittest, playwright
