Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#524][pre-commit] Whitelist `Thes`.
  .pre-commit-config.yaml
Due: none

[#524][Crum/Wiki/Bible] Handle Unnumbered Bible Books.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/browser.js
  docs/browser.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/paths.js
  docs/paths.js.map
Due: docs-structure, prettier, playwright

[#668][Crum/Wiki] Add a Remark about Manual Label Resolution Priority.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Crum/Wiki] Nit: Update the Remark Label Resolution Priority.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #747][Crum/Wiki/Xooxle] Antecedent Search doesn't Cross Paragraphs.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #748][Crum/Wiki] Fix Antecedent Search's clash with Addenda.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#748][Crum/Wiki] Add Test Cases.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#572][Crum/Wiki] Simplify Code.
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#572][Crum/Wiki] Simplify Code.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] Avoid Sticky / Global Regular Expressions where Possible.
  docs/crum/annotations.ts
  docs/crum/book.ts
  docs/crum/crum.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
  docs/html.ts
  docs/orth.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #647][Crum/Wiki] Implement Dangling Suffix Handling.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
  docs/orth.js
  docs/orth.js.map
Due: docs-structure, prettier, playwright

[#647][Crum/Wiki] Update Unit Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#647][Crum/Wiki] Fix Bug: Not all Anaphors are Ibidem.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#647][Crum/Wiki] Nit: Fix Bug: Restore Colon after `ibidem`.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Update an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #749][CSS] Customize Background Colors.
  docs/bible/style.css
  docs/crum/crum.css
  docs/style.css
  docs/tooltip.css
Due: docs-structure, prettier, stylelint, playwright

[#503][Crum/Wiki] Update Unit Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[fix #750][Crum] Prevent Background Colors from Concealing Italic Text.
  docs/crum/crum.css
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/tooltip.js
  docs/tooltip.js.map
Due: docs-structure, prettier, playwright

[#427][Crum/Wiki] Addenda Tooltips only show on Footnote-like Markers.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
  docs/crum/wiki.ts
  docs/tooltip.css
  docs/tooltip.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#540][Crum/Wiki] Reduce Footnoted Text Opacity when Hovering over Mark.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[fix #751][Crum/Wiki/CSS] Slightly Tune Hues, retaining current Palette.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#634][Crum/Wiki] Log an Error for Entries that are all Vide.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#753][Crum/Wiki/HTML] Make Invalid Text Error Message more Useful.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[fix #753][Crum/Wiki/HTML] Verify HTML Tags are Balanced.
  bible/stshenouda_org/main.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/main.py
  flashcards/deck.py
  morphology/kindle.py
  utils/ensure.py
  utils/file.py
  utils/page.py
  xooxle/clean.py
  xooxle/constants.py
  xooxle/xooxle.py
Due: mypy, darglint

[#752][Python] Add `markdown` as a Dependency.
  requirements.in
Due: none

[#752][Python] `pip-compile`
  requirements.txt
Due: none

[TypeScript] Nit: Fix Typo in `noopener noreferrer`. Aesthetics.
  docs/browser.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
  docs/help.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/crum/help.js
  docs/crum/help.js.map
  docs/crum/highlight.js
  docs/crum/highlight.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/help.js
  docs/help.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
