Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#565][Crum/Wiki/References] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
Due: docs-structure, prettier, playwright

[#521,#570][TypeScript] Redesign the `collapse` Module.
  docs/collapse.ts
  docs/crum/index.html
  docs/style.css
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make transpile test`
  docs/collapse.js
Due: docs-structure, prettier, playwright

[#521,#570][Bible/HTML] Make Bible Index compatible with Collapsible.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#521,#570][TypeScript] Redesign the `collapse` Module.
  docs/collapse.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#521,#570][TypeScript] `make bible transpile test`
  docs/bible/index.html
  docs/collapse.js
Due: tidy-html, docs-structure, prettier, playwright

[#521,#570][TypeScript] Nit: Simplify some `collapse` logic.
  docs/collapse.ts
  docs/crum/index.html
  docs/style.css
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, playwright

[#241][CSS] Add a TODO.
  docs/dropdown.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#167][Crum/Nag Hammadi] Add Search Hyperlinks for Nag Hammadi.
  docs/crum/crum.ts
  docs/paths.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/crum.js
  docs/dropdown.js
  docs/paths.js
Due: docs-structure, prettier, playwright

[#521,#570][TypeScript] Fix Complex Collapsibles on Firefox.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#508][Crum/Wiki] Define Rules for a Markdown version of the Text.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#573][Crum] Introduce a Notation for Spaces in Single-word Derivations.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#574][Xooxle] Encode Dash Characters in the Text Fragment.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[TypeScript] Update some Logger Type Hints.
  docs/logger.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#229][Xooxle] Rank based on the Index of the First Match in the Text.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/logger.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#229,#243][Xooxle] Update Comments about Sorting.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Add a Variant for `Vita Sinuth`.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation for `p`.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] `POxy` occurs with a space!
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#523][Crum/Wiki/References] Add `no` as a Postfix for `Osir`.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#167][Crum/Nag Hammadi] Prettify Nag Hammadi References.
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/parse.py
Due: mypy, darglint
