Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#737][Crum/Wiki] Store Stack Base First.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#551][CSS] Import `Noto Sans Symbols 2` to render `Nomisma Sign`.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#427][Crum/Wiki] Nit: Simplify a Signature.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[Crum] Nit: Address Miscellaneous `TODO: (#0)` Comments.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[Crum/HTML] Get Rid of Unnecessary Line Breaks.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#737][Crum/Wiki/CSS] Fix Stacked Letters Styling and Fragments.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/crum/mode.js
  docs/crum/mode.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#685,#658][Crum/Wiki] Clicks also copy Enrichment Entities.
  docs/crum/crum.css
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#503][Crum/Wiki] Update a Unit Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#737][Crum/CSS] Update Styling of Stacked Letters.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[fix #760][Xooxle] Fix Bug. Index by UTF-16 code unit.
  docs/orth.test.ts
  docs/orth.ts
  docs/xooxle.ts
  utils/orth.py
  xooxle/xooxle.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/orth.js
  docs/orth.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#641][Crum/Scan] Vowel Detection Heuristic uses Letters on Both Sides.
  docs/crum/book.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#691][AI] Delete the `playwright-cli` Claude Skill.
  .claude/skills/playwright-cli/SKILL.md
  .claude/skills/playwright-cli/references/element-attributes.md
  .claude/skills/playwright-cli/references/playwright-tests.md
  .claude/skills/playwright-cli/references/request-mocking.md
  .claude/skills/playwright-cli/references/running-code.md
  .claude/skills/playwright-cli/references/session-management.md
  .claude/skills/playwright-cli/references/storage-state.md
  .claude/skills/playwright-cli/references/test-generation.md
  .claude/skills/playwright-cli/references/tracing.md
  .claude/skills/playwright-cli/references/video-recording.md
Due: check-one-readme

[#691][AI] Delete `playwright-cli` Artifacts.
  .gitignore
  env/find.sh
  install.sh
  package.json
Due: prettier

[#691][AI] `npm install`
  package-lock.json
Due: prettier

[#749][Crum/CSS] Suppress Text Fragment Colors of all Hover Descendants.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#685,#658][Crum/Wiki] Restrict Copy Triggers.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#730][Bible] `mv docs/bible/bibliography.json docs/bible/pisaxo.json`
  docs/bible/pisaxo.json
Due: docs-structure, prettier, playwright

[#730][Bible] Rename the Bibliography File to be Consistent with Crum.
  bible/stshenouda_org/main.py
  docs/bible/main.ts
  pre-commit/docs_structure.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#730][Bible] Define the Bibliography Source of Truth in YAML.
  bible/stshenouda_org/data/bib.yaml
Due: none

[#730][Bible] Define the `yaml_loads` helper.
  utils/file.py
Due: mypy, darglint

[#730][Bible/Bibliography] `make bible test`
  docs/bible/pisaxo.json
Due: docs-structure, prettier, playwright

[#730][Bible/Bibliography] Pipeline Generates JSON Bibliography.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[TypeScript] `make javascript`
  docs/bible/main.js
  docs/bible/main.js.map
Due: docs-structure, prettier, playwright

[platform/Python] Simplify a Signature. Deduplicate Code.
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
  utils/file.py
Due: mypy, darglint

[#730][Bible/Bibliography] Update some Entries. Add Comments.
  bible/stshenouda_org/data/bib.yaml
Due: none

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
