Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#669][Crum/Wiki] Parse Bible Book Abbreviation independently.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#670][Crum/Wiki] Fix Bug.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #669][Crum/Wiki] Process References and Bible Simultaneously.
  docs/crum/bible.d.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki/Bible] Lower-case Bible Chapters.
  docs/paths.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/paths.js
  docs/paths.js.map
Due: docs-structure, prettier, playwright

[#614,#666][Crum/Wiki] Avoid Overlap with Pages. Add an Annotation.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#671][Crum/Wiki/References] Update a TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#522][Crum/Wiki/References] Add a Variant.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Add an Annotation. Update Docs.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#657][Crum/Wiki] Allow Capital letters in Demotic.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/1289.html
  docs/crum/1382.html
  docs/crum/2164.html
  docs/crum/2335.html
  docs/crum/2747.html
  docs/crum/2910.html
  docs/crum/2911.html
  docs/crum/2915.html
  docs/crum/5.html
  docs/crum/951.html
  docs/crum/952.html
  docs/crum/960.html
  docs/crum/961.html
  docs/crum/962.html
  docs/crum/964.html
  docs/crum/966.html
  docs/crum/967.html
  docs/crum/969.html
  docs/crum/970.html
  docs/crum/971.html
  docs/crum/crum.json
  docs/crum/index.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Delete an Obsolete Comment.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Crum/Wiki] Simplify Manual Labeling Notation.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/1165.html
  docs/crum/1979.html
  docs/crum/1994.html
  docs/crum/2129.html
  docs/crum/2167.html
  docs/crum/2438.html
  docs/crum/2747.html
  docs/crum/2905.html
  docs/crum/3075.html
  docs/crum/3116.html
  docs/crum/368.html
  docs/crum/969.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add Annotations and Variants.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#666][Crum/Wiki] Introduce a `suffix` Field for Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#636][Crum/Wiki] Add Tooltips to All Semicolons.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503,#227][Crum/Wiki] `make crum test`
  docs/crum/1013.html
  docs/crum/1023.html
  docs/crum/1033.html
  docs/crum/1042.html
  docs/crum/1349.html
  docs/crum/890.html
  docs/crum/994.html
  docs/crum/995.html
  docs/crum/999.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#524][Crum/Wiki/Bible] Add a Variant for Daniel.
  bible/stshenouda_org/data/input/bible.json
Due: prettier

[#524][Crum/Wiki/Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[fix #666,#572][Crum/Wiki] Handle Annotation Suffixes.
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
  docs/html.ts
  docs/str.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#666,#572][Crum/Wiki] Define some Postfixes as Suffixes.
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#511,#666][Crum/Wiki] Aesthetics. Escape Annotations in Regex.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
  docs/str.js
  docs/str.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/81.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1046.html
  docs/crum/1048.html
  docs/crum/1049.html
  docs/crum/1053.html
  docs/crum/1055.html
  docs/crum/1058.html
  docs/crum/1061.html
  docs/crum/1065.html
  docs/crum/2957.html
  docs/crum/740.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#511][Crum/Wiki/Bible] Nit: Fix Bug: Add Colon after 'ibidem'.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Crum/Wiki] `make crum test`
  docs/crum/1007.html
  docs/crum/1289.html
  docs/crum/2164.html
  docs/crum/2335.html
  docs/crum/732.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
