Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #780][Lexicon] Update `Wiki` and `Marcion` Labels.
  docs/crum/digital.ts
  docs/crum/index.html
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#427][Crum/Wiki] Addenda Markers are only Hyperlinked on Hover Devices.
  docs/browser.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#671][Crum/Wiki] Consolidate Description of `Pcod`.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#671][Crum/Wiki] Document Known Issue.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#376][platform/TypeScript] Delete Unused Dependency.
  package.json
Due: prettier

[fix #790][Docs] Update `README.md` and `CLAUDE.md`.
  CLAUDE.md
  README.md
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint, check-one-readme

[#522][Crum/Wiki/References] Add a TODO.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[platform/Python] Ignore `FLY002` in `ruff`.
  pyproject.toml
Due: none

[#427][Crum/Wiki] Allow Addenda from the Body of the Book.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#522][Crum/Wiki/References] Add a Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#522][Crum/Wiki/References] `make crum test`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki] Update Unit Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#778,#427][Crum/Wiki] Mock `matchMedia` in the Enrichment Materializer.
  dictionary/marcion_sourceforge_net/wiki.ts
  docs/browser.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#634][Crum/Wiki] Remove an Obsolete File.
  dictionary/marcion_sourceforge_net/data/output/wiki/739.txt
Due: none

[#427][Crum/Wiki] Fix Bug in Addendum Pattern.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/2305.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2320.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2672.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/369.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/924.txt
Due: none

[#131][Bible] Nit: Fix Typo in a Comment.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#745][Crum/Wiki] Ambrose Defaults to Reviewing `origin/master..master`.
  .claude/commands/ambrose.md
Due: check-one-readme

[#759][Crum/Wiki] Spell out Per-language Combining Characters.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint
