Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/902-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/902-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/902-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/902-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/902-1-1.png
  dictionary/marcion.sourceforge.net/data/img/902-2-1.jpg
Due: crum-img-validate

[#5][Crum/Images] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/895.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/898.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/899.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/900.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/901.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/902.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_895-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_898-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_899-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_900-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_901-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_901-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_902-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_902-2-1.jpg
Due: tidy-html

[#5,#16][README] Update the Docs about Images.
  README.md
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/903-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/904-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/904-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/904-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/907-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/909-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/903-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/904-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/904-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/904-5-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/907-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/909-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/903-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/904-2-1.png
  dictionary/marcion.sourceforge.net/data/img/904-4-1.png
  dictionary/marcion.sourceforge.net/data/img/904-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img/907-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/909-1-1.jpg
Due: crum-img-validate

[#5][Crum/Images,Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/903.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/904.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/907.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/909.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_903-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_904-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_904-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_904-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_907-1-1.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_909-1-1.jpg
Due: tidy-html

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/910-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/912-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/912-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/914-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/916-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/910-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/912-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/912-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/914-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/916-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/910-1-1.png
  dictionary/marcion.sourceforge.net/data/img/912-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/912-2-1.png
  dictionary/marcion.sourceforge.net/data/img/914-1-1.png
  dictionary/marcion.sourceforge.net/data/img/916-1-1.png
Due: crum-img-validate

[#5][Crum/Images/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/910.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/912.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/914.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/916.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_910-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_912-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_912-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_914-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_916-1-1.jpg
Due: tidy-html

[#16][README,Site/Home] Add License and Cited Works.
  README.md
  site/data/img/logos/bbaw-logo.png
  site/data/img/logos/by-coptic.png
  site/data/img/logos/copticscriptorium-logo.png
  site/data/img/logos/copticsite-logo.png
  site/data/img/logos/fu-logo.png
  site/data/img/logos/gplv3.png
  site/data/img/logos/kellia-logo.png
  site/data/img/logos/marcion-logo.png
  site/data/img/logos/resized-bbaw-logo.png
  site/data/img/logos/resized-by-coptic.png
  site/data/img/logos/resized-copticscriptorium-logo.png
  site/data/img/logos/resized-copticsite-logo.png
  site/data/img/logos/resized-fu-logo.png
  site/data/img/logos/resized-gplv3.png
  site/data/img/logos/resized-kellia-logo.png
  site/data/img/logos/resized-marcion-logo.png
  site/data/img/logos/resized-stshenouda-logo.jpg
  site/data/img/logos/stshenouda-logo.jpg
  site/index.html
Due: tidy-html

[#16][README] Add the Website Logo.
  README.md
Due: none

[#16][Logo] Add a Wide Logo for Social Preview.
  site/data/img/icon/icon-social.png
Due: none

[#16][README,Site/Home] Miscellaneous Improvements.
  README.md
  site/data/img/logos/cc-by-sa.png
  site/data/img/logos/coptic-orphans-logo.jpg
  site/data/img/logos/resized-bbaw-logo.png
  site/data/img/logos/resized-by-coptic.png
  site/data/img/logos/resized-copticscriptorium-logo.png
  site/data/img/logos/resized-copticsite-logo.png
  site/data/img/logos/resized-fu-logo.png
  site/data/img/logos/resized-gplv3.png
  site/data/img/logos/resized-kellia-logo.png
  site/data/img/logos/resized-marcion-logo.png
  site/data/img/logos/resized-stshenouda-logo.jpg
  site/index.html
  site/style.css
Due: tidy-html

[#213][CSS/Pre-commit] Add `stylelint` and remove `csslint`.
  .csslintrc
  .pre-commit-config.yaml
  .stylelintrc.json
  Makefile
  stats.sh
Due: json-tool

[#213][CSS/Pre-commit] Appease `stylelint`.
  flashcards/constants/a_coptic_dictionary/style.css
  flashcards/constants/kellia/style.css
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
  site/style.css
Due: none

[#213][CSS/Pre-commit] Add `clean-css` Hook.
  .pre-commit-config.yaml
  Makefile
  eslint.config.mjs
  pre-commit/clean-css.js
Due: none

[#213][CSS/Pre-commit] `pre-commit run clean-css --all-files`.
  flashcards/constants/a_coptic_dictionary/style.css
  flashcards/constants/copticsite/style.css
  flashcards/constants/kellia/style.css
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
  site/style.css
Due: none

[#266][CSS] Simplify CSS.
  flashcards/constants/a_coptic_dictionary/style.css
  site/style.css
Due: none

[#266][CSS] Adapt the Generic CSS Sheet for the Flashcards.
  site/crum.html
  site/style.css
Due: tidy-html

[#266][CSS] Write the HTML Link at the Source.
  site/crum.html
  site/index.html
  site/publish.sh
Due: tidy-html

[#266][Flashcards/CSS] Use the Shared CSS.
  flashcards/constants.py
  flashcards/constants/a_coptic_dictionary/style.css
  flashcards/constants/copticsite/style.css
  flashcards/constants/kellia/style.css
Due: python-unittest-exists, python-unittest

[fix #251][Flashcards/CSS] Recenter Dictionary Pages.
  site/style.css
Due: none

[fix #266][Flashcards/CSS] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
Due: none

[#266][CSS] Simplify Handling of Links.
  site/style.css
Due: none

[#266][CSS] Pick up the New Shared CSS.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
Due: none

[#213][Pre-commit/Stats] Add `js` as a Known Extension.
  stats.sh
Due: none

[#213][CSS/Pre-commit] Always Use Integer Values for `breaks`.
  pre-commit/clean-css.js
Due: none

[#213][CSS/Pre-commit] Add a Comment Explaining why we use JavaScript.
  pre-commit/clean-css.js
Due: none

[Node] Check `package.json` and `package-lock.json` to Source Control.
  .gitignore
  package-lock.json
  package.json
Due: json-tool

[#241][Site/CSS] Restore Body Padding. Resize `iframe` on Small Screens.
  site/style.css
Due: none

[#230][Xooxle] Delete Comments and Excess Space from the Index.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#230][Xooxle] Eliminate Indentation Space from the JSON Index.
  site/publish.sh
Due: none

[#241][Site/CSS] Miscellaneous Improvements.
  site/style.css
Due: none

[#241][Site/CSS] Copy the New CSS to Flashcards.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
Due: none

[#230,#241][Xooxle/Index] Implement `retain_classes` for Granularity.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#230,#241][Xooxle] Use `retain_classes` to Minimize Index HTML.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#230,#241][Xooxle/Index] Replace Whitespace with one Space Character.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#264][copticsite/Flashcards] Use the Correct HTML Class.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest
