Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#5][Crum/Images] Update Image for 448.
  dictionary/marcion.sourceforge.net/data/img-300/448-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/448-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-sources/448-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/448-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/448-1-1.webp
Due: crum-img-validate

[#109][Bible/EPUB] Publish the Bohairic-English Table-Format Ebook.
  Makefile
Due: none

[#109][README] Update Docs.
  site/data/img/bible-ebook-desktop.png
  site/data/img/bible-ebook.png
  site/index.html
Due: tidy-html

[Makefile] `install` is a Developer Rule. Exclude it from `all`.
  Makefile
Due: none

[#213][CSS/Pre-commit] Allow Headings to Be Defined Multiple Times.
  .csslintrc
Due: json-tool

[#171][Site/CSS] Update Home Page Styling.
  site/style.css
Due: none

[#171][Site/CSS] Include the 'style.css' at the Root in all HTML Files.
  site/publish.sh
Due: none

[#112][Site/Domain] Use a New Domain - remnqymi.com.
  .helpers
  README.md
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/img_helper.py
  flashcards/constants.py
  morphology/kindle.py
  site/crum.html
  site/data/CNAME
  site/index.html
Due: python-unittest-exists, tidy-html, python-unittest

[#112][Site/Domain] Rename the Project to ⲣⲉⲙⲛ̀Ⲭⲏⲙⲓ.
  .helpers
  README.md
  site/index.html
Due: tidy-html

[fix #241][Site/Crum] Make Page Mobile-friendly.
  site/crum.css
  site/crum.html
  site/style.css
Due: tidy-html

[#171][Site/CSS] Remove a Superfluous Reference to a CSS Sheet.
  site/index.html
Due: tidy-html

[#16][README] Reference Closed Isseus that We May Want to Revive.
  README.md
Due: none

[#5][Crum/Flashcards] Run `make flashcards` to Pick up Images for 2576.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2426.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2576.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2576-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2576-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2576-1-3.jpg
Due: tidy-html

[Stats] Ignore the Coptic Literature App in the Archive.
  stats.sh
Due: none

[#171,#241][Site/CSS] Crum and Home Share a CSS File.
  site/crum.css
  site/crum.html
  site/publish.sh
  site/style.css
Due: tidy-html

[#109][Site/Home] Add *Grammar*, *Donations*, and *Milestons* Sections.
  site/index.html
  site/style.css
Due: tidy-html

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#230][Site] Add a `charset` Tag to all HTML Pages.
  site/publish.sh
Due: none

[#109][Site/Home] Update Home Page, particularly the Flashcards Section.
  site/data/img/a-coptic-dictionary/back-with-images/01.png
  site/data/img/a-coptic-dictionary/back-with-images/02.png
  site/data/img/a-coptic-dictionary/back-with-images/03.png
  site/data/img/a-coptic-dictionary/back-with-images/04.png
  site/data/img/a-coptic-dictionary/back-with-images/05.png
  site/data/img/a-coptic-dictionary/back-with-images/06.png
  site/data/img/a-coptic-dictionary/back-with-images/07.png
  site/data/img/a-coptic-dictionary/back/01.png
  site/data/img/a-coptic-dictionary/back/02.png
  site/data/img/a-coptic-dictionary/back/03.png
  site/data/img/a-coptic-dictionary/back/04.png
  site/data/img/a-coptic-dictionary/front/all.png
  site/data/img/a-coptic-dictionary/front/bohairic.png
  site/data/img/a-coptic-dictionary/front/sahidic.png
  site/data/img/bible/ebook-desktop.png
  site/data/img/copticsite.com/back.png
  site/data/img/copticsite.com/front.png
  site/data/img/flashcards/copticsite.png
  site/data/img/flashcards/greek.png
  site/data/img/flashcards/hand-1.png
  site/data/img/flashcards/hand-4.png
  site/data/img/flashcards/hand-5.png
  site/data/img/flashcards/hand-6.png
  site/data/img/flashcards/pleiades-1.png
  site/data/img/flashcards/pleiades-2.png
  site/data/img/flashcards/threshing-1.png
  site/data/img/flashcards/threshing-2.png
  site/index.html
  site/style.css
Due: tidy-html

[#109][Site/Home] Add a Link to the GitHub Repo.
  site/index.html
Due: tidy-html

[fix #246][README/Diagram] Save the Diagram with an Opaque Background.
  data/coptic.drawio.png
Due: none

[#16][README] Nit: Fix Typo.
  README.md
Due: none

[#109][Site/Home] The Bible Ebook is Bohairic-English.
  site/index.html
Due: tidy-html

[#229][Site/Xooxle] Delete Empty Parameters from the URL.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#109][Site/Home] Fix Typo in Tag ID.
  site/index.html
Due: tidy-html

[#108,#245][Crum/Search/Google] Comment out the Google Search Bar.
  site/crum.html
Due: tidy-html

[#1][Crum/Dawoud] Run `make crum_appendices` to Pick up Dawoud Mappings.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#1][Crum/Dawoud] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/328.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/358.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/441.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/475.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/509.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/510.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/511.html
Due: tidy-html

[#9][Crum] Fix Typo in 409.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00301_00400.tsv
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/409.html
Due: tidy-html

[#5][Crum/Images] Update Image for 447.
  dictionary/marcion.sourceforge.net/data/img-300/447-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/447-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/447-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/447-1-1.png
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/447.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_447-1-1.jpg
Due: tidy-html, crum-img-validate

[#5,#189][Crum/Images] Update Images Senses.
  dictionary/marcion.sourceforge.net/data/img-300/143-3-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/143-3-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/143-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/143-3-2.txt
  dictionary/marcion.sourceforge.net/data/img/143-3-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/143-3-2.jpg
Due: crum-img-validate

[#109][Site/Home] Nit: Rewording.
  site/index.html
Due: tidy-html

[#229][Xooxle] Stop Alerting on Invalid Regular Expressions.
  site/crum.html
  site/data/build/xooxle.js
  site/xooxle.ts
Due: tidy-html, typescript-string-literals
