Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#405][Crum/Scan] Create a Sentinel Sheet for Crum.
  Makefile
Due: none

[#405][Dawoud/Scan] Add Akhmimic Khai to the List of Letters.
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#405][Dawoud/Search] Draft a Validator.
  dictionary/copticocc.org/main.py
Due: python-unittest-exists, python-unittest

[#405][Dawoud/Search] Validate Scan Sentinels in a pre-commit Hook.
  .pre-commit-config.yaml
Due: none

[#405][Dawoud/Search] The Sheet has been Filled. Tighten Validation.
  dictionary/copticocc.org/main.py
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#405][Dawoud/Search] Run `make dawoud_sentinels`.
  docs/dawoud/arabic.tsv
  docs/dawoud/coptic.tsv
  docs/dawoud/greek.tsv
Due: none

[#197][Bible] Polish the Code.
  bible/stshenouda.org/main.py
  utils.py
Due: python-unittest-exists, python-unittest

[#405][Dawoud/Search] Run `make dawoud_sentinels` for Full Greek Data.
  docs/dawoud/greek.tsv
Due: none

[#405][Dawoud/Search] Add Validation for Greek Sentinels.
  dictionary/copticocc.org/main.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#295][Site/Home] Update the Home Page.
  docs/img/lexicon/lexicon.png
  docs/index.html
  docs/style.css
Due: tidy-html

[#241][Site] Update CSS for `h1`.
  docs/style.css
Due: none

[fix #418][Site/Home] Change Screenhot Placement on the Home Page.
  docs/index.html
  docs/style.css
Due: tidy-html

[fix #417,fix #242][Crum/Flashcards] Abbreviations. English Lookups.
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/style.css
Due: typescript-string-literals

[fix #410][Lexicon/Scan] Migrate the Validator to TypeScript.
  .pre-commit-config.yaml
  dictionary/copticocc.org/main.py
  docs/crum/crum/crum.ts
  docs/dawoud/dawoud.ts
  docs/scan.ts
  docs/utils.ts
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig-node.json
  tsconfig.json
Due: python-unittest-exists, json-tool, python-unittest, typescript-string-literals

[fix #410][Lexicon/Scan] Run `make transpile test`.
  docs/crum/crum/crum.js
  docs/dawoud/dawoud.js
  docs/scan.js
  docs/utils.js
Due: none

[Site/TypeScript] Add Docs. Split `utils.ts` into Focused Files.
  docs/dawoud/dawoud.ts
  docs/env.ts
  docs/logger.ts
  docs/scan.ts
  docs/utils.ts
  docs/xooxle.ts
Due: typescript-string-literals

[Site/TypeScript] Run `make transpile test`.
  docs/dawoud/dawoud.js
  docs/env.js
  docs/logger.js
  docs/scan.js
  docs/utils.js
  docs/xooxle.js
Due: none

[Site/TypeScript] Delete Obsolete Files.
  eslint.config.mjs
  tsconfig-node.json
Due: json-tool

[#5][Crum/Images] Delete Misleading Images.
  dictionary/marcion.sourceforge.net/data/img-sources/842-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/842-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/842-1-1.png
  dictionary/marcion.sourceforge.net/data/img/842-2-1.png
  docs/crum/explanatory/842-1-1.jpg
  docs/crum/explanatory/842-2-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Fix Typos.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 2618.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#5][Crum/Images] Delete a Misleading Picture.
  dictionary/marcion.sourceforge.net/data/img-sources/2486-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2486-1-1.jpeg
  docs/crum/explanatory/2486-1-1.jpeg
Due: crum-img-validate

[#227,#189,#255,#321][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#417][Crum/HTML] Use Randy's Abbreviations.
  docs/crum/crum.js
  docs/crum/crum.ts
Due: typescript-string-literals

[#295][Site/Home] Change the Phrasing of the Donation Prompt.
  docs/index.html
Due: tidy-html

[fix #426][Books] Slow Down Mouse Wheel Zoom.
  docs/scan.js
  docs/scan.ts
Due: typescript-string-literals

[#5][Crum/Images] Delete a Misleading Image for 436.
  dictionary/marcion.sourceforge.net/data/img-sources/436-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/436-1-1.jpg
  docs/crum/explanatory/436-1-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Fix Typo in 1084.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 2705.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 2574.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 2439 #drv3889.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#5][Crum/Images] Delete Misleading Image for 2486.
  dictionary/marcion.sourceforge.net/data/img-sources/2486-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/2486-2-1.jpg
  docs/crum/explanatory/2486-2-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Fix Typo in 233.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#261][Crum/Images/Helper] Accept Multiple Arguments where Possible.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest
