Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/dropdown.js
  docs/dropdown.js.map
  docs/str.js
  docs/str.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#413][Crum/Wiki] Add a TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#427][CSS] Give Nesting `.dropdown` Elements a Distinctive Color.
  docs/dropdown.css
Due: docs-structure, prettier, stylelint, playwright

[#542][Crum/Wiki/References] Parse Suffixes Separated by an Ampersand.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add Reference Placeholders.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#614][Crum/Wiki/Pages] Make Columns Optional in the Page Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#614][Crum/Wiki/Pages] Make Columns Optional in the Page Regex.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add 'scala' as a Suffix.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #697][Lexicon/Xooxle] Parameterize `UNITS_LIMIT`. Use 3 for Wiki.
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#696][Lexicon] Pagination Links Scroll to Dictionary Titles.
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#696][Lexicon] Nit: Minor Syling Updates.
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[#696][Lexicon] Reduce `.pagination` Opacity, to resemble `.counter`.
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[#696][Lexicon] Render Pagination Links outside Search Results Table.
  docs/xooxle.css
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#413][Lexicon/Scan] Use `query` as the URL Parameter instead of `page`.
  docs/bible/bible.ts
  docs/browser.ts
  docs/collapse.ts
  docs/scan.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #700][Crum/Wiki] Search for Antecedents Across Paragraphs.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#700][Crum/Wiki] Exercise Antecedent Search across Paragraphs.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/browser.js
  docs/browser.js.map
  docs/collapse.js
  docs/collapse.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
  docs/scan.js
  docs/scan.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#507,#701][Crum/Wiki/Xooxle] Retain `coptic` and `greek`.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#507,#701,#503][Crum/Wiki] `make crum test`
  docs/crum/1136.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#167][Crum] Add a TODO.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Lexicon] Stop collapsed tables from inflating document scroll height.
  docs/collapse.css
Due: docs-structure, prettier, stylelint, playwright

[fix #52][KELLIA/Flashcards] Highlight Target Dialect.
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/marcion_sourceforge_net/crum.py
  flashcards/main.py
  utils/javascript.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/1393.html
  docs/crum/1409.html
  docs/crum/1410.html
  docs/crum/230.html
  docs/crum/49.html
  docs/crum/898.html
  docs/crum/crum.json
  docs/crum/index.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add a Variant.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#507][Crum/Marcion] `make crum test && git checkout HEAD "*.json"`
  docs/crum/1182.html
  docs/crum/1340.html
  docs/crum/210.html
  docs/crum/231.html
  docs/crum/2526.html
  docs/crum/328.html
  docs/crum/329.html
  docs/crum/330.html
  docs/crum/364.html
  docs/crum/370.html
  docs/crum/374.html
  docs/crum/549.html
  docs/crum/678.html
  docs/crum/985.html
  docs/crum/interrogative adverb.html
  docs/crum/interrogative pronoun.html
Due: tidy-html, docs-structure, playwright

[#507,#503][Crum/Marcion,Wiki] `make crum test`
  docs/crum/1422.html
  docs/crum/240.html
  docs/crum/413.html
  docs/crum/912.html
  docs/crum/913.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#507][Crum/Marcion] Use `<span class="greek">` for Greek Words.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/parse.py
Due: mypy, darglint

[fix #507,#694][Crum/TypeScript] Restrict Coptic and Greek lookups.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#507][Crum/Marcion] Retain the `greek` Class in Marcion.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#507][Crum/Marcion] `make crum test`
  docs/crum/crum.json
Due: docs-structure, prettier, playwright

[#203][CSS/Headers] Make the Header Less Obtrusive.
  docs/header.css
Due: docs-structure, prettier, stylelint, playwright

[#203][CSS/Headers] Unify Header Styling.
  dictionary/marcion_sourceforge_net/crum.py
  docs/crum/crum.css
  docs/crum/crum/index.html
  docs/crum/index.html
  docs/dawoud/index.html
  docs/header.css
  docs/scan.css
  docs/scan.ts
  docs/style.css
  utils/paths.py
Due: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright
