Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#503][Crum/Wiki] `make crum test`
  docs/crum/1149.html
  docs/crum/2311.html
  docs/crum/2673.html
  docs/crum/2793.html
  docs/crum/450.html
  docs/crum/511.html
  docs/crum/513.html
  docs/crum/644.html
  docs/crum/688.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#576][Crum/Sheet] Nit: Update a Comment.
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#565][Crum/Wiki/References] Add a Variant.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
Due: docs-structure, prettier, playwright

[#227,#9,#503][Crum] `make crum test`
  docs/crum/101.html
  docs/crum/1099.html
  docs/crum/1873.html
  docs/crum/19.html
  docs/crum/2066.html
  docs/crum/2089.html
  docs/crum/2090.html
  docs/crum/2238.html
  docs/crum/2318.html
  docs/crum/2326.html
  docs/crum/2383.html
  docs/crum/2588.html
  docs/crum/2656.html
  docs/crum/2723.html
  docs/crum/315.html
  docs/crum/316.html
  docs/crum/757.html
  docs/crum/categories.html
  docs/crum/construction.html
  docs/crum/crum.json
  docs/crum/earth.html
  docs/crum/noun male.html
Due: tidy-html, docs-structure, prettier, playwright

[#508][Crum/Wiki] Verify Marcion Keys.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum] `make crum test`
  docs/crum/2501.html
  docs/crum/813.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#541][Xooxle] Better Error Handling.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#503][Crum] `make crum test`
  docs/crum/2656.html
  docs/crum/2755.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[fix #614][Crum/Wiki] Add Hyperlinks for Page Numbers.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#438][Crum/Wiki/HTML] Modify a Substitution Rule.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#614][Crum/Wiki] Update Page Reference Check.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[fix #611][KELLIA] Create a `data/input` Directory.
  dictionary/kellia_uni_goettingen_de/data/input/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: tidy-xml, mypy, darglint

[fix #612][Andreas] Create a `data/raw` Directory.
  dictionary/stmacariusmonastery_org/data/raw/data_1.html
  dictionary/stmacariusmonastery_org/data/raw/data_2.html
Due: tidy-html

[#503][Crum/Wiki] `make crum test`
  docs/crum/1620.html
  docs/crum/1995.html
  docs/crum/2467.html
  docs/crum/2475.html
  docs/crum/2491.html
  docs/crum/2513.html
  docs/crum/2530.html
  docs/crum/2582.html
  docs/crum/2607.html
  docs/crum/2615.html
  docs/crum/2620.html
  docs/crum/2621.html
  docs/crum/838.html
  docs/crum/839.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[Pre-commit] Nit: Expand the Ignore Pattern in `docs_structure.py`.
  pre-commit/docs_structure.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/1146.html
  docs/crum/1620.html
  docs/crum/1831.html
  docs/crum/238.html
  docs/crum/2607.html
  docs/crum/745.html
  docs/crum/anatomy.html
  docs/crum/crum.json
  docs/crum/noun female.html
Due: tidy-html, docs-structure, prettier, playwright

[#415][Crum/Scan] Pipeline Generates Scan Index from Wiki Headwords.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum/coptic.tsv
  pre-commit/docs_structure.py
  utils/file.py
  utils/orth.py
Due: docs-structure, mypy, darglint, playwright

[#415][Crum/Scan] `make crum test`
  docs/crum/crum/coptic.tsv
Due: docs-structure, playwright

[#573][Crum] `make crum test`
  docs/crum/1478.html
  docs/crum/1836.html
  docs/crum/255.html
  docs/crum/363.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#227][Crum] `make crum test`
  docs/crum/2462.html
  docs/crum/2473.html
  docs/crum/2631.html
  docs/crum/2650.html
  docs/crum/2956.html
Due: tidy-html, docs-structure, playwright

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[#573,#9][Crum/Derivations,Typos] `make crum test`
  docs/crum/1469.html
  docs/crum/1474.html
  docs/crum/278.html
  docs/crum/crum.json
  docs/crum/noun female.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[#573][Crum] `make crum test`
  docs/crum/1060.html
  docs/crum/410.html
  docs/crum/544.html
  docs/crum/560.html
  docs/crum/569.html
  docs/crum/624.html
  docs/crum/795.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/noun male.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[#573][Crum/Derivations] `make crum test`
  docs/crum/11.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#546][Crum/Wiki] Update Subparagraph Styling.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[fix #546][Crum/Wiki] Retain Subparagraphs in the Xooxle Index.
  flashcards/constants.py
Due: mypy, darglint

[#546][Crum/Wiki] Introduce a Notation for Tab Characters.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
