Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#194,#565][Crum/Wiki/Annotations] Add Annotations, Variants. Fix Typo.
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[#305][KELLIA] Snapshot Sahidic Inflections File.
  dictionary/kellia_uni_goettingen_de/data/raw/inflections.tab
Due: none

[#305][Xooxle] Allow Empty Tags with Classes. Add Code Docs.
  xooxle/clean.py
  xooxle/constants.py
Due: mypy, darglint

[#305][Python/Utils] Allow Passing `kwargs` to `gcp.tsv_spreadsheet`.
  utils/file.py
  utils/gcp.py
Due: mypy, darglint

[#139][`README`] Add a Note about Cloning with `--depth=1`.
  README.md
Due: none

[#305][KELLIA] Populate Bohairic Supplemental Entries.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#305][KELLIA] Cache Bohairic Supplementl Entries.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#221][KELLIA,copticsite] Prefer `functools.cache`.
  dictionary/copticsite_com/copticsite.py
  dictionary/kellia_uni_goettingen_de/kellia.py
  flashcards/constants.py
Due: mypy, darglint

[#305][KELLIA] Add Sahidic Supplemental Entries.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#305][KELLIA] Sort Supplemental Forms.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#233][Crum/HTML] Remove an Obsolete TODO.
  flashcards/constants.py
Due: mypy, darglint

[#425][Crum/Wiki/References] Kircher's tooltip links Macomber's Books.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
Due: docs-structure, prettier, playwright

[#305,#577][KELLIA] Restrict Supplemental Entries. Clean some Code.
  dictionary/kellia_uni_goettingen_de/kellia.py
  flashcards/constants.py
Due: mypy, darglint

[#577][KELLIA] Code Quality!
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#305,#577][KELLIA] Moving docs.
  README.md
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#577][KELLIA] Code Quality!
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/kellia_uni_goettingen_de/sources.py
Due: mypy, darglint

[#577][KELLIA] Code Quality! Ignore `oRef` Tags.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#577][KELLIA] Mention Ignored Artifacts in the Docs.
  README.md
Due: none

[#51,#578][KELLIA] Add TODO's.
  dictionary/kellia_uni_goettingen_de/kellia.py
  flashcards/constants.py
Due: mypy, darglint

[#577][KELLIA] Refactor the Analysis Code.
  dictionary/kellia_uni_goettingen_de/analysis.py
  utils/file.py
Due: mypy, darglint

[#577][KELLIA] Remove `analysis.json`
  dictionary/kellia_uni_goettingen_de/data/output/analysis.json
Due: prettier

[#577][KELLIA] Update Pre-commit Hooks.
  .pre-commit-config.yaml
Due: none

[#577][KELLIA] `make kellia_analysis test`
  dictionary/kellia_uni_goettingen_de/data/output/analysis.yaml
Due: none

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
