Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#279][Xooxle/Crum] Add the Dialect K.
  site/crum.html
  site/crum.ts
Due: tidy-html, typescript-string-literals

[#279][Xooxle/Crum] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#229][Xooxle/Crum] Nit: Add Links to KELLIA and copticsite.
  site/crum.html
  site/crum.ts
Due: tidy-html, typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#229][Xooxle] Fix Highlighting Bug.
  site/style.css
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#229][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#278,#229][Crum/Flashcards,Xooxle] Miscellaneous Updates.
  site/constants.py
  site/crum.ts
  site/xooxle.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#278,#229][Crum/Flashcards] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#280][Crum/Flashcards] Nit: Add a TODO.
  site/crum.ts
Due: typescript-string-literals

[#278,#229][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#280,#229][Xooxle,Crum] Run `make transpile test`.
  site/data/build/crum.js
  site/data/build/xooxle.js
Due: none

[#229][Xooxle] Stop Trimming the Search Box Content.
  site/xooxle.ts
Due: typescript-string-literals

[#241][Crum/Flashcards] Nit: Retain `<a>` Color under `<strong>`.
  site/style.css
Due: none

[#229,#230][Xooxle] Fix Bug in Regex Search.
  site/crum.html
  site/style.css
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229,#230][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#229,#280][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#278][Crum/Flashcards] Fix Undialected Highlighting.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/Flashcards] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#278][Crum/Flashcards] Stop Reloading on Anki. Add some Docs.
  site/crum.ts
Due: typescript-string-literals

[Site] Update Build / Publish Rules.
  Makefile
Due: none

[#278][Crum/Flashcards] Deduplicate some Highlighting Logic.
  site/crum.ts
Due: typescript-string-literals

[#230][Xooxle] Simplify Parameters for Result HREF.
  site/constants.py
  site/xooxle.py
  site/xooxle.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#230][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#229,#233][Crum/Flashcards] Wrap the Type and Meaning in a <div>.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#229,#233][copticsite/Flashcards] Wrap Word in `<span class="word">`.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#229,#230][Xooxle] Use New Field Structure, with the `units` Parameter.
  site/xooxle.ts
Due: typescript-string-literals

[#229,#230][Xooxle] Add Styling for the New Unit Field Handling.
  site/style.css
Due: none

[#229,#230][Xooxle] New Index Building Logic. And update constants.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#229,#230][Crum/Flashcards/Xooxle] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#241][CSS] Split the Shared CSS File into Sections.
  site/style.css
Due: none
