Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#419][Crum/Wiki/Bible] Add a Comment about the generated Bible Mapping.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[#419][Crum/Wiki/Bible] `make bible transpile test`
  docs/crum/bible.js
  docs/crum/bible.ts
Due: typescript-string-literals

[#213][Flashcards/CSS] Allow multiple CSS Files in Flashcards.
  flashcards/constants.py
  flashcards/deck.py
  stats.py
  utils/ensure.py
  utils/page.py
  utils/paths.py
Due: python-unittest-exists, python-unittest

[#419]Crum/Wiki/Bible] Add a Comment about the Mapping.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[#419,#194][Crum/Wiki/Bible] Handle Susanna. Add docs.
  docs/crum/crum.ts
Due: typescript-string-literals

[#419,#194][Crum/Wiki/Bible] `make transpile test`
  docs/crum/crum.js
Due: none

[#419,#194][Crum/Wiki/Bible] Update Wanted Reference Count.
  test/test.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#419][Crum/Wiki] Store Grammatical and Instructional Abbreviations.
  .pre-commit-config.yaml
  docs/crum/abbreviations.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/abbreviations.js
Due: none

[#419][Crum/Wiki] Delete Trailing Periods from Abbreviation Full Form.
  docs/crum/abbreviations.ts
Due: typescript-string-literals

[#419,#194][Crum/Wiki] Show Tips for Abbreviations.
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/html.ts
Due: typescript-string-literals

[#419,#194][Crum/Wiki] Define Styling for Wiki droppable tips.
  docs/style.css
Due: none

[#419,#194][Crum/Wiki] Add Dropdown CSS to Crum Notes.
  flashcards/constants.py
  utils/paths.py
Due: python-unittest-exists, python-unittest

[#213][platform/Python] `ensure.singleton` supports non-`Hashable`.
  utils/ensure.py
Due: python-unittest-exists, python-unittest

[#194][Crum/Wiki] Show Tips for Dialect Names.
  docs/crum/crum.ts
Due: typescript-string-literals

[#194][Crum/Wiki] Add some Latin Abbreviations.
  docs/crum/abbreviations.ts
Due: typescript-string-literals

[#194][Crum/Wiki] Test Dialects and Abbreviations Tips.
  test/test.ts
Due: typescript-string-literals

[#253,#194][TypeScript] Watch out for Regex `lastIndex` property!
  docs/html.ts
  docs/orth.ts
Due: typescript-string-literals

[#419,#194][Crum/Wiki] Slightly Simplify Replacement Logic.
  docs/crum/crum.ts
  docs/html.ts
Due: typescript-string-literals

[#419,#194][Crum/Wiki] `make transpile test`
  docs/crum/abbreviations.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/html.js
  docs/orth.js
Due: none

[#419][Crum/Wiki] Add Tips for Bible Book Titles. Rename Method.
  docs/crum/crum.ts
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/crum.js
  docs/crum/lexicon.js
Due: none

[#518][Crum/Wiki/Bible] Show correct title for Book of Susanna.
  docs/crum/crum.ts
Due: typescript-string-literals

[#518][Crum/Wiki/Bible] `make transpile test`
  docs/crum/crum.js
Due: none

[fix #519][Xooxle] Retain `<sup>` Tags by default.
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#519][Xooxle] `make crum test`
  docs/crum/wiki.json
Due: json-tool

[#194,#419][Crum/Wiki] Nit: Strengthen the Regex using `\b`.
  docs/crum/crum.ts
Due: typescript-string-literals

[#194,#419][Crum/Wiki] `make transpile test`
  docs/crum/crum.js
Due: none

[#253][Xooxle] Retain Diacritics in display. Only ignore in Search.
  docs/xooxle.ts
Due: typescript-string-literals

[#253][Xooxle] `make transpile test`
  docs/xooxle.js
Due: none

[#419][Crum/Wiki] Draft References.
  .pre-commit-config.yaml
  docs/crum/references.ts
Due: typescript-string-literals

[#419][Crum/Wiki] Update the Reference Spell Checking Exclusion Rule.
  .pre-commit-config.yaml
Due: none

[#419][Crum/Wiki] Uniform categories abbreviations.
  docs/crum/annotations.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/style.css
  test/test.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/annotations.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/references.js
Due: none

[#419][Crum/Wiki] Prevent Abbreviation Overlap.
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/crum/references.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/references.js
Due: none

[fix #520][Crum/Wiki] Use a `bullet` class instead of `<b>` for bullets.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/style.css
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
