Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#270][Crum/Xooxle] Show Keys, to aid in Sister Search.
  site/xooxle.ts
Due: typescript-string-literals

[#270][Crum/Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#226,#269,#271,#272][Crum/Sisters] Separate Sister Sections with <br>.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Delete Inaccurate/ Irrelevant Pictures.
  dictionary/marcion.sourceforge.net/data/img-300/94-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/99-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/94-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/99-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/94-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/99-1-1.png
Due: crum-img-validate

[#227][Crum/Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#241][Crum/CSS] Perform `:target` Highlighting Selectively.
  site/style.css
Due: none

[#241][Crum/CSS] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1044.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1240.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1278.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1462.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1472.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1548.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1963.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2011.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2012.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2226.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2303.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2510.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/26.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2731.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2742.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2759.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/580.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/607.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/682.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/693.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/712.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/714.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/880.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/924.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/981.html
Due: tidy-html

[#226][Crum/Sisters] Relax the Restrictions on Sister Format.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#226][Crum/Sisters] Add a Space between Sisters by Default.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[Pre-commit] `pre-commit autoupdate`.
  .pre-commit-config.yaml
Due: none

[Node] Ignore `package-lock.json` and `package.json`.
  .gitignore
  package-lock.json
  package.json
Due: json-tool

[#150][Utils] Make a Helper more Generic.
  utils.py
Due: python-unittest-exists, python-unittest

[#213][Python/Pre-commit/Git] Change the `mypy` Cache Location.
  .gitignore
Due: none

[#187][Crum/Images/Helper] Remove `pillow_avif`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#226,#269,#271,#272][Crum/Sisters] appendices_helper 2.0!
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#227,#226,#269,#271,#272][Crum/Sisters] `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#227,#226,#269,#271,#272][Crum/Sisters/Flashcards] Use Relaxed Format.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[TypeScript/Pre-commit] Update `eslint` Invocation and NPM Installation.
  .pre-commit-config.yaml
  Makefile
Due: none

[#177][Stats] Adjust Range for the Repo Size.
  stats.sh
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#226,#269,#271,#272][Crum/Sisters] Support Fragments in Relations.
  dictionary/marcion.sourceforge.net/appendices_helper.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#231][Stats] Delete TODO. Fix a couple of typos.
  stats.sh
Due: none

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1278.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1472.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1548.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/160.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/228.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2303.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2742.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/375.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/607.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/682.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/693.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/712.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/714.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/880.html
Due: tidy-html

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1124.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1260.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1304.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/131.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1546.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/161.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1752.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/178.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1802.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1815.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/194.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1992.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2065.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2176.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/227.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2329.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2489.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2570.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2644.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/273.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2841.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/328.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/329.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/330.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/374.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/377.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/485.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/54.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/678.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/68.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/711.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/743.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/912.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/985.html
Due: tidy-html

[#5][Crum/Images] Replace the Picture for 1260.
  dictionary/marcion.sourceforge.net/data/img-300/1260-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1260-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-sources/1260-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/1260-1-1.png
  dictionary/marcion.sourceforge.net/data/img/1260-1-1.webp
Due: crum-img-validate

[#261][Crum/Images/Helper] `from PIL import Image`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images,Senses] Updates Image Senses for 530.
  dictionary/marcion.sourceforge.net/data/img-300/530-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/530-4-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-sources/530-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/530-4-1.txt
  dictionary/marcion.sourceforge.net/data/img/530-3-1.png
  dictionary/marcion.sourceforge.net/data/img/530-4-1.jpeg
Due: crum-img-validate

[#226, fix #270][Crum/Sisters] Restore Full Title.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

Revert "[#226][Crum] Populate a Short, Dialected, Classed Title."
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest-exists, python-unittest

[#227,#1,#8,#255,#189][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
