Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#213][Pre-commit] Execute `trailing-whitespace` Earlier.
  .pre-commit-config.yaml
Due: none

[#5][Crum/Images/Makefile] Stop Excluding Verbs when Using the Helper.
  Makefile
Due: none

[Site/Makefile] Update the Build Error Message to Point to `--clean`.
  site/publish.sh
Due: none

[#229][Crum/Search] Run `make xooxle` to Pick up Removal of Titles.
  site/data/crum/index.json
Due: json-tool

[#229][Crum/Search] Exclude Title from the Index Text.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#213][Pre-commit] Fix Bug in `trailing-whitespace`.
  .pre-commit-config.yaml
Due: none

[#78,#183,#213][Crum/Appendices] Use Python. Validate in Pre-commit.
  .pre-commit-config.yaml
  Makefile
  dictionary/marcion.sourceforge.net/appendices.py
  dictionary/marcion.sourceforge.net/test/test_appendices.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#189,#75][Crum/Appendices] Run `make crum_appendices`.
  dictionary/marcion.sourceforge.net/data/input/derivation_appendices.tsv
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5][Crum/Images] Update Image Senses for 330 (ⲟⲩⲱ).
  dictionary/marcion.sourceforge.net/data/img-300/330-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/330-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/330-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/330-1-3.txt
  dictionary/marcion.sourceforge.net/data/img/330-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/330-1-3.png
Due: crum-img-validate

[#108,#229][Crum/Search] Nit: Slightly Simplify Result Storage.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Display the Results in a Table instead of a List.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#229][Crum/Search] Use the Regex Match Object to Find Full Words.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Retain the Text on Separate Lines in the Index.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#229][Crum/Search] Run `make xooxle` to pick up multi-line text.
  site/data/crum/index.json
Due: json-tool

[#229][Crum/Search] Show Search Context.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#223][TypeScript/JavaScript] Retain the Comments.
  flashcards/data/build/a_coptic_dictionary/script.js
  site/data/build/xooxle.js
  tsconfig.json
Due: none

[#229][Crum/Search] Respond to both `keypress` and `input` Events.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Use Debouncing to Reduce Jitter.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Control the Table Column Widths.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229][Crum/Search] Embed Link in Title.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229][Crum/Search] Start Search at Checkbox Check Events as Well.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Reduce Debounce Timet to 100ms.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#9][Crum/Typos] Fix Typo.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
Due: none

[#229][Crum/Search] Add a Note about Ⲅⲟⲟⲅⲗⲉ not Working as Expected.
  site/data/crum/index.html
Due: tidy-html

[#231,#214][Stats] Nit: Reassign TODO.
  stats.sh
Due: none

[#230][Site] Add a Command to Squash All Commit History.
  site/publish.sh
Due: none

[#5,#189][Crum/Images,Senses] Update the Sense of an Image.
  dictionary/marcion.sourceforge.net/data/img-300/268-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/268-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/268-3-1.jpg
Due: crum-img-validate

[#229][Crum/Search] Trigger Search with User Input.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#230][Site] Commit Message has Information about the Main Repo Status.
  site/publish.sh
Due: none

[#229][Crum/Search] Split Results with a Horizonal Line.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229][Crum/Search] Delete an Obsolete TODO.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#232][Crum/Search] Generate Search Text more Intelligently.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#229][Crum/Search] Page Link Lives on a Separate Column.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Initialize Table Header in JavaScript.
  site/data/build/xooxle.js
  site/data/crum/index.html
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229,#233][Crum/Search] Assign IDs to Front, Back, and Full Entry.
  flashcards/constants.py
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#229,#233][Crum/Search] Run `make crum`.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00301_00400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00401_00500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00501_00600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00601_00700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00701_00800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00801_00900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00901_01000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01001_01100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01101_01200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01201_01300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01301_01400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01401_01500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01501_01600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01701_01800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01801_01900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01901_02000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02001_02100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02101_02200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02201_02300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02301_02400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02401_02500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02501_02600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02601_02700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02701_02800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02801_02900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03001_03100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03101_03200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03201_03300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03301_03400.tsv
Due: none

[#229,#233][Crum/Flashcards] Assign Classes to Derivation Table Cells.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest

[#229,#233][Crum] Assign a Class and an ID to the Derivations Table.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest

[#229,#233][Crum/Flashcards] Use `<div>` Tags more Extensively.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
