Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[fix #675][Crum/Wiki] Enrich in a Single Pass.
  docs/crum/annotations.ts
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/html.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#675][Crum/Wiki] Page Handling Falls back to Annotations.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki/Bible] Add a Variant for Sirach.
  bible/stshenouda_org/data/input/bible.json
Due: prettier

[#524][Crum/Wiki/Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #674][Xooxle/Lexicon] Add an Option for Case-sensitive Search.
  docs/crum/help.ts
  docs/crum/id.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/help.js
  docs/crum/help.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1077.html
  docs/crum/1088.html
  docs/crum/1123.html
  docs/crum/1140.html
  docs/crum/2102.html
  docs/crum/955.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[TypeScript] Nit: Deindent Code.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[platform] `make update`
  .pre-commit-config.yaml
  package-lock.json
  package.json
  requirements.txt
Due: prettier

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[fix #672][Crum/Wiki/References] Handle Form Superscripts.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #667][Crum/Wiki/Annotations] Tighten the Question Mark Heuristic.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#675][Crum/Wiki] Code Quality.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#657][Crum/Wiki] Add a Character to the Demotic Regex.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#438][Crum/Wiki] Add Dashes as valid Superscript Characters.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/1344.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#540][Crum/Wiki] Simplify Footnote Handling.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/id.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#540][Crum/Wiki] `make crum test`: Pick up a Footnote.
  docs/crum/379.html
Due: tidy-html, docs-structure, playwright

[#524][Crum/Wiki] Update the `Is` Heuristic.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki] Add / Update Reference, Variants, Postfixes.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki] Update the Isaiah Citation Heuristic.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations, Variants, Docs.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Update Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#555][HTML] Disable Wrapping.
  tidy_config.txt
Due: none

[#511][Crum/Wiki] `ib` can also be capitalized.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki] `no` is a Suffix.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] `pl` is a Suffix.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
