Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#542][Crum/Wiki] Update the Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Crum/Wiki] Update Docs about Manual Labels.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[KELLIA] Update the Link.
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/marcion_sourceforge_net/crum.py
  docs/paths.ts
  utils/paths.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1756.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/212.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2364.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3202.txt
Due: none

[#614][Crum/Wiki] Update the Page Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/paths.js
  docs/paths.js.map
Due: docs-structure, prettier, playwright

[#614][Crum/Wiki] Page Manual Labels contain Page Number and Column.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/64.txt
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#778][Crum/Wiki] Stop Clearing Materialization Directory.
  dictionary/marcion_sourceforge_net/wiki.ts
Due: prettier, typescript-unittest

[#778][Crum/Wiki] Pipeline Points to a Specific Page on Error.
  dictionary/marcion_sourceforge_net/wiki.ts
Due: prettier, typescript-unittest

[platform/TypeScript] Throw on Errors in Node.js or Developer Mode.
  docs/dev.ts
  docs/logger.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#661][Crum/Wiki] Omit an Abandoned Issue Number from a TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#419][Crum/Wiki] Document Suffix Handling Inconsistency.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#572][Crum/Wiki] Skip Empty Text Nodes.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#748][Crum/Wiki] Update Docs on Antecedent Search Limitations.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/dev.js
  docs/dev.js.map
  docs/logger.js
  docs/logger.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1052.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/116.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1344.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1952.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/223.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/523.txt
Due: none

[#737][Crum/Wiki] Prevent use of the Stack Notation for the Nomisma.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#745][Crum/Wiki] Point the Ambrose command at the code.
  .claude/commands/ambrose.md
Due: check-one-readme

[#542][Crum/Wiki/References] Document Suffixes Interrupted by Superscripts.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#427][Crum/Wiki] Locate Addenda Marks more Precisely.
  docs/crum/crum.css
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#194][Crum/Wiki] Handle a False Positive Pattern.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#542][Crum/Wiki] Add `line` as a Suffix.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#542][Crum/Wiki] Suffixes can't end with `V`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#542][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1033.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1203.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1255.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1274.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/228.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2948.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/413.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/43.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/704.txt
Due: none

[#677][Crum/Wiki] Handle Daniel 14 in Roman Numerals.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
