Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[TypeScript] `make transpile test`
  docs/cls.js
  docs/crum/book.js
  docs/crum/crum.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/crum/wiki.js
  docs/dialect.js
  docs/header.js
  docs/html.js
Due: docs-structure, prettier, playwright

[#427,#413,#640,#411][Crum/Scan] Reassign TODO's. Pretty Page Numbers.
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/scan.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/wiki.js
  docs/scan.js
Due: docs-structure, prettier, playwright

[#438][Crum/Wiki/CSS] Update Gloss and Bullet Colors.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#9,fix #646,fix #644][Crum/Marcion] `make crum test`
  docs/crum/1728.html
  docs/crum/369.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[#296][Crum/Parser] Remove Restriction on Presence of Dialects.
  dictionary/marcion_sourceforge_net/parse.py
Due: mypy, darglint

[#296][Crum/Parser] Integrate the `words` Column.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/sheet.py
Due: mypy, darglint

[#9][Crum] `make crum test`
  docs/crum/111.html
  docs/crum/369.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#572][Crum/Wiki/References] Expand the Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Update a Test Case.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[#648][Crum/Wiki/References] Add a TODO.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#573][Crum/Derivations] `make crum test`
  docs/crum/1230.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] Simplify a Signature.
  docs/bible/main.ts
  docs/crum/crum.ts
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
  docs/dropdown.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#648][Crum/Wiki/References] More Lenient Reference Parser.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #649][Crum/Wiki/References] Guard against Overlapping References.
  docs/crum/wiki.ts
  docs/html.ts
  eslint.config.mjs
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki/Bible] Fix Bug.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#648][Crum/Wiki/References] Stricter Reference Parser.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#651][Crum/Wiki] Nit: `…` doesn't need to be escaped in the Regex.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#565][Crum/Wiki/References] Add Variants.
  docs/crum/annotations.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/177.html
  docs/crum/2719.html
  docs/crum/3384.html
  docs/crum/54.html
  docs/crum/574.html
  docs/crum/575.html
  docs/crum/576.html
  docs/crum/578.html
  docs/crum/580.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/374.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make transpile test`
  docs/bible/main.js
  docs/crum/annotations.js
  docs/crum/crum.js
  docs/crum/lexicon.js
  docs/crum/references.js
  docs/crum/wiki.js
  docs/dropdown.js
  docs/html.js
Due: docs-structure, prettier, playwright

[#524][Crum/Wiki/Bible] Add an Abbreviation Variant.
  bible/stshenouda_org/data/input/bible.json
Due: prettier

[#524][Crum/Wiki/Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Add a Reference.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Expand the Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503,#573][Crum] `make crum test`
  docs/crum/54.html
  docs/crum/580.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[fix #653][Crum/Wiki/CSS] Reduce Bullet Margin.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#557][Crum/Wiki/Tests] Add Tests for 54. The largest Entry!
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#419][TypeScrpt] Nit: Simplify a Signature.
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/wiki.js
  docs/html.js
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Process Coptic Text.
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`: Fix a typo.
  docs/crum/54.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
