Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#5][Crum/Images] Run `make flashcards test`.
  docs/crum/1241.html
  docs/crum/1788.html
  docs/crum/1793.html
Due: tidy-html

[#345,#277,#389,#384][Lexicon] Run `make bashandy test`.
  docs/crum/bashandy.html
Due: tidy-html

[#1,#5,#277,#189,#8][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#378][Flashcards/Makefile] Simplify Makefile Rules.
  Makefile
Due: none

[#345][Lexicon] Abbreviate Walter Crum's First Name.
  docs/crum/bashandy.html
  docs/crum/index.html
Due: tidy-html

[fix #391,#277][Crum/Flashcards] Fix Dialect Sync. Simpler Highlighting.
  docs/crum/crum.js
  docs/crum/crum.ts
Due: typescript-string-literals

[#385][Bible/TypeScript] Fix Bug. Slightly simplify Logic.
  docs/bible/bible.js
  docs/bible/bible.ts
Due: typescript-string-literals

[#372][HTML] Add HTML <body> Classes for Dawoud, and Home.
  docs/dawoud/index.html
  docs/index.html
Due: tidy-html

[#31][Crum] Fix Bug in Scan Download Script.
  Makefile
  dictionary/marcion.sourceforge.net/download_scan.sh
Due: none

[#9][Crum/Typos] Fix Typo in ⲱϣϫ.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#5][Crum/Images] Delete Some Images.
  dictionary/marcion.sourceforge.net/data/img-sources/1340-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-4.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-5.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-6.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-7.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1670-2-8.txt
  dictionary/marcion.sourceforge.net/data/img/1340-1-1.avif
  dictionary/marcion.sourceforge.net/data/img/1670-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-2.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-3.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-4.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-5.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-6.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-7.jpeg
  dictionary/marcion.sourceforge.net/data/img/1670-2-8.jpeg
  docs/crum/explanatory/1340-1-1.avif
  docs/crum/explanatory/1670-2-1.jpeg
  docs/crum/explanatory/1670-2-2.jpeg
  docs/crum/explanatory/1670-2-3.jpeg
  docs/crum/explanatory/1670-2-4.jpeg
  docs/crum/explanatory/1670-2-5.jpeg
  docs/crum/explanatory/1670-2-6.jpeg
  docs/crum/explanatory/1670-2-7.jpeg
  docs/crum/explanatory/1670-2-8.jpeg
Due: crum-img-validate

[#31][Crum/Scan] Use `.jpeg` to Avoid Conflict with Dawoud.
  dictionary/marcion.sourceforge.net/download_scan.sh
Due: none

[#31][Crum/Scan] Update `docs_structure.py` to account for the New Scan.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[fix #31][Crum/Flashcards] Use the New Scan.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#227,#1] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#5][Crum/Images] Delete some Misleading Images.
  dictionary/marcion.sourceforge.net/data/img-sources/2190-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2190-1-1.jpg
  docs/crum/explanatory/2190-1-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Fix Typo in ϣpⲏϥⲓ.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo. It's ϩⲓⲡ̀ϩⲟ.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 1031.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 436.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 1965.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#227,#321,#1,#8][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#9][Crum] Spell out -ϩⲉⲙ to ⲉⲗϩⲉⲙ.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
