Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#261][Crum/Images/Helper] Don't Open Images from `thenounproject`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#189,#255][Crum/Senses] Run `make crum_appendices`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#261][Crum/Images/Helper] Add a `magick` Wrapper Script.
  archive/crop_y.sh
  dictionary/marcion.sourceforge.net/convert.sh
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#1,#189][Crum/Senses,Dawoud] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5,#1][Crum/Images,Dawoud] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/492.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/772.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/774.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/775.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/778.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/781.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/784.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/789.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/790.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/791.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_772-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_772-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_774-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_775-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_778-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_781-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_781-2-2.JPG
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_784-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_784-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_789-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_789-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_790-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_791-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_791-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_791-3-1.jpg
Due: tidy-html

[#261][Crum/Images/Helper] Nit: Prettify the List of Obsolete Artifacts.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#189][Crum/Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5,#189][Crum/Images,Senses] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/792.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/794.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/795.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/799.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/803.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/804.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/805.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/806.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/807.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/811.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_792-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_792-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_794-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_795-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_795-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_799-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_799-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_803-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_803-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-3-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-6-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-7-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-8-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_804-9-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_805-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_805-1-3.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_806-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_806-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_806-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_806-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_807-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_811-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_811-3-1.jpg
Due: tidy-html

[#189,#255][Crum/Senses,Pages] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5,#189][Crum/Images,Senses] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/812.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/813.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/814.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/815.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/817.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_812-1-1.JPG
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_813-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_813-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_814-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_814-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_814-3-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_814-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_814-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_815-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_815-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_817-1-1.jpg
Due: tidy-html

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/211-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/211-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/818-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/818-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/819-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/819-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/820-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/820-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/821-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/822-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/211-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/818-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/818-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/819-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/819-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/820-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/820-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/821-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/822-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/211-1-1.png
  dictionary/marcion.sourceforge.net/data/img/211-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/818-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/818-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/819-1-1.png
  dictionary/marcion.sourceforge.net/data/img/819-2-1.png
  dictionary/marcion.sourceforge.net/data/img/820-1-1.png
  dictionary/marcion.sourceforge.net/data/img/820-2-1.png
  dictionary/marcion.sourceforge.net/data/img/821-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/822-1-1.png
Due: crum-img-validate

[#1,#5,#189][Crum/Images,Senses,Dawoud] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/211.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/257.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/818.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/819.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/820.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/821.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/822.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/834.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_211-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_211-1-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_818-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_818-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_819-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_819-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_820-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_820-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_821-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_822-1-1.jpg
Due: tidy-html

[#1,#8,#189][Crum/Dawoud,Notes,Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#9][Crum/Typos] Revisit the meaning of 715.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00601_00700.tsv
Due: none

[#5][Crum/Images] Add / Update Images.
  dictionary/marcion.sourceforge.net/data/img-300/335-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/715-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/715-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/718-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/893-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/893-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/335-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/715-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/715-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/718-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/893-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/893-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/335-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/715-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/715-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img/718-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/718-2-1.png
  dictionary/marcion.sourceforge.net/data/img/893-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/893-1-1.png
  dictionary/marcion.sourceforge.net/data/img/893-2-1.jpg
Due: crum-img-validate

[#1,#5,#8,#189][Crum/...] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/335.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/385.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/715.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/718.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/893.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_335-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_715-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_715-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_718-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_893-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_893-2-1.jpg
Due: tidy-html

[#5][Crum/Images] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/825.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/832.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/833.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/835.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_825-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_825-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_825-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_832-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_833-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_833-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_833-1-3.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_833-1-4.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_833-1-5.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_835-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_835-2-1.jpg
Due: tidy-html

[#8,#189][Crum/Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#8,#5,#189][Crum/Notes,Images,Senses] Run `make flashcards`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2882.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/825.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/833.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2882-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2882-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2882-1-3.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2882-1-4.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2882-1-5.jpg
Due: tidy-html

[fix #22][Crum/Images/Helper] Query Freepik, Vecteezy, and Flaticon.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#22][Crum/Images/Helper] Deduplicate Image Source Query Logic.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#22][Crum/Images/Helper] Support Querying Sites through Google / Bing.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#22][Crum/Images/Helper] Add a Provider-Generic Icon Query.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum/Images/Helper] Simplify the Calls to the OS `open` Command.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest
