Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#409][Dawoud/Scan] Fix Landing Page in the HTML.
  docs/dawoud/index.html
Due: tidy-html

[#404][Crum/Scan] Fix Landing Page in the HTML.
  docs/crum/crum/index.html
Due: tidy-html

[#457][Site/Test] Add `npx playwright install` to Installation Steps.
  install.sh
Due: none

[#457][Site/Test] Update `.gitignore`, `stats.sh`, and `env/find.sh`.
  .gitignore
  env/find.sh
  stats.sh
Due: none

[#457][Site/Test] Create a `tsconfig_playwright.json`.
  eslint.config.mjs
  tsconfig.json
  tsconfig_playwright.json
  tsconfig_test.json
Due: json-tool

[TypeScript/ESLint] Nit: Add Comments to `eslint.config.mjs`.
  eslint.config.mjs
Due: none

[#457][Site/Test] `codespell` Hook Ignores Node Unit Test Keywords.
  .pre-commit-config.yaml
Due: none

[#457][Site/Test] Add a Basic Playwright Configuration.
  playwright.config.ts
Due: typescript-string-literals

[#457][Site/Test] Add Comments and TODO's.
  docs/dawoud/main.ts
  docs/env.ts
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#457][Site/Test] Invoke Playwright Tests in Pre-commit.
  .pre-commit-config.yaml
Due: none

[#457][Site/Test] Add a Basic Playwright Test.
  test/test.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#9][Crum/Typos] Run `make crum test`.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#274][Lexicon/Help] Update the KELLIA Shortcut to `K`.
  docs/crum/help.ts
Due: typescript-string-literals

[#274][Lexicon/Help] Run `make transpile test`.
  docs/crum/help.js
  docs/dawoud/main.js
  docs/env.js
Due: none

[fix #470][Crum/Flashcards] Use a new List of Abbreviations.
  docs/paths.ts
Due: typescript-string-literals

[#470][Crum/Flashcards] Run `make transpile test`.
  docs/paths.js
Due: none

[#457][Site/Test] Move Playwright Pre-commit Hook to the Very End.
  .pre-commit-config.yaml
Due: none

[fix #473][Crum/Flashcards] Update Pronominal / Qualitative Notation.
  dictionary/marcion_sourceforge_net/constants.py
Due: python-unittest-exists, python-unittest

[#9][Crum/Typos] Run `make crum test` to Pick up Typo in 89 (ⲥⲱⲧⲡ).
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#476][Font] Modify the Appearance of the Upper Dagger.
  docs/fonts/AntinoouFont-1.0.6/Antinoou.ttf
  docs/fonts/AntinoouFont-1.0.6/AntinoouItalic.ttf
Due: none

[fix #476][Font] Regenerate the WOFF2 Font Files.
  docs/fonts/AntinoouFont-1.0.6/_Antinoou.woff2
  docs/fonts/AntinoouFont-1.0.6/_AntinoouItalic.woff2
Due: none

[#9][Crum/Typos] Run `make crum test` to Pick up Typo Fixes.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#204][Crum/Parser] Run `make crum test`. Pick up Greek Unicode.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#204][Crum/Parser] Run `make crum test` to pick up white space typos.
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#204][Crum/Parser] Greek Text is Converted to Unicode.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[#204][Crum/Parser] Simplify Parsing. Get rid of some white space.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[#204][Crum/Parser] Quality is Already Parsed.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[#204][Crum/Parser] Run `make crum test` to pick up parsed quality.
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#204][Crum/Parser] Type Column doesn't Need Parsing.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/parse.py
  dictionary/marcion_sourceforge_net/tree.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#204][Crum/Parser] Run `make crum test` to pick up Parsed Type Column.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[fix #63][Crum/Parser] Simplify and Fix Coptic-within-English Parsing.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[#63][Crum/Parser] Run `make crum test` to pick up white space typos.
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none
