Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[fix #511][Crum/Wiki] Parse References after `ib` Elements.
  docs/crum/annotations.ts
  docs/crum/cls.ts
  docs/crum/references.ts
  docs/crum/white.ts
  docs/crum/wiki.ts
  eslint.config.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/white.js
  docs/crum/white.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] `make crum test`
  docs/crum/2742.html
  docs/crum/614.html
  docs/crum/615.html
  docs/crum/616.html
  docs/crum/617.html
  docs/crum/622.html
  docs/crum/633.html
  docs/crum/634.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#565][Crum/Wiki/References] Fix a Typo. Add a Postfix.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#657][Crum/Wiki] Add `regex` as a Python Dependency.
  requirements.in
Due: none

[#657][Crum/Wiki] `pip-compile`
  requirements.txt
Due: none

[#503,#255][Crum] `make crum test`
  docs/crum/2651.html
  docs/crum/2655.html
  docs/crum/681.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[fix #657][Crum/Wiki] Introduce a Notation for Demotic.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#194][Crum/Wiki] Handle a False Positive.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#657][Crum/Wiki] Expand the Demotic Regex.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503,#9, fix #660][Crum] `make crum test`
  docs/crum/1254.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation Variant.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/835.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#438][Crum/Wiki] Validate all Non-Latin Text is Bracketed.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/184.html
  docs/crum/283.html
Due: tidy-html, docs-structure, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/163.html
  docs/crum/198.html
  docs/crum/25.html
  docs/crum/257.html
  docs/crum/2723.html
  docs/crum/2749.html
  docs/crum/2757.html
  docs/crum/3388.html
  docs/crum/3389.html
  docs/crum/3390.html
  docs/crum/631.html
  docs/crum/632.html
  docs/crum/635.html
  docs/crum/636.html
  docs/crum/637.html
  docs/crum/638.html
  docs/crum/639.html
  docs/crum/640.html
  docs/crum/658.html
  docs/crum/659.html
  docs/crum/660.html
  docs/crum/661.html
  docs/crum/662.html
  docs/crum/664.html
  docs/crum/665.html
  docs/crum/666.html
  docs/crum/667.html
  docs/crum/668.html
  docs/crum/673.html
  docs/crum/674.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#572][Crum/Wiki] Expand the Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Add Annotations.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #663][Site/Font] Use `Noto Sans`, `monospace` as Fallbacks.
  docs/fonts/NotoSans/_NotoSans-Italic-VariableFont_wdth,wght.woff2
  docs/fonts/NotoSans/_NotoSans-VariableFont_wdth,wght.woff2
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[fix #657][Crum/Wiki] Retain, italicize Demotic. Force Small Letters.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#657][Crum/Wiki] `make crum test`
  docs/crum/crum.json
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki] Nit: Update Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1581.html
  docs/crum/1765.html
  docs/crum/1981.html
  docs/crum/1994.html
  docs/crum/2230.html
  docs/crum/2279.html
  docs/crum/2313.html
  docs/crum/2343.html
  docs/crum/2359.html
  docs/crum/2507.html
  docs/crum/2564.html
  docs/crum/2575.html
  docs/crum/2807.html
  docs/crum/3301.html
  docs/crum/3319.html
  docs/crum/3387.html
  docs/crum/438.html
  docs/crum/519.html
  docs/crum/523.html
  docs/crum/540.html
  docs/crum/606.html
  docs/crum/631.html
  docs/crum/682.html
  docs/crum/838.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1254.html
  docs/crum/2655.html
  docs/crum/3393.html
  docs/crum/681.html
  docs/crum/835.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#511][Crum/Wiki] Fall back to ignoring parentheses for `ib`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#633][Crum/Wiki] The Equal Sign can act as a Comma.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#572][Crum/Wiki] Update the Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki] Handle Bible Citations with `–`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/180.html
  docs/crum/2802.html
  docs/crum/3394.html
  docs/crum/5.html
  docs/crum/689.html
  docs/crum/763.html
  docs/crum/764.html
  docs/crum/768.html
  docs/crum/772.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
