Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[fix #300][Xooxle] Eliminate View Cell Jitter.
  site/style.css
  site/xooxle.ts
Due: typescript-string-literals

[#300][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#300][Xooxle] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

Revert "[#300][Xooxle] Run `make flashcards test`."
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

Revert "[#300][Xooxle] Run `make transpile test`."
  site/data/build/xooxle.js
Due: none

Revert "[fix #300][Xooxle] Eliminate View Cell Jitter."
  site/style.css
  site/xooxle.ts
Due: typescript-string-literals

[fix #300][Site/Xooxle] Fix View Cell Jitter in a Much Simpler Way.
  site/xooxle.ts
Due: typescript-string-literals

[#300][Site/Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#221][TODO/`pre-commit`] Run `check-todo` at the End.
  .pre-commit-config.yaml
Due: none

[#274][Crum/TypeScript] Nit: Use E for KELLIA.
  site/crum.ts
Due: typescript-string-literals

[#274][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#274][Crum/TypeScript] Nit: Update Help Panel Docs.
  site/crum.ts
Due: typescript-string-literals

[#276][TypeScript] Run `npm install` to Update Packages.
  package.json
Due: json-tool

[#276][TypeScript] `npm install` can fetch Dependencies from `package.json`.
  Makefile
Due: none

[#276][TypeScript] Nit: Reformat `site/tsconfig.json`.
  site/tsconfig.json
Due: none

[#276][TypeScript] `npm install --save-dev webpack webpack-cli`
  package.json
Due: json-tool

[#213][TypeScript/`pre-commit`/`eslint`] `npm add --save-dev` Packages.
  package.json
Due: json-tool

[#264][Crum/Xooxle] Nit: Add a Space before an Opening Parenthesis.
  site/crum.html
Due: tidy-html

[#5][Crum/Images] Move Images.
  dictionary/marcion.sourceforge.net/data/img-300/291-4-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/294-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/295-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/295-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/296-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/300-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/300-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/291-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/291-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/294-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/294-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/295-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/296-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/296-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/300-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/300-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/300-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/300-4-1.txt
  dictionary/marcion.sourceforge.net/data/img/291-4-1.webp
  dictionary/marcion.sourceforge.net/data/img/294-2-1.png
  dictionary/marcion.sourceforge.net/data/img/295-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/295-1-1.png
  dictionary/marcion.sourceforge.net/data/img/296-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img/300-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/300-4-1.jpg
Due: crum-img-validate

[#189][Crum/Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#189][Crum/Senses] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/271.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/272.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/273.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/274.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/275.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/276.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/277.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/278.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/279.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/280.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/281.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/282.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/284.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/285.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/287.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/289.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/290.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/291.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/292.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/294.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/295.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/296.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/297.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/299.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/300.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_291-4-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_294-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_295-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_295-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_296-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_300-2-1.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_300-4-1.jpg
Due: tidy-html

[#5][Crum/Images] Move Images.
  dictionary/marcion.sourceforge.net/data/img-300/311-5-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/322-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/330-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/330-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/350-3-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/352-4-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/354-2-1.avif
  dictionary/marcion.sourceforge.net/data/img-300/354-3-1.webp
  dictionary/marcion.sourceforge.net/data/img-sources/311-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/311-5-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/322-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/330-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/330-1-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/330-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/330-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/350-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/350-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/352-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/352-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/354-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/354-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/311-5-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/322-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/330-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/330-3-1.png
  dictionary/marcion.sourceforge.net/data/img/350-3-1.webp
  dictionary/marcion.sourceforge.net/data/img/352-4-1.webp
  dictionary/marcion.sourceforge.net/data/img/354-2-1.avif
  dictionary/marcion.sourceforge.net/data/img/354-3-1.webp
Due: crum-img-validate

[#9][Crum/Typos] Fix Typo in 2759.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#213][TypeScript/`pre-commit`] Add the `prettier` Hook.
  .pre-commit-config.yaml
  eslint.config.mjs
  package.json
Due: json-tool

[#213][TypeScript/`pre-commit`] `pre-commit run prettier --all-files`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  pre-commit/clean-css.js
  site/crum.ts
  site/data/build/crum.js
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#213][JSON/`pre-commit`] Use `prettier` for JSON.
  .pre-commit-config.yaml
  pre-commit/json-tool.sh
Due: none

[#213][TypeScript/`pre-commit`] Use `prettier` for CSS.
  .pre-commit-config.yaml
  pre-commit/clean-css.js
Due: none

[#213][JSON/`pre-commit`] Use `prettier` for JSON.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
  site/style.css
Due: none

[#51,#279][KELLIA] Add Extensive Type Hints.
  dictionary/kellia.uni-goettingen.de/main.py
Due: python-unittest-exists, python-unittest

[fix #279][KELLIA] Stop Substituting `K` for `Ak`.
  dictionary/kellia.uni-goettingen.de/main.py
Due: python-unittest-exists, python-unittest

[#279][Crum/Flashcards,Xooxle] Delete the K Dialect.
  site/crum.html
  site/crum.ts
Due: tidy-html, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
