Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#778][Crum/Wiki] `ambrose` has a lot less work to do now!
  .claude/commands/ambrose.md
Due: check-one-readme

[#522,#785][Crum/Wiki/References] Add a Remark about Numbering of `Va`.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#522][Crum/Wiki/References] Add Postfixes.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#705][Crum/Wiki/References] `Pr` could be Preisigke's Namenbuch.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/dev.js
  docs/dev.js.map
  docs/params.js
  docs/params.js.map
  docs/paths.js
  docs/paths.js.map
  docs/tooltip.js
  docs/tooltip.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] Update a Unit Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#522][Crum/Wiki/References] Add a Placeholder and a Prefix.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#404,#475,#173][Crum/Scan] Page 650 is too Skewed.
  docs/crum/crum/672.png
Due: docs-structure, playwright

[#427][Crum/Wiki] Update the Headword Regex.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#778][Crum/Wiki] Instruct Ambrose to only review `diff`s.
  .claude/commands/ambrose.md
Due: check-one-readme

[#522,#194][Crum/Wiki] Add a Placeholder, a Variant. Drop an Annotation.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki] Populate a Placeholder.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#454][Lexicon] Stop Defaulting to Bohairic.
  docs/crum/dialect.ts
  docs/crum/digital.ts
  docs/crum/main.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Add a Flag to Use Local TSV.
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#522][Crum/Wiki/References] Remove a Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#503][Crum/Wiki] Update Unit Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#647][Crum/Wiki] Add Case Variants of some Dangling Suffix Markers.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/dialect.js
  docs/crum/dialect.js.map
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/crum/main.js
  docs/crum/main.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#614][Crum/Wiki] Allow Manually Labeled Page Numbers.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#647][Crum/Wiki] Add a Dangling Suffix Marker.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/120.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1237.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/124.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/130.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/139.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/163.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1727.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/21.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2772.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2773.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2778.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/368.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/4.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/479.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/56.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/650.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/679.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/685.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/689.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/71.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/727.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/743.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/754.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/758.txt
Due: none
