Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#522,#523,#529,#457][Crum/Wiki/References] `make transpile test`
  docs/crum/references.js
  docs/crum/wiki.js
Due: none

[#457][Site/Test] `npm add --dev @types/jsdom jsdom`
  package-lock.json
  package.json
Due: json-tool

[#194][Crum/Wiki/Annotations] `make transpile test`
  docs/crum/annotations.js
Due: none

[#194][Crum/Wiki/Annotations] Delete Unused Field.
  docs/crum/annotations.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#419][Crum/Wiki] Move Checks to a Unit Test.
  docs/crum/wiki.js
  docs/crum/wiki.test.ts
  docs/crum/wiki.ts
Due: typescript-string-literals

[#457][TypeScript/Test] Allow Unit Tests to Import Browser Code.
  bun.ts
  bunfig.toml
  tsconfig.json
  tsconfig_test.json
Due: json-tool, typescript-string-literals

[#419][Crum/Wiki/References] Rewrite Check as a Unit Test.
  docs/crum/references.test.ts
Due: typescript-string-literals

[#529][Crum/Wiki/References] Replace `hyperlink` with `innerHTML`.
  docs/crum/references.ts
Due: typescript-string-literals

[fix #529][Crum/Wiki/References] Show Richer Tooltips.
  docs/crum/wiki.ts
Due: typescript-string-literals

[fix #521][Crum/Wiki] Handle Tooltip Overflow.
  docs/crum/index.html
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/dropdown.css
  docs/dropdown.ts
Due: tidy-html, typescript-string-literals

[#529,#521][Crum/Wiki] `make transpile test`
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/crum/references.js
  docs/crum/wiki.js
  docs/dropdown.js
Due: none

[#506][Crum/Wiki] Store replacements for a Plain Text Wiki.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#436][Crum/Wiki] Delete an Unnecessary `if` statement.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#506][Crum/Wiki] Simplify Wiki Substitutions, and add Comments.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#438][Crum/Wiki] Simplify the Interface.
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Update TODO's.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#399][Crum] Fix Typo. Key Ranges only Apply to Roots.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#399][Crum] Fix Bug. Process Derivations in Sheet Row Order.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Delete Obsolete Artifacts.
  dictionary/marcion_sourceforge_net/data/img-sources/386-1-1.txt
  dictionary/marcion_sourceforge_net/data/img-sources/386-3-1.txt
  dictionary/marcion_sourceforge_net/data/img/386-1-1.jpg
  dictionary/marcion_sourceforge_net/data/img/386-3-1.webp
  docs/crum/2837.html
  docs/crum/386.html
  docs/crum/explanatory/386-1-1.jpg
  docs/crum/explanatory/386-3-1.webp
Due: tidy-html, crum-img-validate

[#508][Crum/Wiki] Entries Needing Merging have been Merged.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Move reconciliation to a separate function.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Add a Helper to Generate Plain Text.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#503][Crum/Wiki] `make wiki crum test`
  docs/crum/2834.html
  docs/crum/778.html
  docs/crum/780.html
  docs/crum/wiki.json
Due: tidy-html, json-tool

[#194][Crum/TypeScript] Pretty Dialect Sigla with Tooltips.
  docs/crum/crum.ts
  docs/crum/dialect.ts
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
  docs/style.css
Due: typescript-string-literals

[#499][Lexicon] Restore a TODO.
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#194,#499][Crum/TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/dialect.js
  docs/crum/lexicon.js
  docs/crum/wiki.js
Due: none

[#194][Crum/TypeScript] Nit: Simplify Code.
  docs/crum/dialect.ts
Due: typescript-string-literals

[#194][Crum/TypeScript] `make transpile test`
  docs/crum/dialect.js
Due: none

[#194][Lexicon] Generate Dialect Checkboxes in TypeScript.
  docs/crum/dialect.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
Due: tidy-html, typescript-string-literals

[#194][Crum/TypeScript] Avoid Dimming Tooltips of Inactive Dialects.
  docs/crum/dialect.ts
  docs/crum/highlight.ts
Due: typescript-string-literals

[#194][Crum/TypeScript] `make transpile test`
  docs/crum/dialect.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
Due: none

[#372][Site/TypeScript] `make transpile test`
  docs/help.js
  docs/iam.js
Due: none
