Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#287][Crum/Categories] Update TODO's.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#327][Crum/Types] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#327][Crum/Types] Fix Typo. Escape Slashes in Path to Type Index Only.
  site/crum.ts
Due: typescript-string-literals

[#245][Site/SEO] Add the word "online".
  site/index.html
Due: tidy-html

[#327][Crum/Types] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#321,#227][Crum/Categories,Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#221][Site] Simplify Pipeline using `parallel`.
  Makefile
  site/publish.sh
Due: none

[#327][Crum/Indexes] Nit: Use more Indicative Variable Names.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#66][TODO] Slightly Speed up the `check-todo` Pre-commit.
  pre-commit/check-todo.sh
Due: none

[#287][Crum/Categories] Update Categories and TODO's. Add Descriptions.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#287][Crum/Categories] Define a Helper to Populate Categories.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#321,#227,#1][Crum/Categories,...] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#287,#332][Crum/Categories] List Contemplation doesn't belong in code!
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Miscellaneous Improvements.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#108,#245][Crum/Index] Escape Index Spaces to Silence Linter Warnings.
  site/publish.sh
Due: none

[#287][Crum/Categories] Rewrite Indexing Logic with OOP. Add Counts.
  flashcards/constants.py
  flashcards/deck.py
  site/style.css
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/categories.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/types.html
Due: tidy-html

[#197][Bible] Code Quality!
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[#112][Crum/TypeScript] Refer to the Root as `/` rather than `../`.
  site/crum.ts
Due: typescript-string-literals

[#112][Crum/TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#112][Crum/TypeScript] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#258][Crum/Images] Add Source for an 1871 picture.
  dictionary/marcion.sourceforge.net/data/img-sources/1871-1-1.txt
Due: crum-img-validate

[#5][Crum/Images] Correct Pictures for 1899.
  dictionary/marcion.sourceforge.net/data/img-300/1899-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1899-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/1899-1-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Fix Typo in 1954.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#5][Crum/Images] Add Image for 2044.
  dictionary/marcion.sourceforge.net/data/img-300/2044-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2044-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2044-1-1.jpg
Due: crum-img-validate

[#214][Stats] Reorganize. Validate each value right after it's computed.
  stats.sh
Due: none

[fix #310][Crum/TypeScript] Respond to Clicks based on Location.
  site/crum.ts
  site/data/build/crum.js
Due: typescript-string-literals

[#310][Crum/TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#310][Crum/TypeScript] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#310][Crum/TypeScript] Add TODO's.
  site/crum.ts
Due: typescript-string-literals
