Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[Site/Publish] Add Flag Shortcuts. Print Help on Unknown Flags.
  site/publish.sh
Due: none

[#274][Crum/Site] Add a Footer Bearing the `help` Button.
  flashcards/constants/a_coptic_dictionary/script.ts
  site/crum.ts
Due: typescript-string-literals

[fix #274][Crum/Site] Run `make transpile add flashcards test`.
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#271][Crum/Sisters/KELLIA] Include Greek Sisters in the Flashcards.
  flashcards/constants.py
  site/style.css
Due: python-unittest-exists, python-unittest

[#227,#271][Crum/Sisters/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2911.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3323.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/4.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: tidy-html

[#227][Crum/Sisters] Delete a non-Greek Sister.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#261][Crum/Images/Helper] Nit: Move `existing` to Global Scope.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum/Images/Helper] Add a Command to Clear all Images for a Word.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[Utils] Add Error-Handling Helpers, and Function Docs.
  utils.py
Due: python-unittest-exists, python-unittest

[fix #261][Crum/Images/Helper] Restructure File. Better Error Handling.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5,#227][Crum/Images,Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2911.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/924.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/926.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/928.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_924-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_926-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_928-1-1.jpg
Due: tidy-html

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/924-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/926-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/928-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/924-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/926-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/928-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/924-1-1.png
  dictionary/marcion.sourceforge.net/data/img/926-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/928-1-1.png
Due: crum-img-validate

[#261][Crum/Images/Helper] Simplify `--plot`. Add Shorthands.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum/Images/Helper] Rethrow Assertion Errors.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#226][Crum/Sisters/Helper] Fix Bug in Logged Info.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #178][Stats/Plot] Update Plotting Script.
  stats.py
Due: python-unittest-exists, python-unittest

[#278][Crum/TypeScript] Merge the Two Files.
  Makefile
  eslint.config.mjs
  flashcards/constants.py
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/constants/a_coptic_dictionary/tsconfig.json
  flashcards/data/build/a_coptic_dictionary/script.js
  site/crum.html
  site/crum.ts
  site/publish.sh
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[fix #278][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[Site/Publish] Nit: Fix Typo in Help Message.
  site/publish.sh
Due: none

[#274][Crum/Site] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#274][Crum/Site] Add a Command that Opens the Search Page.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Fix Bug. `dev` Button also Updates CSS.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Nit: XOOXLE is a Constant.
  site/crum.html
Due: tidy-html

[#278][Crum/TypeScript] Define the ANKI Constant.
  eslint.config.mjs
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#278][Crum/TypeScript] Fix Bugs. Customize certain Behaviors on Anki.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#278][Crum/TypeScript] Miscellaneous Updates.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Group Initialization Code into a Function.
  site/crum.ts
Due: typescript-string-literals

[#261][Crum/Images/Helper] Use an Exception, for Download Errors.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Update Images for 1 (ⲟⲩⲱⲓⲛⲓ).
  dictionary/marcion.sourceforge.net/data/img-300/1-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/1-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/1-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/1-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1-2-1.png
  dictionary/marcion.sourceforge.net/data/img/1-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1-3-1.png
Due: crum-img-validate

[#278][Crum/TypeScript] Fix Bug. Show Nag Hammadi in Developer Mode.
  site/crum.ts
Due: typescript-string-literals

[#241][Crum/CSS] Disable CORS for CSS Access.
  flashcards/deck.py
  site/crum.html
  site/index.html
Due: python-unittest-exists, tidy-html, python-unittest

[#278][Crum/TypeScript] Remove the Special Handling for Links in Anki.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Update Comments about the Help Panel on Anki.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Improve Detection of the Text Fragment.
  site/crum.ts
Due: typescript-string-literals
