Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[TypeScript] `make transpile test`
  docs/crum/references.js
  docs/crum/wiki.js
Due: none

[#523][Crum/Wiki/References] Prevent Duplicate Abbreviations.
  docs/crum/references.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/references.js
Due: none

[#560][Bible] Define JSON Schema.
  bible/__init__.py
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
Due: python-unittest-exists, python-unittest

[#560][Bible] Restructure Code. Group Books by Testament and Section.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[#560][Bible] Add a `<hr>` between Sections in the Index.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[#560][Bible] Define a Schema for the Info JSON as well.
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
Due: python-unittest-exists, python-unittest

[#560][Bible] `make bible test`
  docs/bible/index.html
Due: tidy-html

[#560][Bible] Nit: Update some Type Hints.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[fix #560][Bible] Index shows Testaments in Separate Columns.
  bible/stshenouda_org/main.py
  docs/bible/bible.css
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #563][Crum/Wiki] Use Unicode-aware Word Boundary Regexes.
  docs/crum/wiki.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/wiki.js
Due: none

[#557,#419][Crum/Wiki] Rewrite the Test to Support Multiple Files.
  test/wiki.ts
Due: typescript-string-literals

[#490][TypeScript] Code quality!
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/id.ts
  docs/crum/index.html
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
  docs/dropdown.ts
  docs/paths.ts
Due: tidy-html, typescript-string-literals

[#419,#557,fix #563][Crum/Wiki/References] Add Test Case. Update TODO's.
  test/wiki.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/id.js
  docs/crum/lexicon.js
  docs/crum/wiki.js
  docs/dropdown.js
  docs/paths.js
Due: none

[#407][Flashcards/CSS] Fix Bug. Add CSS to the subindexes.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#563][TypeScript] Simplify Regexes. Move Boundary to a Shared Package.
  docs/crum/wiki.ts
  docs/str.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/wiki.js
  docs/str.js
Due: none

[#564][Flashcards] Simplify some Code.
  flashcards/constants.py
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#564][Flashcards] Rename Parameter. Delete Unused Parameter.
  flashcards/constants.py
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#564][Flashcards] Simplify Code.
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#194][Crum/Wiki/Annotations] Add Annotations for `i e` and `e g`.
  docs/crum/annotations.ts
Due: typescript-string-literals

[#194][Crum/Wiki/Annotations] Nit: Sort annotations alphabetically.
  docs/crum/annotations.ts
Due: typescript-string-literals

[#523][Crum/Wiki/References] Add TODO's.
  docs/crum/references.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/crum/wiki.js
Due: none

[#419][Crum/Wiki/References] Add a variant for `Berl. Wörterb`.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: typescript-string-literals

[#194,#522,#523][Crum/Wiki] Treat `Lect`, `Sitz`, `Mart` as Annotations.
  docs/crum/annotations.ts
  docs/crum/references.ts
Due: typescript-string-literals

[#490][TypeScript] Fix Bug in Anki Navigation Handling.
  docs/crum/crum.ts
Due: typescript-string-literals

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/crum.js
  docs/crum/references.js
Due: none

[#419][Crum/Wiki/References] Add `TurMat` as a variant for `TurM`.
  docs/crum/references.ts
Due: typescript-string-literals

[#1][Crum/Dawoud] `make crum test`
  docs/crum/1986.html
  docs/crum/2212.html
  docs/crum/2478.html
  docs/crum/701.html
Due: tidy-html

[#419][Crum/Wiki/References] Allow Multiple Variants.
  docs/crum/references.ts
Due: typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
