Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#437][Crum/Wiki] Add a TODO.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

Revert "[#439,#498][Crum/TypeScript] Simplify Highlighting."
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/css.ts
  docs/style.css
Due: typescript-string-literals

[#439,#498][Crum/TypeScript] `make transpile test`
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/css.js
Due: none

[#508][Crum/Wiki] Add some Checks and Log Messages about the Mapping.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Nit: Simplify Logic.
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#508][Crum/Wiki] Nit: Simplify Logic.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#514][Xooxle] Allow Retention of Tag Attributes.
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[fix #514][Crum/HTML] Retain Hyperlinks in Editor's Notes.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[fix #490,#16][platform] Add Docs.
  README.md
Due: none

[#399][Crum/Parser] Define Column Names as an Enum.
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/tsv.py
  flashcards/constants.py
  stats.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Simplify the Sheet Interface.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/sheet.py
  dictionary/marcion_sourceforge_net/tsv.py
  stats.py
  utils/gcp.py
Due: python-unittest-exists, python-unittest

[#221][Platform] Simplify GCP Client Caching.
  utils/gcp.py
Due: python-unittest-exists, python-unittest

[#514][Xooxle] Make Attribute Order Deterministic.
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Export a second method for retrieving fresh roots.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Use new Crum Interface in `appendices_helper.py`.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
  utils/paths.py
Due: python-unittest-exists, python-unittest

[#321][Crum/Categories] `make crum test`
  docs/crum/2012.html
  docs/crum/categories.html
  docs/crum/physics.html
Due: tidy-html

[#367][Crum/Senses] Add `pyyaml` and `types-pyyaml` as Dependencies.
  requirements.in
Due: none

[#367][Crum/Senses] `pip-compile requirements.in`
  requirements.txt
Due: none

[fix #367][Crum/Senses] Use YAML instead of JSON.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Use the Interface to Write Categories.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[fix #517][Flashcards] Fix Font Underscore.
  docs/style.css
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[platform] Create a System Utilities File.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/img_helper.py
  flashcards/deck.py
  stats.py
  utils/system.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Images] Export Images in the Crum Interface.
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/main.py
  flashcards/constants.py
  utils/file.py
  utils/page.py
  utils/paths.py
  utils/semver.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Improve Image Interface and use it more widely.
  .pre-commit-config.yaml
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/main.py
  flashcards/constants.py
  utils/file.py
  utils/semver.py
Due: python-unittest-exists, python-unittest

[#177][Stats] Treat `xooxle/` and `test/` as Site Code.
  stats.py
Due: python-unittest-exists, python-unittest

[#481][Crum/Flashcards] Add Hyperlinks to Root Rows.
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/sheet.py
  flashcards/constants.py
  utils/gcp.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Parser] Improve Image Interface and use it more widely.
  bible/stshenouda_org/main.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/main.py
  utils/system.py
Due: python-unittest-exists, python-unittest

[fix #481,#241][Crum/Flashcards] Add Hyperlinks to Derivation Rows.
  dictionary/marcion_sourceforge_net/main.py
  docs/crum/crum.ts
  docs/crum/highlight.ts
  docs/style.css
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#481,#241][Crum/Flashcards] `make transpile test`
  docs/crum/crum.js
  docs/crum/highlight.js
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
