Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#445,#413][Bible/pre-commit] Update the HTML Tidy Hooks.
  .pre-commit-config.yaml
Due: none

[#445][TypeScript/Dialects] Dispatch an Event. Add a `force` Parameter.
  docs/bible/highlight.ts
  docs/crum/highlight.ts
  docs/dialect.ts
  docs/highlight.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Xooxle] Parameterize the `view` Text.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Lexicon/Xooxle] Get rid of `<form>`. Flatten Structure.
  docs/crum/digital.ts
  docs/crum/id.ts
  docs/crum/index.html
  docs/crum/query.ts
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/highlight.js
  docs/bible/highlight.js.map
  docs/crum/digital.js.map
  docs/crum/highlight.js
  docs/crum/highlight.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/query.js
  docs/crum/query.js.map
  docs/dialect.js
  docs/dialect.js.map
  docs/highlight.js
  docs/highlight.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#723][Claude] Define the `/peter` Command.
  .claude/commands/peter.md
  .pre-commit-config.yaml
Due: check-one-readme

[#445][TypeScript] Follow Semantic Conventions in Event Name.
  docs/dialect.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][TypeScript] Generalize a Helper Method.
  docs/browser.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] Nit: Remove a Redundant Parameters.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Bible] Restructure Chapter CSS to Prevent Conflict with Index.
  docs/bible/style.css
Due: docs-structure, prettier, stylelint, playwright

[#723][AI] Turn on Claude Notifications.
  .claude/settings.json
Due: prettier

[#221][KELLIA] Load the sheet lazily to speed up module import.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

Revert "[#445][Xooxle] Fix Bug. Escape Text in the HTML."
  xooxle/xooxle.py
Due: mypy, darglint

[#445][Xooxle] Use a Stricter Tag Regex.
  utils/page.py
  xooxle/clean.py
  xooxle/constants.py
  xooxle/xooxle.py
Due: mypy, darglint

[#445][Xooxle] Harden tag handling around the stricter regex.
  xooxle/clean.py
  xooxle/constants.py
  xooxle/xooxle.py
Due: mypy, darglint

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] Update Completeness Percentage.
  docs/crum/digital.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/dialect.js
  docs/dialect.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add Placeholders. Update an Entry.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#712][Crum/Wiki/References] `make pisaxo` also Creates a Commit.
  Makefile
Due: none

[Crum/Wiki/References] `make pisaxo`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#712][Crum/Wiki/References] Verify Normalization during JS Generation.
  dictionary/marcion_sourceforge_net/pisaxo.ts
  docs/crum/references.test.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Remove some Variants encountered only once.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#194][Crum/Wiki/Annotations] Add a Variant.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add a Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#508][Crum/Wiki] Non-vide Entries must have a Single Key.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#508][Crum/Wiki] Split Two Entries.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#522][Crum/Wiki/References] Delete an Unused Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#604][TypeScript] Detect Node.js Executions.
  docs/dev.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#481][Crum/Marcion] Nit: Add a Comment.
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#522,#709][Crum/Wiki/References] Add a Suffix. Add a TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Update Comments.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
