Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#194,#542][Crum/Wiki] Handle Corner Cases.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] Update Unit Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#511][Crum/Wiki] Antecedent Search Heuristic.
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#511][Crum/Wiki] Nit: Fix Latent Bug in Antecedent Search.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#511][Crum/Wiki] Symmetric Antecedent Search Heuristic.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1063.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1109.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1139.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1209.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/146.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1896.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/20.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/203.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2198.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/228.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2521.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2694.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2914.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3415.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/6.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/710.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/717.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/725.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/730.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/951.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/960.txt
Due: none

[#745][Crum/Wiki] Document Three Manual-Label Idioms.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#245][Site] Draft a Sitemap Generator.
  Makefile
  sitemap.py
Due: mypy, darglint

[#245][Site] `make sitemap test`
  docs/sitemap.xml
Due: docs-structure, tidy-xml, playwright

[#245][Site] Account for Sitemap in Pre-commit.
  pre-commit/docs_structure.py
Due: mypy, darglint

[#787][Crum/Wiki] Hovering an Anaphor also Highlights the Antecedent.
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#427][Crum/Wiki] `make crum test`
  docs/crum/1226.html
  docs/crum/1240.html
  docs/crum/1323.html
  docs/crum/1366.html
  docs/crum/1727.html
Due: tidy-html, docs-structure, playwright

[#427][Crum/Wiki] Headword Regex Accounts for Addenda.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] Delete an Obsolete TODO.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki] Add a Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#778][Crum/Wiki] Nit: Fix Remark about `wiki`'s execution time.
  Makefile
Due: none

[#427,#540][Crum/Wiki] Use a Fixed Symbol for Addenda and Footnotes.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#427,#540][Crum/Wiki] Change the Appearance of the Double Dagger.
  docs/fonts/AntinoouFont-1.0.6/Antinoou.ttf
  docs/fonts/AntinoouFont-1.0.6/AntinoouItalic.ttf
Due: docs-structure, playwright

[#427,#540][Crum/Wiki] Generate `woff2` from `ttf`.
  docs/fonts/AntinoouFont-1.0.6/Antinoou.woff2
  docs/fonts/AntinoouFont-1.0.6/AntinoouItalic.woff2
Due: docs-structure, playwright

[#427,#787][CSS] Fix Addenda and Antecedent Background Transparency.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#788][Site/Font] Create TTFs containing only Overrides.
  docs/fonts/overrides/overrides.ttf
  docs/fonts/overrides/overridesItalic.ttf
Due: docs-structure, playwright
