Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#399][Crum/Images] Fix small bug.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#5][Crum/Images] Add an Image.
  dictionary/marcion_sourceforge_net/data/img-sources/2819-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/2819-1-2.png
  docs/crum/explanatory/2819-1-2.jpg
Due: docs-structure, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#9,#227,#573][Crum/Typos,Relations,Derivations] `make crum test`
  docs/crum/1263.html
  docs/crum/1282.html
  docs/crum/1303.html
  docs/crum/1639.html
  docs/crum/1673.html
  docs/crum/253.html
  docs/crum/278.html
  docs/crum/2819.html
  docs/crum/317.html
  docs/crum/3230.html
  docs/crum/3300.html
  docs/crum/347.html
  docs/crum/537.html
  docs/crum/857.html
  docs/crum/crum.json
  docs/crum/noun.html
  docs/crum/time.html
  docs/crum/verb.html
Due: tidy-html, docs-structure, prettier, playwright

[#493][Crum] Make one Error Message more Helpful.
  dictionary/marcion_sourceforge_net/lexical.py
Due: mypy, darglint

[#227,#573,#321][Crum] `make crum test`
  docs/crum/1100.html
  docs/crum/1287.html
  docs/crum/1638.html
  docs/crum/1713.html
  docs/crum/2443.html
  docs/crum/339.html
  docs/crum/435.html
  docs/crum/537.html
  docs/crum/697.html
  docs/crum/categories.html
  docs/crum/colors.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#577][KELLIA] Miscellaneous.
  dictionary/kellia_uni_goettingen_de/analysis.py
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#577][KELLIA] `make kellia_analysis test`
  dictionary/kellia_uni_goettingen_de/data/output/analysis.yaml
Due: none

[#51][KELLIA] Fix some Apparent Typos.
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/BBAW_Lexicon_of_Coptic_Egyptian-v4-2020.xml
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
Due: tidy-xml

[#51][KELLIA] Run `make kellia test` to pick up a Typo Fix.
  docs/crum/kellia.json
Due: docs-structure, prettier, playwright

[#51][KELLIA] `make kellia_analysis test`
  dictionary/kellia_uni_goettingen_de/data/output/analysis.yaml
Due: none

[#51][KELLIA] `make kellia test`
  docs/crum/kellia.json
Due: docs-structure, prettier, playwright

[#51][KELLIA] Rigorous Parsing and Analysis.
  dictionary/kellia_uni_goettingen_de/analysis.py
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#51][KELLIA] Code Quality!
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#51][KELLIA] Comment out Empty Tags.
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/BBAW_Lexicon_of_Coptic_Egyptian-v4-2020.xml
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
Due: tidy-xml

[#227,#321,#573][Crum] `make crum test`
  docs/crum/1063.html
  docs/crum/2505.html
  docs/crum/2536.html
  docs/crum/523.html
  docs/crum/categories.html
  docs/crum/colors.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#51][KELLIA] Add Analysis Statistics, and improve Code Quality.
  dictionary/kellia_uni_goettingen_de/analysis.py
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[#577][KELLIA] Delete no-longer-used Files.
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/BBAW_Lexicon_of_Coptic_Egyptian-v4-2020.xml
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/DDGLC_Lexicon_of_Greek_Loanwords_in_Coptic-v2-2020.xml
Due: tidy-xml

[#577][KELLIA] Deduplicate Dataset.
  dictionary/kellia_uni_goettingen_de/analysis.py
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#583][Crum] Add NH ⲃⲉ. (Reference to be added later!)
  docs/crum/325.html
  docs/crum/563.html
  docs/crum/crum.json
  docs/crum/noun female.html
  docs/crum/species.html
  flashcards/constants.py
Due: tidy-html, docs-structure, prettier, mypy, darglint, playwright

[#583][Crum] `make crum test`: Add reference for (NH) ⲃⲉ.
  docs/crum/325.html
  docs/crum/563.html
  docs/crum/noun female.html
  docs/crum/species.html
Due: tidy-html, docs-structure, playwright

[#577][KELLIA] Code Quality!
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[TypeScript] `make transpile test`
  docs/crum/crum.js
Due: docs-structure, prettier, playwright

[#577][Crum/Nag Hammadi] Remove `ext` from References when Possible.
  dictionary/marcion_sourceforge_net/lexical.py
Due: mypy, darglint

[#583][Crum/Nag Hammadi] Update Reference Format. Omit Tractate Numbers.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#577][Crum/Nag Hammadi] `make crum test`: Pick up a Typo Fix.
  docs/crum/28.html
  docs/crum/29.html
  docs/crum/anatomy.html
  docs/crum/noun male.html
Due: tidy-html, docs-structure, playwright

[#583][Crum/Nag Hammadi] Allow Overriding URLs. Support Flyleaf Numbers.
  docs/crum/crum.ts
  docs/paths.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/paths.js
Due: docs-structure, prettier, playwright

[#583][Crum/Nag Hammadi] `make crum test`: Adjust Nag Hammadi Reference.
  docs/crum/14.html
  docs/crum/28.html
  docs/crum/29.html
  docs/crum/anatomy.html
  docs/crum/crum.json
  docs/crum/noun male.html
Due: tidy-html, docs-structure, prettier, playwright

[#167,#422][Crum] Remove Nag Hammadi from the Sisters Tables.
  dictionary/marcion_sourceforge_net/crum.py
  flashcards/constants.py
Due: mypy, darglint

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
