Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[fix #752][Crum] Editor's Notes are now Written in Markdown.
  dictionary/marcion_sourceforge_net/crum.py
  utils/markdown.py
Due: mypy, darglint

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#685,#658,#672,#710][Crum/Wiki] Enrich Wikis more Completely on Xooxle.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#286,fix #755][Xooxle] Handle Spacing Diacritics in Fragments.
  docs/browser.ts
  docs/orth.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/orth.js
  docs/orth.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#755][Xooxle] Add a Link to the Chromium Bug about Spacing Diacritics.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#724][CSS] Fix Tooltip Overflow on Safari.
  docs/tooltip.css
Due: docs-structure, prettier, stylelint, playwright

[#427][Crum/Wiki/CSS] Lighten the Color of Insertion Underlines.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#522][Crum/Wiki/References] Add a Suffix Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#427][Crum/Wiki] Suppress competing colors when an Addendum is Hovered.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#522][Crum/Wiki/References] Preemptively Insert Spaces in Postfixes.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[Crum/Wiki/References] `make pisaxo`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#676][Crum/Wiki/Annotations] Suffixes can End in `s v`.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#647][Crum/Wiki] `nos` also marks Dangling Suffixes.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#614][Crum/Wiki] Crum References Pages with Roman Numerals.
  docs/crum/book.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#511][Crum/Wiki] Document Known issues with Antecedent Search.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#206][Python] Avoid Name Mangling.
  bible/stshenouda_org/main.py
  flashcards/deck.py
Due: mypy, darglint

[#438][Crum/Wiki/HTML] Delete Dead Code.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#438][Crum/Wiki/HTML] Prevent Tags starting with a Space.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[HTML] Remove Spaces after Opening Tags.
  bible/stshenouda_org/main.py
  docs/crum/index.html
  docs/index.html
Due: tidy-html, crum-tidy-html, docs-structure, mypy, darglint, playwright

[HTML] `make bible test`
  docs/bible/index.html
Due: tidy-html, docs-structure, playwright

[KELLIA] Fix some Typos in Source Data.
  dictionary/kellia_uni_goettingen_de/data/input/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
Due: tidy-xml

[#131][Bible] Fix Typo.
  bible/stshenouda_org/data/input/Second Chronicles.json
Due: prettier

[Xooxle] Log an Error for double Spaces.
  xooxle/xooxle.py
Due: mypy, darglint

[platform/HTML] Materialize HTML to Simplify Code.
  bible/stshenouda_org/main.py
  dictionary/marcion_sourceforge_net/crum.py
  flashcards/deck.py
  utils/file.py
  utils/page.py
Due: mypy, darglint

[#591][Xooxle] Prevent Double Spaces by Default.
  dictionary/stmacariusmonastery_org/andreas.py
  xooxle/xooxle.py
Due: mypy, darglint

[#522][Crum/Wiki/References] Add a Postfix.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#522][Crum/Wiki/Bible] Add a Variant.
  bible/stshenouda_org/data/bible.json
Due: prettier

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
