Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#229][Crum/Flashcards] Skip `keyup` Events with Modifier Keys Pressed.
  site/crum.ts
Due: typescript-string-literals

[#229][Crum/Flashcards,Xooxle] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  site/data/build/crum.js
Due: none

[#229][Xooxle] Respond to `keydown`, not `keyup`.
  site/crum.ts
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
  site/data/build/xooxle.js
Due: none

[#229][Xooxle] Prevent Consumed Keyboard Events from Propagating.
  site/crum.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#5][Crum/Images] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2723.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2725.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2726.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2729.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2730.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2731.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2734.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2736.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2738.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2723-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2723-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2725-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2726-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2729-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2730-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2731-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2734-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2736-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2738-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2738-1-2.jpg
Due: tidy-html

[#189][Crum/Senses] Write a Helper to Format Senses.
  .helpers
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#189][Crum/Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#189][Crum/Senses] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1063.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/13.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1366.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/171.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1826.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/198.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2417.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2704.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2764.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/287.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/288.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/289.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/290.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/291.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/301.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/424.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/431.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/536.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/542.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/655.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/665.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/674.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/681.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/683.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/920.html
Due: tidy-html

[Crum/Images] `img --cp 259-1-1 2594-1-14`
  dictionary/marcion.sourceforge.net/data/img-300/2594-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-sources/2594-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2594-1-1.jpeg
Due: crum-img-validate

[#189,#227][Crum/Senses,Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5][Crum/Images] `img --mv 268-3-1 268-5-1`.
  dictionary/marcion.sourceforge.net/data/img-300/268-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/268-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/268-5-1.txt
  dictionary/marcion.sourceforge.net/data/img/268-5-1.jpg
Due: crum-img-validate

[#5,#189,#227][Crum/Images,Senses,Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1041.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1090.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1511.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1958.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1960.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/257.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/259.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2594.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/262.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/265.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/266.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/267.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/268.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3086.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3201.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/458.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/50.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/533.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/709.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/91.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2594-1-1.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_268-5-1.jpg
Due: tidy-html

[#178][Stats] Add Annotations to the Stats Graphs.
  stats.py
Due: python-unittest-exists, python-unittest

[#243,#229][Xooxle] Fix Typo in Comment.
  site/xooxle.ts
Due: typescript-string-literals

[#243,#229][Xooxle] Update Comment about Sorting and Table Break Points.
  site/xooxle.ts
Due: typescript-string-literals

[#243,#229][Xooxle] Rename Break Points to Sentinels. Update Comment.
  site/xooxle.ts
Due: typescript-string-literals

[#243,#229][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#285][Xooxle] Fix Bug in Text Extraction. Update Comments.
  site/xooxle.ts
Due: typescript-string-literals

[fix #285][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#285][Xooxle] Fix Bug in Highlighting.
  site/xooxle.ts
Due: typescript-string-literals

[#285][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#5][Crum/Images] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3205.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/780.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_3205-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_780-1-1.jpg
Due: tidy-html

[#288][Xooxle] Fix Bug in Full-Word Highlighting.
  site/xooxle.ts
Due: typescript-string-literals

[fix #288][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#286][Xooxle] Add Placeholder for Chrome Word Characters.
  site/xooxle.ts
Due: typescript-string-literals

[#286][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#9][Crum/Typos] Fix Typo in 31.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/31.html
Due: tidy-html

[#253][Crum] Split `normalize` Parameter.
  dictionary/marcion.sourceforge.net/parse.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest-exists, python-unittest

[#229][Xooxle] Sort Classes in the Output.
  site/xooxle.py
Due: python-unittest-exists, python-unittest
