Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#440][Xooxle] Log Search Time.
  docs/xooxle.js
  docs/xooxle.ts
Due: typescript-string-literals

[#440][Xooxle] Supply `HTMLElement[]` Objects to the Browser.
  docs/xooxle.js
  docs/xooxle.ts
Due: typescript-string-literals

[#66][TODO] Fix a Bug in the TODO helper.
  .env
Due: none

[fix #253][Xooxle] Ignore Diacritics.
  docs/xooxle.ts
Due: typescript-string-literals

[#253][Xooxle] Run `make transpile test`.
  docs/xooxle.js
Due: none

[#307][Stats] 300 Closed Issues! Wow!
  stats.sh
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[TypeScript] Rename Main Files to `main`.
  .pre-commit-config.yaml
  bible/stshenouda_org/main.py
  docs/bible/main.js
  docs/bible/main.ts
  docs/crum/crum/index.html
  docs/crum/crum/main.js
  docs/crum/crum/main.ts
  docs/dawoud/index.html
  docs/dawoud/main.js
  docs/dawoud/main.ts
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[fix #442][Xooxle] Avoid Parsing Result HTML during Site Load.
  docs/xooxle.ts
Due: typescript-string-literals

[#442][Xooxle] Run `make transpile test`.
  docs/xooxle.js
Due: none

[TypeScript] Move Stuff Around!
  docs/coptic.ts
  docs/crum/main.ts
  docs/dawoud/main.ts
  docs/scan.ts
  docs/utils.ts
  docs/xooxle.ts
Due: typescript-string-literals

[TypeScript] Run `make transpile test`.
  docs/coptic.js
  docs/crum/main.js
  docs/dawoud/main.js
  docs/scan.js
  docs/utils.js
  docs/xooxle.js
Due: none

[#405][Scan/Dawoud] Prettify Code.
  docs/dawoud/main.ts
Due: typescript-string-literals

[#405][Scan/Dawoud] Run `make transpile test`.
  docs/dawoud/main.js
Due: none

[#426][Scan] Speed up Zooming a Little Bit.
  docs/scan.ts
Due: typescript-string-literals

[#426][Scan] Run `make transpile test`.
  docs/scan.js
Due: none

[#277][Crum] Space out the Dialect Checkboxes.
  docs/style.css
Due: none

[#253][Xooxle] Ignore Greek Diacritics as Well.
  docs/coptic.ts
  docs/greek.ts
  docs/orth.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#253][Xooxle] Run `make transpile test`.
  docs/coptic.js
  docs/greek.js
  docs/orth.js
  docs/xooxle.js
Due: none

[#253][Xooxle] Update the List of Coptic Diacritics, just in case!
  docs/coptic.ts
Due: typescript-string-literals

[#253][Xooxle] Normalize the Query String as Well!
  docs/xooxle.ts
Due: typescript-string-literals

[#253][Xooxle] Run `make transpile test`.
  docs/coptic.js
  docs/xooxle.js
Due: none

[#276][Crum/TypeScript] Add `esbuild`. Remove `webpack-cli`.
  package-lock.json
  package.json
Due: json-tool

[#213][Pre-commit] Fix Typos Hook.
  _typos.toml
Due: none

[Python/Utils] Add a Helper.
  utils.py
Due: python-unittest-exists, python-unittest

[#276][Crum/TypeScript] Add first `export` to `crum.ts`.
  docs/crum/crum.ts
  docs/crum/main.ts
Due: typescript-string-literals

[#276][Flashcards/JavaScript] Prettify Code.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[fix #276][Flashcards/JavaScript] Use Bundled JavaScript.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#276][Flashcards/JavaScript] Define `ANKI` using `var`.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[Python/Utils] Add Type Hints.
  requirements.txt
  utils.py
Due: python-unittest-exists, python-unittest

[#443][Crum/TypeScript] Move Help Panel Definition to an External File.
  docs/crum/crum.ts
  docs/help.ts
Due: typescript-string-literals

[#443][Crum/TypeScript] Run `make transpile test`.
  docs/crum/crum.js
  docs/crum/main.js
  docs/help.js
Due: none

[#277][Lexicon] Run `make bashandy test`.
  docs/crum/bashandy.html
Due: tidy-html

[#443][Crum/TypeScript] Simplify Handling of Xooxle Dialect Checkboxes.
  docs/crum/crum.ts
Due: typescript-string-literals

[#443][Crum/TypeScript] Run `make transpile test`.
  docs/crum/crum.js
Due: none

[#443][Crum/TypeScript] Simplify Dialect Checkboxes.
  docs/crum/crum.ts
Due: typescript-string-literals

[#443][Crum/TypeScript] Move Page Identity to an External File.
  docs/crum/crum.ts
  docs/help.ts
  docs/iam.ts
Due: typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
