Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#377][Xooxle] Define an optional `prepublish` Hook.
  docs/xooxle.ts
Due: typescript-string-literals

[#377][Crum] Factor Out Handlers to a Package.
  docs/crum/crum.ts
  docs/crum/main.ts
Due: typescript-string-literals

[fix #377][Lexicon] Add Greek Hyperlinks in Lexicon.
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#377][Lexicon] Run `make transpile test`.
  docs/crum/crum.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/xooxle.js
Due: none

[#452][Macarius/Stats] Account for the New Project in Stats.
  stats.py
  stats.sh
Due: python-unittest-exists, python-unittest

[#399,#452][Stats] Fix the `stats_format` Rule.
  Makefile
  stats.py
  utils/file.py
Due: python-unittest-exists, python-unittest

[#452][Macarius/Stats] Run `make stats_format`.
  data/stats.tsv
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#231][Stats] Stop Tracking Stats for Archive.
  stats.sh
Due: none

[#452][Andreas] Rename the Dictionary to Andreas.
  README.md
  data/stats.tsv
  stats.py
  stats.sh
Due: python-unittest-exists, python-unittest

[#231][Stats] Add a new `loc` Column that doesn't include the Archive.
  data/stats.tsv
  stats.py
  stats.sh
Due: python-unittest-exists, python-unittest

[#183][Stats] Move the Stats Reminder to `stats.py`.
  .pre-commit-config.yaml
  pre-commit/stats.sh
  stats.py
Due: python-unittest-exists, python-unittest

[fix #454][Crum] Default to Highlighting Bohairic in Egypt.
  docs/crum/dialect.ts
  docs/where.ts
Due: typescript-string-literals

[#454][Crum] Run `make transpile test`.
  docs/crum/dialect.js
  docs/where.js
Due: none

[#451][Xooxle] Delete Empty `<span class="match">` Tags.
  docs/xooxle.ts
Due: typescript-string-literals

[#451][Xooxle] Run `make transpile test`.
  docs/xooxle.js
Due: none

Revert "[#451][Xooxle] Delete Empty `<span class="match">` Tags."
  docs/xooxle.ts
Due: typescript-string-literals

[#451][Xooxle] Avoid Empty `<span class="match"></span>` Tags.
  docs/xooxle.ts
Due: typescript-string-literals

[#451][Xooxle] Prettify Highlighting Logic.
  docs/xooxle.ts
Due: typescript-string-literals

[#241,#454][Lexicon] B is global default. Reset gracefully. Prettify.
  docs/crum/dialect.ts
  docs/crum/highlight.ts
  docs/crum/index.html
  docs/dev.ts
  docs/style.css
  docs/where.ts
Due: tidy-html, typescript-string-literals

[#241,#454][Lexicon] Run `make transpile test`.
  docs/crum/dialect.js
  docs/crum/highlight.js
  docs/dev.js
Due: none

[#454,#16][Lexicon] Document Dialect Highlighting more Verbosely.
  docs/crum/dialect.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#454,#16][Lexicon] Run `make transpile test`.
  docs/crum/dialect.js
  docs/crum/highlight.js
Due: none

[#16][TypeScript] Group Event Listeners where Possible.
  README.md
  docs/bible/main.ts
  docs/collapse.ts
  docs/crum/crum.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/help.ts
  docs/html.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#16][TypeScript] Run `make transpile test`.
  docs/bible/main.js
  docs/collapse.js
  docs/crum/crum.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/help.js
  docs/html.js
  docs/scan.js
  docs/xooxle.js
Due: none

[#16][TypeScript] Prefer Query Selectors.
  docs/crum/crum.ts
  docs/help.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#16][TypeScript] Enforce Style Preferences.
  README.md
  docs/env.ts
  eslint.config.mjs
Due: typescript-string-literals

[#16][TypeScript] Adopt the `CLS` Enum more Widely.
  docs/collapse.ts
  docs/crum/crum.ts
  docs/crum/dialect.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/css.ts
  docs/help.ts
  docs/iam.ts
Due: typescript-string-literals

[#16][TypeScript] Run `make transpile`.
  docs/collapse.js
  docs/crum/crum.js
  docs/crum/dialect.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/css.js
  docs/env.js
  docs/help.js
  docs/iam.js
  docs/xooxle.js
Due: none

[#233][Dawoud] Change `next` and `prev` to Buttons.
  docs/dawoud/index.html
Due: tidy-html

[#407][CSS] Define Classes in Shared Packages where Appropriate.
  docs/cls.ts
  docs/collapse.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/dev.ts
  docs/help.ts
  docs/iam.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#407][CSS] Run `make transpile test`.
  docs/cls.js
  docs/collapse.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/dev.js
  docs/help.js
  docs/iam.js
  docs/scan.js
  docs/xooxle.js
Due: none

[#407][CSS] Employ the `CLS` enum in a few places that were missed.
  docs/crum/dialect.ts
  docs/crum/help.ts
Due: typescript-string-literals

[#452,#308][Lexicon] Remove the Bashandy Version of the Lexicon.
  Makefile
  docs/crum/bashandy.html
  flashcards/bashandy.sh
  pre-commit/docs_structure.py
Due: python-unittest-exists, tidy-html, python-unittest

[#407][CSS] Factor out the Home Page CSS to a Separate File.
  docs/home.css
  docs/index.html
  docs/style.css
  pre-commit/docs_structure.py
Due: python-unittest-exists, tidy-html, python-unittest

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
