Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#427][Crum/Wiki] Update Docs about Locating Addenda.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#647][Crum/Wiki] Add a Dangling Suffix Marker.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#647][Crum/Wiki] Update a Unit Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Abandon the Whitelist.
  .claude/commands/ambrose.md
  docs/crum/pisaxo.d.ts
  docs/crum/white.js
  docs/crum/white.js.map
  docs/crum/white.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, check-one-readme, playwright

[#194][Crum/Wiki/Annotations] Treat all Annotations Uniformly.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Underscores produce `<i>` and `<b>`.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  dictionary/marcion_sourceforge_net/pisaxo.ts
Due: prettier, typescript-unittest

[#730][Site] Bible Bibliography is Auto-generated.
  pre-commit/docs_structure.py
Due: mypy, darglint

[#522][Crum/Wiki] Style some Titles.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#791,#730][Crum/References,Bible/Bibliography] Bibliographies are Code.
  .claude/commands/ambrose.md
  .pre-commit-config.yaml
  bible/stshenouda_org/bib.yaml
  bible/stshenouda_org/main.py
  dictionary/marcion_sourceforge_net/bib.yaml
  dictionary/marcion_sourceforge_net/pisaxo.ts
  eslint.config.ts
Due: prettier, typescript-unittest, mypy, darglint, check-one-readme

[#791][Crum/Wiki/References] TODO's are moved to GitHub.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#419][Crum/Wiki/Bible] Delete Reference to an Obsolete File.
  env/find.sh
Due: none

[#522][Crum/Wiki/References] `make crum test`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki] `<strong>` contains Abbreviations in Titles as well.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#791][Crum/Wiki/References] Style Titles.
  dictionary/marcion_sourceforge_net/bib.yaml
Due: none

[#791][Crum/Wiki] Repurpose Markdown Syntax.
  dictionary/marcion_sourceforge_net/bib.yaml
  dictionary/marcion_sourceforge_net/pisaxo.ts
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/crum.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[Crum] Simplify Dialect Handling.
  docs/crum/crum.ts
  docs/crum/highlight.ts
  docs/dialect.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/highlight.js
  docs/crum/highlight.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/dialect.js
  docs/dialect.js.map
Due: docs-structure, prettier, playwright

[#791][Crum/Wiki/References] `make crum test`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1082.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/122.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1422.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1523.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/155.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1604.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1986.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2381.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/56.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/617.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/683.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/737.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/76.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/894.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/919.txt
Due: none

[Crum/Dialects] Nit: Update the Description of a Dialect. Add Comments.
  docs/crum/dialect.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#551][Crum/Wiki] Revisit Coptic Diacritics.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#762][Crum/Wiki] Add a TODO.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#551][Crum/Wiki] Use the Two-em Dash for Templates.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

Revert "[#551][Crum/Wiki] Use the Two-em Dash for Templates."
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1388.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/150.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1629.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/166.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2406.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/249.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/270.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3187.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3414.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3416.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/371.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/372.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/388.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/49.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/737.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/80.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/924.txt
Due: none

[#542][Crum/Wiki] `+` can separate number groups.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#751][Crum/Wiki] Update the Color of Exotic Languages.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/dialect.js
  docs/crum/dialect.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#542][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1738.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/336.txt
Due: none

[#551][Crum/Wiki] Asterisks Belong in Language Spans.
  dictionary/marcion_sourceforge_net/wiki.py
  utils/page.py
Due: mypy, darglint

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
