Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#453][Site/TypeScript] Nit: Make a Helper More Generic.
  docs/browser.ts
Due: typescript-string-literals

[#453][Site] Define a `dropdown` Package.
  docs/dropdown.css
  docs/dropdown.ts
Due: typescript-string-literals

[#453][Lexicon] Update Display. Link Keyboard Installation Instructions.
  docs/crum/cls.ts
  docs/crum/dialect.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/crum/main.ts
Due: tidy-html, typescript-string-literals

[#453][Lexicon] Update the Keyboard Installation Instructions.
  docs/img/logos/apple.svg
  docs/img/logos/ios.png
  docs/keyboard.html
Due: tidy-html

[#453][Lexicon] Run `make transpile test`.
  docs/crum/cls.js
  docs/crum/dialect.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/dropdown.js
Due: none

[#453][Site] Simplify `dropdown` Package Usage.
  docs/crum/cls.ts
  docs/crum/index.html
  docs/crum/lexicon.ts
  docs/dropdown.ts
Due: tidy-html, typescript-string-literals

[#458][Site] Transition Collapse Arrows.
  docs/collapse.ts
Due: typescript-string-literals

[#453][Lexicon] Revisit Keyboard Installation Instructions.
  docs/keyboard.html
Due: tidy-html

[fix #458][Lexicon] Add Arrows to Collapse Elements.
  docs/crum/index.html
  docs/xooxle.ts
Due: tidy-html, typescript-string-literals

[#458][Site] Refactor `collapse` Package. Support Arrows.
  docs/collapse.ts
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#453,#458][Site] Run `make transpile test`.
  docs/collapse.js
  docs/crum/cls.js
  docs/crum/lexicon.js
  docs/dropdown.js
  docs/xooxle.js
Due: none

[#458][Site] Nit: Updating Transition Collapse Arrows Time.
  docs/collapse.ts
Due: typescript-string-literals

[#458][Site] Run `make transpile test`.
  docs/collapse.js
Due: none

[#453][Site] Move Lexicon CSS to `lexicon.css`.
  docs/crum/lexicon.css
  docs/dropdown.css
Due: none

[#453][Lexicon] Use a Less Obtrusive Arrow for Dialects.
  docs/crum/index.html
Due: tidy-html

[#461][Site] Restrict Hovering Effects to Devices that Support it.
  docs/style.css
Due: none

[#453][Site/Lexicon] Stop using `*-screen-only` classes.
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/style.css
Due: tidy-html

[fix #462][Lexicon] Spell out the Dialects in the Drop-down Menu.
  docs/crum/dialect.ts
  docs/crum/lexicon.ts
  docs/dropdown.ts
Due: typescript-string-literals

[#462][Lexicon] Use Highlighted Dialects in the Help Panel too.
  docs/crum/dialect.ts
  docs/help.ts
Due: typescript-string-literals

[#462][Lexicon] Add Hyperlinks in the Drop-down Menu.
  docs/crum/dialect.ts
Due: typescript-string-literals

[#241][Lexicon] Increase Title Padding.
  docs/crum/lexicon.css
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#462,#241,#457][Site/TypeScript] Code Health!
  docs/collapse.ts
  docs/crum/dialect.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/dropdown.css
  docs/dropdown.ts
  docs/logger.ts
Due: tidy-html, typescript-string-literals

[#462,#241,#457][Site/TypeScript] Run `make transpile test`.
  docs/collapse.js
  docs/crum/dialect.js
  docs/crum/lexicon.js
  docs/dropdown.js
  docs/help.js
  docs/logger.js
Due: none

[#194][Lexicon] Hovering over a Dialect shows its Name.
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/dropdown.css
  docs/dropdown.ts
Due: tidy-html, typescript-string-literals

[#194][Lexicon] Run `make transpile test`.
  docs/crum/lexicon.js
  docs/dropdown.js
Due: none

[#194][Site] `.droppable` Elements Render Beneath the Sibling.
  docs/dropdown.css
Due: none

[#462][Lexicon] Update Display.
  docs/crum/index.html
  docs/crum/lexicon.css
Due: tidy-html

[#404][Crum] Update the Scan Download Script.
  dictionary/marcion_sourceforge_net/download_scan.sh
Due: none

[#404][Crum] Write a Script to Convert from JPEG to PNG.
  convert.sh
Due: none

[#404][Crum] Update the Crum Scan Script.
  docs/crum/crum/main.ts
Due: typescript-string-literals

[#404][Site/Crum] Run `make transpile test`.
  docs/crum/crum/main.js
  docs/scan.js
Due: none

[#404][Site/Crum] Update Flashcards.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#404][Site/Crum] Update the `crum_scan` Rule.
  Makefile
Due: none

[#404][Site] Delete an Obsolete Line of Code. Extensions are Uniform.
  docs/scan.ts
Due: typescript-string-literals

[#404][Site/Crum] Update `doc_structure.py`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest
