Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#444][Lexicon] Adopt Crum's Complex Dialect-based Ranking for KELLIA.
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#559][Crum/Wiki] Store References in List of Abbreviations separately.
  docs/crum/references.ts
  docs/crum/white.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/lexicon.js
  docs/crum/references.js
  docs/crum/white.js
Due: docs-structure, prettier, playwright

[fix #146,#51][Flashcards] HTML should contain `<br>` tags all the way.
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/lexical.py
  flashcards/constants.py
  utils/page.py
Due: mypy, darglint

[#339][Crum] Use a different parsing for Dialects.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#9][Crum] `make crum test`
  docs/crum/1040.html
  docs/crum/1251.html
  docs/crum/1252.html
  docs/crum/1253.html
  docs/crum/1254.html
  docs/crum/1258.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/pronoun.html
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki] Highlight Elements with a Tooltip.
  docs/dropdown.css
Due: docs-structure, prettier, stylelint, playwright

[#5][Crum/Images] Delete Images.
  dictionary/marcion_sourceforge_net/data/img-sources/57-1-1.txt
  dictionary/marcion_sourceforge_net/data/img-sources/57-2-1.txt
  dictionary/marcion_sourceforge_net/data/img/57-1-1.jpeg
  dictionary/marcion_sourceforge_net/data/img/57-2-1.jpg
  docs/crum/explanatory/57-1-1.jpeg
  docs/crum/explanatory/57-2-1.jpg
Due: docs-structure, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#5][Crum/Images] `make crum test`
  docs/crum/57.html
Due: tidy-html, docs-structure, playwright

[#448][KELLIA] Import `flashcards` instead of the other way around.
  Makefile
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/kellia_uni_goettingen_de/main.py
  flashcards/constants.py
  flashcards/main.py
Due: mypy, darglint

[fix #448][Crum] Import `flashcards` instead of the other way around.
  Makefile
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/main.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
  utils/page.py
  utils/paths.py
  utils/semver.py
Due: mypy, darglint

[#221][Xooxle] Delete a TODO about parallelism.
  xooxle/xooxle.py
Due: mypy, darglint

[#194][Crum/Wiki/Annotations] Update an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][TypeScript] Speed up some Tree Walks.
  docs/crum/white.ts
  docs/crum/wiki.ts
  docs/html.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Deduplicate Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Crum/Wiki/TypeScript] Exclude Coptic and Greek from Enrichment.
  docs/crum/cls.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/cls.js
  docs/crum/white.js
  docs/crum/wiki.js
  docs/html.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#64][Crum/Parser] Update TODO's.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#448,#221][Crum] Add an Option to Generate HTML Only.
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#88][Crum/HTML] Eliminate Some Noise.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/crum.py
  utils/paths.py
Due: mypy, darglint

[#64][Crum] `make crum test`: Update Appearance of `&c` Detached Type.
  docs/crum/2097.html
  docs/crum/2127.html
  docs/crum/257.html
  docs/crum/2795.html
  docs/crum/2911.html
  docs/crum/542.html
  docs/crum/57.html
  docs/crum/827.html
  docs/crum/864.html
  docs/crum/933.html
Due: tidy-html, docs-structure, playwright

[#241][CSS] Better Docs!
  docs/style.css
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[#407][CSS] Move Collapsible Styling to a Separate File.
  bible/stshenouda_org/main.py
  docs/collapse.css
  docs/crum/index.html
  docs/style.css
Due: crum-tidy-html, docs-structure, prettier, stylelint, mypy, darglint, playwright

[#407][CSS] `make bible test`
  docs/bible/index.html
Due: tidy-html, docs-structure, playwright

[#241,#448][CSS] Move Help Panel CSS to a Separate File.
  dictionary/marcion_sourceforge_net/crum.py
  docs/crum/index.html
  docs/help.css
  docs/help.ts
  docs/style.css
  utils/paths.py
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make transpile test`
  docs/help.js
Due: docs-structure, prettier, playwright

[fix #407,#241][Crum/CSS] Move Crum CSS to a Separate File.
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/marcion_sourceforge_net/crum.py
  docs/crum/crum.css
  docs/crum/index.html
  docs/style.css
  utils/paths.py
Due: crum-tidy-html, docs-structure, prettier, stylelint, mypy, darglint, playwright

[#407][CSS] Delete Obsolete TODO's.
  docs/style.css
  utils/paths.py
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#241][TypeScript] Delete Obsolete TODO's.
  docs/dropdown.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#405,#415,#640,#641][Lexicon/Scans] Reasign TODO's.
  docs/crum/crum/main.ts
  docs/dawoud/main.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#573,#9][Crum] `make crum test`
  docs/crum/113.html
  docs/crum/1924.html
  docs/crum/2031.html
  docs/crum/2045.html
  docs/crum/239.html
  docs/crum/2571.html
  docs/crum/2979.html
  docs/crum/30.html
  docs/crum/31.html
  docs/crum/35.html
  docs/crum/36.html
  docs/crum/38.html
  docs/crum/39.html
  docs/crum/40.html
  docs/crum/42.html
  docs/crum/44.html
  docs/crum/46.html
  docs/crum/60.html
  docs/crum/crum.json
  docs/crum/verb.html
  docs/crum/verbal prefix.html
Due: tidy-html, docs-structure, prettier, playwright

[fix #486][Crum/HTML] Replace Braces with Parentheses.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint
