Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[fix #596][TypeScript] Parameterize the Word Boundary Regex Strictness.
  docs/crum/wiki.ts
  docs/str.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/wiki.js
  docs/str.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#427][Xooxle] Retain `<ins>` and `<del>` Tags by default.
  xooxle/xooxle.py
Due: mypy, darglint

[#503,#573,#9][Crum] `make crum test`
  docs/crum/1028.html
  docs/crum/1063.html
  docs/crum/1082.html
  docs/crum/1099.html
  docs/crum/1348.html
  docs/crum/2163.html
  docs/crum/2295.html
  docs/crum/2297.html
  docs/crum/3290.html
  docs/crum/378.html
  docs/crum/441.html
  docs/crum/509.html
  docs/crum/93.html
  docs/crum/968.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] Update Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Fix a Typo.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] Update Test Cases.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#508][Crum/Wiki] Ban Empty Marcion Keys.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#508,#503,#8][Crum] `make crum test`
  docs/crum/1165.html
  docs/crum/120.html
  docs/crum/121.html
  docs/crum/122.html
  docs/crum/184.html
  docs/crum/185.html
  docs/crum/186.html
  docs/crum/2294.html
  docs/crum/2656.html
  docs/crum/crum.json
  docs/crum/noun male.html
  docs/crum/noun.html
  docs/crum/roots.js
  docs/crum/types.html
Due: tidy-html, docs-structure, prettier, playwright

[#508,#493][Crum/Wiki] All Marcion Keys are Populated.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#508][Crum] Guard Against Derivations with Invalid Root Key.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#634][Crum] Reassign a TODO.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/501.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#227,#573][Crum/Relations,Derivations] `make crum test`
  docs/crum/1146.html
  docs/crum/1275.html
  docs/crum/172.html
  docs/crum/304.html
  docs/crum/398.html
  docs/crum/553.html
  docs/crum/922.html
  docs/crum/970.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#565][Crum/Wiki/References] Add a Postfix for `P`.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#633][Crum/Wiki/References] Pick up Suffixes after Commas.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#542][Crum/Wiki/References] Section Sign is a Suffix.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[#503,#573][Crum/Wiki,Derivations] `make crum test`
  docs/crum/2692.html
  docs/crum/491.html
  docs/crum/535.html
  docs/crum/536.html
  docs/crum/539.html
  docs/crum/540.html
  docs/crum/98.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#427][Crum/Wiki] Add a Notation for Additions and Corrections.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#427][Crum/Wiki] Handle Corrigenda in TypeScript.
  docs/crum/cls.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#427][Crum/Wiki] Add a Test Case for a Page with Corrigenda.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#427][TypeScript] Parameterize Tooltip Direction.
  docs/bible/main.ts
  docs/crum/crum.ts
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
  docs/dropdown.css
  docs/dropdown.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#427,#503][Crum/Wiki] `make crum test`: Pick up a Corrigendum.
  docs/crum/629.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make transpile test`
  docs/bible/main.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/lexicon.js
  docs/crum/wiki.js
  docs/dropdown.js
Due: docs-structure, prettier, playwright

[fix #620][Crum/Parser] Force Derivations to Render Beneath Parents.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#503,#620,#255][Crum] `make crum test`
  docs/crum/210.html
  docs/crum/30.html
  docs/crum/357.html
  docs/crum/629.html
  docs/crum/730.html
  docs/crum/adverb.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[fix #627][Lexicon] Reposition `Marcion` and `Wiki` Checkboxes.
  docs/crum/index.html
  docs/crum/lexicon.css
Due: crum-tidy-html, docs-structure, prettier, stylelint, playwright

[fix #621][Crum/Parser] Introduce a Notation for Variants.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
