Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#16][README] Update Diagram.
  data/coptic.drawio.png
Due: none

[#9][Crum/Typos] Fix Typo.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#229][Site/Xooxle] Number the Results.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Compile the Regex Only Once.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#229][Xooxle] Wrap the Call to `match` in a `try-catch` Block.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Save Query Parameters in URL.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#230][Xooxle] Move the Crum-Specific Logic to a Separate Scope.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#16][Crum] Add Docs about Output Generation.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest-exists, python-unittest

[#229][Crum/Xooxle] Search Results Table Always Has Full Width.
  site/crum.html
Due: tidy-html

[#171][Crum/Flashcards] Remove Line Breaks between Explanatory Images.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Update Images for 47 and 1442.
  dictionary/marcion.sourceforge.net/data/img-300/1442-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/47-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/47-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1442-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/47-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/1442-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1442-1-1.png
  dictionary/marcion.sourceforge.net/data/img/47-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/47-1-1.jpg
Due: crum-img-validate

[#5][Crum/Images] Update Images for 1756.
  dictionary/marcion.sourceforge.net/data/img-300/1756-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1756-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1756-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1756-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1756-6-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1756-7-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1756-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1756-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1756-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1756-7-1.txt
  dictionary/marcion.sourceforge.net/data/img/1756-2-1.png
  dictionary/marcion.sourceforge.net/data/img/1756-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1756-3-1.png
  dictionary/marcion.sourceforge.net/data/img/1756-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1756-4-1.png
  dictionary/marcion.sourceforge.net/data/img/1756-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1756-6-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1756-7-1.jpg
Due: crum-img-validate

[#240][Crum/Images] Restrict Image Height.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[Utils] Take Turns using Output Colors.
  utils.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Flashcards] Run `make flashcards` to Pick up Images.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1442.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1756.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/47.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1442-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-6-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1756-7-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_47-1-1.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_47-1-1.jpg
Due: tidy-html

[#5][Crum/Images] Update Sources for 1436.
  dictionary/marcion.sourceforge.net/data/img-sources/1436-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1436-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1436-1-3.txt
Due: crum-img-validate

[#5][Crum/Images] Run `make flashcards`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1436.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1436-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1436-1-2.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1436-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1436-1-3.jpg
Due: tidy-html

[#5,#240,#16][README] Update Docs, particularly about Crum's Images.
  README.md
Due: none

[#16][README] General Doc Update.
  .env_INFO
  README.md
Due: none

[#16][README] Add Links to Repo Files and Directories.
  README.md
Due: none

[#16][README] Update a Couple of Links.
  README.md
Due: none

[#16][README] Update Docs.
  Makefile
  README.md
Due: none

[Stats] Script also Creates a Commit. Rename `--save` to `--commit`.
  Makefile
  stats.sh
Due: none

[Stats] Fix Bug. Ignore `build/`.
  stats.sh
Due: none

[#16][README] Update Docs.
  README.md
Due: none

[#240][Crum/Images] Fix Typo in Warning Message.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#200][Crum/Images/Helper] Mention all Supported Operations in Prompt.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images/Helper] Prettify the Prompt.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5,#189][Crum/Images,Senses] Update Images for 369.
  dictionary/marcion.sourceforge.net/data/img-300/369-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/369-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/369-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/369-6-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/369-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/369-6-1.txt
  dictionary/marcion.sourceforge.net/data/img/369-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img/369-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img/369-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img/369-6-1.jpg
Due: crum-img-validate

[#189][Crum/Senses] Rum `make crum_appendices` to Download Senses.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#1,#5,#189][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1756.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/369.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/381.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_369-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_369-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_369-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_369-6-1.jpg
Due: tidy-html

[#109][Site/Home] Update the Home Page.
  site/data/img/bible-ebook.png
  site/index.html
  site/publish.sh
  site/style.css
Due: tidy-html

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
