Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#274][Crum/TypeScript] Add a Command to Copy Word Keys.
  site/crum.ts
Due: typescript-string-literals

[#274][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#261][Crum/Images/Helper] Fix Bug in `key` command.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Fix Typo in Sense Number for 291.
  dictionary/marcion.sourceforge.net/data/img-300/291-1-2.webp
  dictionary/marcion.sourceforge.net/data/img-sources/291-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/291-1-292.txt
  dictionary/marcion.sourceforge.net/data/img/291-1-2.webp
Due: crum-img-validate

[#227][Crum/Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#226,#269,#271,#272][Crum/Sisters] Fix Validation Bug.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#226,#269,#271,#272][Crum/Appendices] Add Type Hints.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

Revert "[#241][Crum/CSS] Disable CORS for CSS Access."
  flashcards/deck.py
  site/crum.html
  site/index.html
Due: python-unittest-exists, tidy-html, python-unittest

[#241][Crum/TypeScript] Use Anki Highlighting when Failing to read CSS.
  site/crum.ts
Due: typescript-string-literals

[#241][Crum/TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1103.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1146.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1187.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1208.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1218.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1322.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1580.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1589.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1655.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/187.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1897.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1942.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2104.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/234.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/337.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/650.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/720.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/804.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/806.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/820.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/91.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/919.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/988.html
Due: tidy-html

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1109.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1155.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/126.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1309.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1593.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1716.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1772.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1844.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1869.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/191.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/201.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2076.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2441.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2512.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2557.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/28.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2830.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/287.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/288.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/289.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/290.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2905.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/291.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/301.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/424.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/437.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/457.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/475.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/505.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/542.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/615.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/616.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/617.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/771.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/806.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/890.html
Due: tidy-html

[#229,#230][Xooxle] Improvements to the Pipeline and User Experience.
  site/constants.py
  site/crum.html
  site/xooxle.py
  site/xooxle.ts
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[#229,#230][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#229][Xooxle] Fix Bug.
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

[#229][Xooxle] Add Shortcuts to Scroll to the Next Result.
  site/crum.ts
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile test`.
  site/data/build/crum.js
  site/data/build/xooxle.js
Due: none

[#229][Xooxle] Xooxle's `n` and `p` are Scroll Commands.
  site/crum.ts
Due: typescript-string-literals

[#229][Xooxle] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#229][Xooxle] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#229][Xooxle] Fix Bug in Highlighting Logic.
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Xooxle] Rename the *Derivations* Column to *Appendix*.
  site/crum.html
Due: tidy-html

[#229][Xooxle] Sort Results by First Column containing Matches.
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Stop Showing the Index.
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Add a Command `o` to Open Current Result.
  site/crum.ts
  site/xooxle.ts
Due: typescript-string-literals

[#229][Xooxle] Index the Results after Rendering.
  site/xooxle.ts
Due: typescript-string-literals
