Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#9][Crum/Typos] Fix Typo in 1579.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#5][Crum/Images] Update Images for 367.
  dictionary/marcion.sourceforge.net/data/img-sources/367-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/367-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/367-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/367-1-1.png
  dictionary/marcion.sourceforge.net/data/img/367-2-1.jpg
  docs/crum/explanatory/367-1-1.jpg
  docs/crum/explanatory/367-2-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Update the Definition of 629.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Write the full definition of 1463.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#227,#1,#255,#8,#321][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[fix #428][Crum/Flashcards] Fix the Home Shortcut.
  docs/crum/crum.js
  docs/crum/crum.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 720.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Merge ⲏⲛⲉ (NH for ape) into 688.
  README.md
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
  docs/crum/3379.html
Due: python-unittest-exists, tidy-html, python-unittest

[#227,#8,#321][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#227,#8,#321,#9][Crum/Typos,Appendices...] Run `make flashcards test`.
  docs/crum/1181.html
  docs/crum/1304.html
  docs/crum/1589.html
  docs/crum/1635.html
  docs/crum/1752.html
  docs/crum/1827.html
  docs/crum/1836.html
  docs/crum/1886.html
  docs/crum/1925.html
  docs/crum/2126.html
  docs/crum/2297.html
  docs/crum/2378.html
  docs/crum/2386.html
  docs/crum/2388.html
  docs/crum/2455.html
  docs/crum/2464.html
  docs/crum/2636.html
  docs/crum/3335.html
  docs/crum/3376.html
  docs/crum/3378.html
  docs/crum/3380.html
  docs/crum/3382.html
  docs/crum/3385.html
  docs/crum/538.html
  docs/crum/688.html
  docs/crum/720.html
  docs/crum/76.html
  docs/crum/819.html
  docs/crum/954.html
  docs/crum/996.html
  docs/crum/categories.html
  docs/crum/doubtful.html
  docs/crum/noun female.html
  docs/crum/noun male.html
  docs/crum/proper nouns.html
  docs/crum/species.html
  docs/crum/types.html
  docs/crum/verb.html
Due: tidy-html

[#5][Crum/Images] Update Images for 1150.
  dictionary/marcion.sourceforge.net/data/img-sources/1150-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/1150-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/1150-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1150-2-1.jpg
  docs/crum/explanatory/1150-1-1.jpg
  docs/crum/explanatory/1150-2-1.jpg
Due: crum-img-validate

[#5][Crum/Images] Run `make flashcards test`.
  docs/crum/1150.html
Due: tidy-html

[#5][Crum/Images] Add Images for 300.
  dictionary/marcion.sourceforge.net/data/img-sources/300-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/300-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/300-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/300-3-1.jpg
  docs/crum/explanatory/300-1-1.jpg
  docs/crum/explanatory/300-3-1.jpg
Due: crum-img-validate

[#5][Crum/Images] Run `make flashcards test`.
  docs/crum/300.html
Due: tidy-html

[#9][Crum/Typos] Fix Typo in 3384.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 3117. ⲧⲁⲛⲁϫⲓⲧ is Lycopolitan.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#237][Crum/Dialects] Infer Bohairic if Ϧ is Present.
  dictionary/marcion.sourceforge.net/parse.py
Due: python-unittest-exists, python-unittest

[#237][Crum/Dialects] Update `README.md`.
  README.md
Due: none

[#227,#255,#1,#189,#321][Crum/Appendices] `make crum_appendices test`
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#227,#255,#1,#189,#321][Crum/Appendices] Run `make flashcards test`.
  docs/crum/1150.html
  docs/crum/134.html
  docs/crum/1634.html
  docs/crum/1851.html
  docs/crum/2222.html
  docs/crum/2471.html
  docs/crum/3026.html
  docs/crum/3121.html
  docs/crum/3191.html
  docs/crum/3201.html
  docs/crum/321.html
  docs/crum/3295.html
  docs/crum/3297.html
  docs/crum/3300.html
  docs/crum/3310.html
  docs/crum/379.html
  docs/crum/387.html
  docs/crum/396.html
  docs/crum/411.html
  docs/crum/465.html
  docs/crum/507.html
  docs/crum/910.html
  docs/crum/940.html
  docs/crum/984.html
  docs/crum/985.html
  docs/crum/categories.html
  docs/crum/container.html
  docs/crum/earth.html
  docs/crum/species.html
Due: tidy-html

[#9][Crum/Typos] Reposition Derivations in 2202.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#213][Pre-commit] Run `pre-commit autoupdate`.
  .pre-commit-config.yaml
Due: none

[#311][Python] Ignore `.venv`.
  .env
Due: none

[#177][Stats] Count Number of Contributors Differently.
  data/stats.tsv
  stats.sh
Due: none

[#9][Crum/Typos] Add Missing Translations in 1374.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 367.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Update Gender for 2262.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Update a Derivation in 1445.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 1692.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Fix Typo in 1551.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none
