Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Update Comments.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[fix #651][Crum/Wiki] New Substitution Rules.
  dictionary/marcion_sourceforge_net/wiki.py
  dictionary/stmacariusmonastery_org/andreas.py
  utils/lang.py
Due: mypy, darglint

[#651][Crum/Wiki] `make crum test`
  docs/crum/1933.html
  docs/crum/2537.html
  docs/crum/2917.html
  docs/crum/526.html
  docs/crum/771.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#506][Crum/Wiki] `make crum test`
  docs/crum/54.html
  docs/crum/crum.json
  test/wiki.ts
Due: tidy-html, docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/129.html
  docs/crum/2720.html
  docs/crum/353.html
  docs/crum/406.html
  docs/crum/581.html
  docs/crum/582.html
  docs/crum/585.html
  docs/crum/588.html
  docs/crum/591.html
  docs/crum/593.html
  docs/crum/596.html
  docs/crum/600.html
  docs/crum/605.html
  docs/crum/606.html
  docs/crum/607.html
  docs/crum/609.html
  docs/crum/82.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/585.html
  docs/crum/588.html
  docs/crum/610.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki] Stricter Page Handler.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#542][Crum/Wiki/References] Expand the Suffix Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[#656][JavaScript] Rename the `transpile_commit` Recipe to `javascript`.
  Makefile
Due: none

[#194][Crum/Wiki/Annotations] Delete an Obsolete Artifact.
  docs/crum/abbreviations.js
Due: docs-structure, prettier, playwright

[#524][Crum/Wiki/Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[#438][Crum/Wiki] Justify Alignment.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#524][Crum/Wiki/Bible] Add a Variant.
  bible/stshenouda_org/data/input/bible.json
Due: prettier

[fix #656][JavaScript] Minify JavaScript.
  .pre-commit-config.yaml
  Makefile
  dictionary/marcion_sourceforge_net/main.py
  eslint.config.ts
  package-lock.json
  package.json
  pre-commit/docs_structure.py
  tsconfig.json
  tsconfig_node.json
  tsconfig_playwright.json
  tsconfig_test.json
Due: prettier, typescript-unittest, mypy, darglint

[#524][Crum/Wiki/Bible] Handle a False Positive Case.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#656][Crum] `make crum test`
  docs/crum/-.html
  docs/crum/2760.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/roots.js
Due: tidy-html, docs-structure, prettier, playwright

[#656][JavaScript] Revisit JavaScript Tests.
  .pre-commit-config.yaml
  Makefile
Due: none

[#633][Crum/Wiki] `replaceText` has a more Versatile Signature.
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#633][Bible] Write Book Abbreviations to the Index.
  bible/stshenouda_org/main.py
  docs/crum/bible.d.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#633][Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[fix #633][Crum/Wiki/Bible] Handle Bible References after Commas.
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[Xooxle] No Inadmissible Elements! Update Docs.
  xooxle/xooxle.py
Due: mypy, darglint

[#546][Crum/Wiki] Simplify Handling of Tab Characters.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[Xooxle] Nit: Simplify Regex.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#572][Crum/Wiki/Bible] Remove Override Book Names to Simplify Pipeline.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright
