Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#131][Bible] Fix Typo in Psalm 134 Language.
  bible/stshenouda_org/data/input/Psalms.json
Due: prettier

[#131][Bible] Fix typo in numbering of 1 Thessalonians.
  bible/stshenouda_org/data/input/First Epistle to the Thessalonians.json
Due: prettier

[#131][Bible] Fix typo in Psalm 101 numbering.
  bible/stshenouda_org/data/input/Psalms.json
Due: prettier

[#355][platform] Ban Changes to `data/raw/`.
  .pre-commit-config.yaml
  pre-commit/check-raw-data.sh
Due: none

[#691][AI] Ignore `.remember/`.
  env/find.sh
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#432][Bible] Parse and Store Sources. (Also miscellaneous aesthetics.)
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
Due: mypy, darglint

[#432][Bible] Add a `<thead>` Element.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#432][Bible] Fix Typo in a Source.
  bible/stshenouda_org/data/input/Sources/Epistle to the Hebrews_Sources.json
Due: prettier

[#432][Bible] Store a Bibliography.
  docs/bible/bibliography.json
  pre-commit/docs_structure.py
Due: docs-structure, prettier, mypy, darglint, playwright

[#432][Bible] Stop Highlighting `<thead>` on `:hover`.
  docs/bible/style.css
Due: docs-structure, prettier, stylelint, playwright

[#432][Bible] Rephrase Daniel Sources to Match the General Format.
  bible/stshenouda_org/data/input/Sources/Daniel_Sources.json
Due: prettier

[#432][Bible] Populate Language Sources in a `data-` Attribute.
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
Due: mypy, darglint

[#432][Bible] Show Sources in a Tooltip.
  docs/bible/main.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#432][TypeScript] Always use a `<div>` Container for Tooltips.
  docs/tooltip.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#432][Bible] Verify that Bibliography URLs are Fully Qualified.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/bible/main.js
  docs/bible/main.js.map
  docs/tooltip.js
  docs/tooltip.js.map
Due: docs-structure, prettier, playwright

[#432][Bible] Reduce Spacing around the List of Sources.
  docs/bible/style.css
Due: docs-structure, prettier, stylelint, playwright

[#432][Bible] Stricter URL Verification.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#524][Bible] Expand Book after Scrolling on URLS with `?book=`.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#432][Bible] Populate More Resource URLs.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#432][Bible] Add `typeguard` as a Python Dependency.
  requirements.in
Due: none

[#432][Bible] `pip-compile`
  requirements.txt
Due: none

[#432][Bible] Reduce the Size of the Bibliography Tooltip.
  docs/bible/style.css
Due: docs-structure, prettier, stylelint, playwright

[#432][Bible] Validate all Schemas.
  bible/stshenouda_org/main.py
  bible/stshenouda_org/schema.py
  utils/file.py
Due: mypy, darglint

[#131][Bible] Fix Typo in Verse Language in Micah.
  bible/stshenouda_org/data/input/Micah.json
Due: prettier

[#131][Bible] Force Sources to be Populated for all Available Text.
  bible/stshenouda_org/main.py
  docs/bible/main.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#432][platform/Python] Add a Flag to Disable Log Colors.
  utils/log.py
Due: mypy, darglint

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/bible/main.js
  docs/bible/main.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#432][Bible] Style Resource Titles.
  docs/bible/main.ts
  docs/bible/style.css
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#432][Bible] Populate more Resource URLs.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Update URL, and Omit Suffix from Title, for a Resource.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible/References] Add a URL.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[fix #371][Site/CSS] Use Google-hosted Noto Sans.
  docs/fonts/NotoSans/_NotoSans-Italic-VariableFont_wdth,wght.woff2
  docs/fonts/NotoSans/_NotoSans-VariableFont_wdth,wght.woff2
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#445][Bible] Omit Empty Verses from the Index.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#445][Xooxle] Omit Empty Candidates from the Output.
  xooxle/xooxle.py
Due: mypy, darglint
