Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[TypeScript] `make transpile test`
  docs/crum/references.js
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#213][TypeScript/Pre-commit] Leave Indentation up to `prettier`.
  eslint.config.mjs
Due: prettier

[#194][TypeScript] Nit: Add an Optional Parameter.
  docs/dropdown.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#439][Xooxle] Divide Candidates into Layers.
  docs/xooxle.ts
  xooxle/xooxle.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#547][Xooxle] Nit: Update Styling of the Unit Separator.
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[fix #439][Lexicon/Xooxle] Restructure Xooxle. Search Wiki as Fallback.
  docs/crum/index.html
  docs/crum/lexicon.ts
  docs/xooxle.ts
  flashcards/constants.py
  flashcards/main.py
  pre-commit/docs_structure.py
  xooxle/clean.py
  xooxle/constants.py
  xooxle/xooxle.py
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[fix #547][Lexicon/Wiki] Lexicon Wiki has the full set of Hooks.
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#547,#233][Crum/Wiki] Add Wiki Checkbox to the HTML. Organize HTML.
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/xooxle.css
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, playwright

[#547][Crum/Wiki] Update Wiki Shortcuts.
  docs/crum/help.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#547][Crum/Wiki] Allow Miscellaneous Checkboxes in the Form.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#547][Lexicon/Wiki] Enable the Wiki Checkbox.
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki] Handle `E C Owen` to prevent conflict with `C`.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#521][Crum/TypeScript] Define IDs in a shared `id.ts`.
  docs/crum/help.ts
  docs/crum/id.ts
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#521][TypeScript] Collapsible have visible Overflow when Expanded.
  docs/collapse.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#570][Lexicon/Xooxle] Collapsibles Resize Automatically.
  docs/collapse.ts
  docs/crum/lexicon.ts
  docs/style.css
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make transpile test`
  docs/collapse.js
  docs/crum/help.js
  docs/crum/id.js
  docs/crum/lexicon.js
  docs/crum/references.js
  docs/dropdown.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[fix #571][Crum/HTML] Include Sense Numbers in the HTML.
  flashcards/constants.py
Due: mypy, darglint

[#521][TypeScript] Try using `clientWidth` for Transforming Tooltips.
  docs/dropdown.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/dropdown.js
Due: docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Sources are Optional.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/Reference] Parameterize Space Variant Exclusion.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#557][Xooxle] Log Errors to the Console.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki] Account for Unknown Dialects (e.g. `Bf`).
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/Reference] Add Placeholders for new References.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#557][Crum/Wiki] Nit: Rename a Field.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add TODO's.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#557][Crum/Wiki] Define a shared Test Case Key Type.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add a Whitelist to Exclude from Warnings.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#565][Crum/Wiki/References] Record some Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194,#565,#522][Crum/Wiki] Add data...
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Log Warnings only in Developer Mode.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations. Ensure no Duplicates.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Account for more References in the Tests.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/crum.js
  docs/crum/references.js
  docs/crum/wiki.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright
