Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#741][Bible] Delete Footnote Markers.
  bible/stshenouda_org/data/input/Gospel of St. John.json
  bible/stshenouda_org/data/input/Gospel of St. Matthew.json
Due: prettier

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#741][Bible] Fix what seems like three irregular Typos.
  bible/stshenouda_org/data/input/Acts of the Apostles.json
  bible/stshenouda_org/data/input/Apocalypse.json
  bible/stshenouda_org/data/input/Epistle to the Ephesians.json
Due: prettier

[#741][Bible] Fix Erroneous use of tick (`) for single quotes (').
  bible/stshenouda_org/data/input/Acts of the Apostles.json
  bible/stshenouda_org/data/input/Apocalypse.json
  bible/stshenouda_org/data/input/Epistle of St. James.json
  bible/stshenouda_org/data/input/Epistle to the Romans.json
  bible/stshenouda_org/data/input/First Epistle to the Corinthians.json
  bible/stshenouda_org/data/input/Gospel of St. John.json
  bible/stshenouda_org/data/input/Gospel of St. Luke.json
  bible/stshenouda_org/data/input/Gospel of St. Matthew.json
Due: prettier

[#739][Bible] Fix a Typo in Dan A:21.
  bible/stshenouda_org/data/input/Daniel.json
Due: prettier

[#743][Bible] Add Placeholder Regexes to Restrict Language Characters.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#743][Bible] Exclude Verse Numbers from Character Class Validation.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#743,#735][Bible/Greek] Restrict Character Set for Greek.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#743][Bible] Add a `--fast` Flag to Skip Chracter Whitelist Validation.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#553][Bible] Populate two `verseNumber` Fields.
  bible/stshenouda_org/data/input/First Epistle to the Thessalonians.json
  bible/stshenouda_org/data/input/Job.json
Due: prettier

[#739][Bible] Fix two Irregular Typos.
  bible/stshenouda_org/data/input/Job.json
  bible/stshenouda_org/data/input/Jonah.json
Due: prettier

[#730][Bible] Fix a Source URL.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#553][Bible] Stricter Missing Verse Number Checks. Remove Noisy Logs.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#739][Bible] Fix Three Irregular Typos.
  bible/stshenouda_org/data/input/Lamentations of Jeremiah.json
  bible/stshenouda_org/data/input/Proverbs.json
  bible/stshenouda_org/data/input/Psalms.json
Due: prettier

[fix #743][Bible] Populate Coptic Whitelist Regular Expressions.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#743][Bible] Nit: Parse Arguments in `main`.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#730][Bible] Fix Tattam Source URLs by Volume.
  bible/stshenouda_org/data/input/Sources/Daniel_Sources.json
  bible/stshenouda_org/data/input/Sources/Ezekiel_Sources.json
  bible/stshenouda_org/data/input/Sources/Isaiah_Sources.json
  bible/stshenouda_org/data/input/Sources/Jeremiah_Sources.json
  bible/stshenouda_org/data/input/Sources/Lamentations of Jeremiah_Sources.json
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#730][Bible] Fix Typo in Page Range of Biblica 16.
  bible/stshenouda_org/data/input/Sources/Song of Songs_Sources.json
  bible/stshenouda_org/data/input/Sources/Wisdom of Jesus son of Sirach_Sources.json
  bible/stshenouda_org/data/input/Sources/Wisdom of Solomon_Sources.json
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Use archive.org for De Lagarde, Brüchstucke...
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Fix Ciasca Source URLs by Volume.
  bible/stshenouda_org/data/input/Sources/Ecclesiastes_Sources.json
  bible/stshenouda_org/data/input/Sources/Job_Sources.json
  bible/stshenouda_org/data/input/Sources/Joshua_Sources.json
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Add URL for "The Bohairic Pericopae of Wisdom and Sirach".
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Remove Verse Range from a Source Title.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Add a Source URL.
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#730][Bible] Fix Typo in Source Title.
  bible/stshenouda_org/data/input/Sources/Apocalypse_Sources.json
  docs/bible/bibliography.json
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] Update the Progress Percentage.
  docs/crum/digital.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/digital.js
  docs/crum/digital.js.map
Due: docs-structure, prettier, playwright

[fix #588][Bible] Add Link Copy Button to Each Cell.
  docs/bible/main.ts
  docs/bible/style.css
  docs/clip.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/bible/main.js
  docs/bible/main.js.map
  docs/clip.js
  docs/clip.js.map
Due: docs-structure, prettier, playwright

[#739][Bible] Uniformly Use 3 Periods for Ellipsis.
  bible/stshenouda_org/data/input/Job.json
  bible/stshenouda_org/data/input/Joshua.json
  bible/stshenouda_org/data/input/Song of Songs.json
Due: prettier

[platform] Nit: Rename `update` to `upgrade`.
  Makefile
  install.sh
Due: none

[#739,#131][Bible] Ban the Ellipsis Character (possibly temporarily).
  bible/stshenouda_org/main.py
Due: mypy, darglint

[platform] Expand the `upgrade` Recipe to cover other Artifacts.
  install.sh
Due: none

[platform] `make upgrade`
  .pre-commit-config.yaml
  package-lock.json
  package.json
  requirements.txt
Due: prettier
