Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[TypeScript] `make javascript`
  docs/scan.js
  docs/scan.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/143.html
  docs/crum/1537.html
  docs/crum/1546.html
  docs/crum/1552.html
  docs/crum/233.html
  docs/crum/261.html
  docs/crum/335.html
  docs/crum/40.html
  docs/crum/487.html
  docs/crum/55.html
  docs/crum/717.html
  docs/crum/721.html
  docs/crum/815.html
  docs/crum/924.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[fix #704,#9][Crum/Marcion] `make crum test`
  docs/crum/531.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add a Variant.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#650][AI] Ignore `.playwright-cli`
  .gitignore
Due: none

[#650][AI] Spawn Playwright MCP via login shell
  .mcp.json
Due: prettier

[fix #568][Site] Dev Mode Lasts 12 Hours. Highlight Button when On.
  docs/dev.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/dev.js
  docs/dev.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1562.html
  docs/crum/2.html
  docs/crum/247.html
  docs/crum/299.html
  docs/crum/3404.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #705][Crum/Wiki] Handle Bible and Reference Ambiguity.
  bible/stshenouda_org/data/input/bible.json
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#705][Crum/Wiki] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[#705,#503][Crum/Wiki] Pick up some Typo Fixes.
  docs/crum/109.html
  docs/crum/1340.html
  docs/crum/1366.html
  docs/crum/3108.html
  docs/crum/55.html
  docs/crum/88.html
  docs/crum/crum.json
  test/wiki.ts
Due: tidy-html, docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #706][Crum/Wiki] Suffixes never end with `v` or `l`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503,#706][Crum/Wiki] `make crum test`
  docs/crum/12.html
  docs/crum/1421.html
  docs/crum/145.html
  docs/crum/149.html
  docs/crum/1499.html
  docs/crum/1569.html
  docs/crum/1570.html
  docs/crum/1577.html
  docs/crum/2064.html
  docs/crum/21.html
  docs/crum/2131.html
  docs/crum/2179.html
  docs/crum/222.html
  docs/crum/2767.html
  docs/crum/316.html
  docs/crum/3387.html
  docs/crum/526.html
  docs/crum/540.html
  docs/crum/929.html
  docs/crum/930.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#705][Crum/Wiki/References] Display a Standard Variant in the Tooltip.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotation Variants.
  docs/crum/annotations.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#696][Lexicon] Reduce Page Size on Chromium and Small Devices.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Increase Debounce Timeout.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#650][AI] Ignore `.playwright-cli` in Stats.
  env/find.sh
Due: none

[TypeScript] Positions between Two Digits are not Boundaries.
  docs/str.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#703][Crum/Wiki] Avoid using `DOMParser` to Parse HTML.
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Store Logic and Data Separately.
  .pre-commit-config.yaml
  docs/crum/pisaxo.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#557][Crum/Wiki] Add Test Cases.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/pisaxo.js
  docs/crum/pisaxo.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/html.js
  docs/html.js.map
  docs/str.js
  docs/str.js.map
Due: docs-structure, prettier, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
