Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[fix #403][Lexicon/Google] Abandon the Google Search Box.
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/crum/index.html
Due: tidy-html, typescript-string-literals

[fix #395][Dawoud] Scrolling shouldn't Save History.
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#395][Dawoud] Run `make transpile test`.
  docs/dawoud/dawoud.js
Due: none

[#125][Dawoud] Nit: Dawoud Pages start at 0.
  docs/dawoud/index.html
Due: tidy-html

[Crum/TypeScript] Don't Focus on a Page when Opened with `noopener`!
  docs/crum/crum.js
  docs/crum/crum.ts
Due: typescript-string-literals

[Site/Home] Fix Two `img` `alt` Property Typos.
  docs/index.html
Due: tidy-html

[#407,#241][CSS] Write a CSS Class Analyzer.
  .pre-commit-config.yaml
  docs/style.css
  pre-commit/docs_structure.py
  utils.py
Due: python-unittest-exists, python-unittest

[fix #301][Lexicon] Add a Shortcut to Copy Keys.
  docs/crum/crum.ts
Due: typescript-string-literals

[#301][Lexicon] Run `make transpile test`.
  docs/crum/crum.js
Due: none

[#397][Crum/Scan] Take out Dawoud Scan Logic to a Common Package.
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
  docs/dawoud/index.html
  docs/scan.js
  docs/scan.ts
  docs/style.css
Due: tidy-html, typescript-string-literals

[fix #397][Crum/Scan] Publish a Scrollable Version of Crum.
  docs/crum/crum/crum.js
  docs/crum/crum/crum.ts
  docs/crum/crum/index.html
  docs/style.css
Due: tidy-html, typescript-string-literals

[#397][Crum/Scan] Update `doc_structure.py`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#125,#397][Scan] Implement Offset in the Scrollable Book Interface.
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/crum/crum/crum.js
  docs/crum/crum/crum.ts
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
  docs/scan.js
  docs/scan.ts
Due: typescript-string-literals

[#125,#397][Scan] Default to Page 1.
  docs/scan.js
  docs/scan.ts
Due: typescript-string-literals

[#125,#397][Scan] Default to Page 1 in HTML as well.
  docs/crum/crum/index.html
  docs/dawoud/index.html
Due: tidy-html

[#125,#397][Scan] Allow the Page Parameter to have a Column.
  docs/scan.js
  docs/scan.ts
Due: typescript-string-literals

[#301][Lexicon/TypeScript] Nit: Style the `dev mode` Remark.
  docs/crum/crum.js
  docs/crum/crum.ts
  docs/style.css
Due: typescript-string-literals

[#227,#1,#321,#8][Crum/Appendices] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#404][Crum/Scan] Get a Cleaner Scan of the Abbreviations.
  docs/crum/crum/10.jpeg
  docs/crum/crum/7.jpeg
  docs/crum/crum/8.jpeg
  docs/crum/crum/9.jpeg
  docs/crum/crum/crum.js
  docs/crum/crum/crum.ts
Due: typescript-string-literals

[#404][Crum/Scan] Crum Scan should Land on Abbreviations.
  docs/crum/crum/crum.js
  docs/crum/crum/crum.ts
  docs/crum/crum/index.html
  docs/scan.js
  docs/scan.ts
Due: tidy-html, typescript-string-literals

[#405][Dawoud/Scan] Add a Rule to Download Sentinels.
  Makefile
Due: none

[#405][Dawoud/Scan] Implement a New Dawoud Page Search Feature.
  .pre-commit-config.yaml
  docs/dawoud/dawoud.ts
  docs/dawoud/index.html
  docs/scan.ts
Due: tidy-html, typescript-string-literals

[#405][Dawoud/Scan/Search] Run `make dawoud_sentinels test`.
  docs/dawoud/arabic.tsv
  docs/dawoud/coptic.tsv
  docs/dawoud/greek.tsv
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#405][Dawoud/Scan/Search] Add Search Box Focus.
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#405][Dawoud/Scan/Search] Run `make transpile test`.
  docs/dawoud/dawoud.js
Due: none

[#405][Dawoud/Search] Update Prompt: only Coptic, under construction.
  docs/dawoud/index.html
Due: tidy-html

[#405][Dawoud/Search] Use `<form>` instead of `<p>` for the Form.
  docs/dawoud/index.html
Due: tidy-html

[#405][Dawoud/Search] Switch to Live Sheet while Index is being Built.
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#405][Dawoud/Search] Handle Page Numbers as Input.
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
  docs/dawoud/index.html
Due: tidy-html, typescript-string-literals

[#405][Dawoud/Search] Robust Search.
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#405][Dawoud/Search] Run `make transpile test`.
  docs/dawoud/dawoud.js
Due: none

[#405][Dawoud/Search] Nit: Capitalize a Word in the Prompt.
  docs/dawoud/index.html
Due: tidy-html

[#405][Dawoud/Search] Robust Search.
  docs/dawoud/dawoud.js
  docs/dawoud/dawoud.ts
Due: typescript-string-literals

[#78][Crum/Appendices] Abandon the `key-link` Column.
  dictionary/marcion.sourceforge.net/data/input/derivation_appendices.tsv
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#403][Lexicon] Run `make bashandy test` to remove Google Search Box.
  docs/crum/bashandy.html
Due: tidy-html

[Bible] Fix Bug. Update EPUB Paths.
  Makefile
Due: none
