Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[fix #433,#434, fix #435][Crum] Basic Validation, Empty Rows in DRV.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/tsv.py
  dictionary/marcion.sourceforge.net/validate.py
  utils.py
Due: python-unittest-exists, python-unittest

[#433,#434,#435][Crum] Run `make crum test`.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[fix #401][Python] Use Relative Paths.
  bible/stshenouda.org/main.py
  dictionary/copticsite.com/main.py
  dictionary/kellia.uni-goettingen.de/analysis.py
  dictionary/kellia.uni-goettingen.de/main.py
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest-exists, python-unittest

[#230,#416][Xooxle] Run `make bashandy test`.
  docs/crum/bashandy.html
Due: tidy-html

[#407][CSS] Update `docs_structure.py`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#401][Python] Use Relative Paths.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#399][Crum] Export TSV's, instead of Writing them.
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
Due: python-unittest-exists, python-unittest

[#399][Crum/Flashcards] Export / Import a Package. Update Paths.
  .env
  .pre-commit-config.yaml
  Makefile
  dictionary/__init__.py
  dictionary/marcion.sourceforge.net/__init__.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
  dictionary/marcion.sourceforge.net/tree.py
  dictionary/marcion.sourceforge.net/validate.py
  dictionary/marcion.sourceforge.net/word.py
  flashcards/constants.py
  pre-commit/mypy.sh
  stats.sh
Due: python-unittest-exists, python-unittest

[#399,#434][Crum] Crum has a Single Validator.
  .pre-commit-config.yaml
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/validate.py
Due: python-unittest-exists, python-unittest

[#399][Crum] Use Absolute Imports in Python.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/parse.py
  dictionary/marcion_sourceforge_net/tree.py
  dictionary/marcion_sourceforge_net/word.py
Due: python-unittest-exists, python-unittest

[#325][Crum] `git rm -r dictionary/marcion_sourceforge_net/data/raw`
  dictionary/marcion_sourceforge_net/data/raw/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/raw/coptwrd.tsv
Due: none

[#325][Crum] Update the `README` Section about Raw Data.
  README.md
Due: none

[#399][KELLIA] Make Stuff Private.
  dictionary/kellia.uni-goettingen.de/main.py
Due: python-unittest-exists, python-unittest

[#399][Dictionary] Update Some Paths. Delete Unused Method.
  README.md
  utils.py
Due: python-unittest-exists, python-unittest

[#399][Dictionary] Update `README`.
  README.md
Due: none

[#219][Python/Pre-commit] Delete Duplicate Config File.
  .pre-commit-config.yaml
  dead_allowlist.txt
Due: none

[Python] Clean Imports.
  flashcards/__init__.py
  flashcards/constants.py
  flashcards/main.py
  pre-commit/mypy.sh
Due: python-unittest-exists, python-unittest

[#399][Dictionary] Delete a Deprecated Type.
  utils.py
Due: python-unittest-exists, python-unittest

[Python] Move `xooxle.py` to the Main Directory.
  flashcards/constants.py
  flashcards/main.py
  web/__init__.py
  xooxle.py
Due: python-unittest-exists, python-unittest

[#399][Dictionary] Update `README` and `Makefile`.
  Makefile
  README.md
Due: none

[fix #319][`README`] Delete the Diagram.
  README.md
  data/coptic.drawio.png
Due: none

[#399][Bible] Rename Directory to Make it Python-Importable.
  Makefile
  README.md
Due: none

[#399][Dawoud] Rename Directory to Make it Python-Importable.
  Makefile
  README.md
  dictionary/copticocc_org/crop.sh
  stats.sh
Due: none

[#399][Dictionary] Add TODO's.
  dictionary/copticsite_com/main.py
  dictionary/kellia_uni_goettingen_de/main.py
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#430][Python] Partially Appease `pylint` in Flashcards.
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Delete Detection of Potentially-Obsolete Artefacts.
  dictionary/marcion_sourceforge_net/img_helper.py
Due: python-unittest-exists, python-unittest

[#407][Pre-commit] Update `docs_structure.py`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#277][Crum] Use `L` for Lycopolitan instead of `sA`.
  dictionary/marcion_sourceforge_net/constants.py
  docs/crum/crum.ts
  docs/crum/index.html
  flashcards/constants.py
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[#277][Crum] Run `make crum test`.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#277][KELLIA] Use `O` instead of `Ak`.
  dictionary/kellia_uni_goettingen_de/main.py
  docs/crum/crum.ts
  docs/crum/index.html
  flashcards/constants.py
Due: python-unittest-exists, tidy-html, python-unittest, typescript-string-literals

[#277][KELLIA] Run `make transpile test`.
  docs/crum/crum.js
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
