Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#407][CSS] Factor out the Scan CSS to a Standalone File.
  docs/crum/crum/index.html
  docs/dawoud/index.html
  docs/scan.css
  docs/style.css
Due: tidy-html

[#407][CSS] Factor out the Xooxle and Lexicon CSS to Standalone Files.
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/style.css
  docs/xooxle.css
Due: tidy-html

[#407][CSS] Add a TODO.
  utils/page.py
Due: python-unittest-exists, python-unittest

[#407][CSS] Run `make transpile test`.
  docs/crum/dialect.js
  docs/crum/help.js
Due: none

[#407,#16][CSS] Define Element IDs Closer to where they are Used.
  docs/crum/crum/main.ts
  docs/dawoud/main.ts
  docs/scan.ts
Due: typescript-string-literals

[#407,#16][CSS] Run `make transpile test`.
  docs/crum/crum/main.js
  docs/dawoud/main.js
  docs/scan.js
Due: none

[#368,#356][GitHub/Antinoou] Nit: Reposition `.nojekyll` in Script.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#407][CSS] Simplify some CSS Handling.
  docs/cls.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/help.ts
Due: typescript-string-literals

[#407][CSS] Run `make transpile test`.
  docs/cls.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/help.js
Due: none

[#407][CSS] Restore the `footer` Class for Consistency.
  docs/cls.js
  docs/cls.ts
  docs/help.js
  docs/help.ts
Due: typescript-string-literals

[#16,#457,#372][Site/Docs] Add Miscellaneous Docs.
  docs/scan.ts
  eslint.config.mjs
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#405][CSS] Fix Bug. Restore a Rule to the shared CSS File.
  docs/home.css
  docs/style.css
Due: none

[#407][CSS] Move Class Definitions Around.
  docs/cls.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/dev.ts
Due: typescript-string-literals

[#407][CSS] Run `make transpile test`.
  docs/cls.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/help.js
  docs/dev.js
Due: none

[#16][Site] Revisit Package Docstrings.
  docs/bible/main.ts
  docs/browser.ts
  docs/collapse.ts
  docs/coptic.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/crum/crum/main.ts
  docs/crum/dialect.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/css.ts
  docs/dawoud/main.ts
  docs/dev.ts
  docs/env.ts
  docs/greek.ts
  docs/help.ts
  docs/html.ts
  docs/iam.ts
  docs/logger.ts
  docs/orth.ts
  docs/paths.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#16][Site] Run `make transpile test`.
  docs/bible/main.js
  docs/browser.js
  docs/collapse.js
  docs/coptic.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/crum/main.js
  docs/crum/dialect.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/css.js
  docs/dawoud/main.js
  docs/dev.js
  docs/env.js
  docs/greek.js
  docs/help.js
  docs/html.js
  docs/iam.js
  docs/logger.js
  docs/orth.js
  docs/paths.js
  docs/scan.js
  docs/xooxle.js
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#16][Site] Simplify Lexicon Layout.
  docs/cls.js
  docs/cls.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/style.css
Due: tidy-html, typescript-string-literals

[#298][Site/Reports] Use a Google Form instead of GitHub Issue Template.
  docs/crum/index.html
  docs/crum/lexicon.ts
  docs/help.ts
Due: tidy-html, typescript-string-literals

[#298][Site/Reports] Run `make transpile test`.
  docs/crum/lexicon.js
  docs/help.js
Due: none

[#298][Site/Reports] Delete the Unused GitHub Issues Template.
  .github/ISSUE_TEMPLATE/reports.md
Due: check-one-readme

[#298,#203][Site/Header] Move some Header Logic to New `header` Package.
  docs/cls.ts
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/header.ts
  docs/help.ts
Due: typescript-string-literals

[#298,#203][Site/Header] Run `make transpile test`.
  docs/cls.js
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/header.js
  docs/help.js
Due: none

[#16][Site] Move some Paths to `paths.ts`.
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/lexicon.ts
  docs/header.ts
  docs/paths.ts
Due: typescript-string-literals

[#16][Site] Run `make transpile test`.
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/lexicon.js
  docs/header.js
  docs/paths.js
Due: none

[#454][TypeScript] Delete an Obsolete Transpiled Package.
  docs/where.js
Due: none

[#380][Crum/HTML] Run `make transpile test`.
  docs/crum/cls.js
  docs/crum/crum.js
Due: none

[fix #380][Crum/HTML] Include Visible Links to Derivations.
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/style.css
Due: typescript-string-literals

[#213][TypeScript/Pre-commit] Enforce Naming Conventions.
  eslint.config.mjs
Due: none

[#213][TypeScript/Pre-commit] Follow Naming Conventions.
  docs/coptic.ts
  docs/crum/dialect.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/dawoud/main.ts
  docs/help.ts
  docs/html.ts
  docs/logger.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#453][Site/Keyboard] Add a Keyboard Installation Instructions Page.
  docs/img/logos/android.svg
  docs/img/logos/ios.png
  docs/keyboard.css
  docs/keyboard.html
  docs/style.css
  pre-commit/docs_structure.py
Due: python-unittest-exists, tidy-html, python-unittest

[#213][TypeScript/Pre-commit] Expand ESLint Config.
  eslint.config.mjs
Due: none

[#213][TypeScript/Pre-commit] Appease ESLint.
  docs/bible/main.ts
  docs/browser.ts
  docs/collapse.ts
  docs/coptic.ts
  docs/crum/crum.ts
  docs/crum/crum/main.ts
  docs/crum/dialect.ts
  docs/crum/highlight.ts
  docs/dev.ts
  docs/header.ts
  docs/help.ts
  docs/logger.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#213][TypeScript/Pre-commit] Run `make transpile test`.
  docs/coptic.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/dawoud/main.js
  docs/header.js
  docs/html.js
  docs/logger.js
  docs/scan.js
  docs/xooxle.js
Due: none

[#213][TypeScript/Pre-commit] Appease ESLint.
  docs/bible/main.ts
  docs/collapse.ts
  docs/crum/crum.ts
  docs/crum/crum/main.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/dev.ts
  docs/help.ts
  docs/html.ts
  docs/logger.ts
  docs/scan.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#213][TypeScript/Pre-commit] Run `make transpile test`.
  docs/bible/main.js
  docs/collapse.js
  docs/crum/crum.js
  docs/crum/crum/main.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/dev.js
  docs/help.js
  docs/html.js
  docs/logger.js
  docs/scan.js
  docs/xooxle.js
Due: none

[#9][Crum/Typos] Run `make crum test`.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none
