Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#522][Crum/Wiki/References] Add a Source.
  dictionary/marcion_sourceforge_net/bib.yaml
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#658,#796][Crum/Marcion] Disable Hyperlinking of Coptic and English.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#795][KELLIA] Remove Superfluous Space.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#795][Xooxle] Parameterize Retention of Empty Tags.
  utils/page.py
  xooxle/clean.py
  xooxle/constants.py
  xooxle/xooxle.py
Due: mypy, darglint

[#88][Bible/HTML] Prevent empty `<tbody>` Elements.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#503][Crum/Wiki] Get Rid of Superfluous Space.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#795][Xooxle] Permit Superfluous Space.
  xooxle/xooxle.py
Due: mypy, darglint

[#88,#795][platform/HTML] Tidy Retains Empty Elements.
  tidy_config.txt
Due: none

[#88][Bible/HTML] `make bible test`
  docs/bible/index.html
Due: tidy-html, docs-structure, playwright

[#795][KELLIA] `make kellia test`
  docs/crum/kellia.json
Due: docs-structure, prettier, playwright

[#795][Bible] Eliminate Superfluous Space.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#795][KELLIA] Eliminate Superfluous Space.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#795][Andreas] Eliminate Superfluous Space.
  dictionary/stmacariusmonastery_org/andreas.py
Due: mypy, darglint

[#795][Xooxle] Retain Whitespace.
  utils/page.py
  xooxle/clean.py
  xooxle/xooxle.py
Due: mypy, darglint

[fix #795][Crum/Wiki] Simpler, more Versatile Subparagraphs.
  dictionary/marcion_sourceforge_net/cls.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  dictionary/marcion_sourceforge_net/wiki.ts
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
  test/wiki.ts
  utils/page.py
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[Xooxle] Get rid of Unused Features.
  bible/stshenouda_org/main.py
  dictionary/kellia_uni_goettingen_de/kellia.py
  xooxle/xooxle.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  dictionary/marcion_sourceforge_net/data/output/wiki/106.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1148.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1274.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1287.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/139.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1812.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2931.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3090.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3387.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3415.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3416.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/5.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/531.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/595.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/6.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/919.txt
Due: none

[fix #784][Crum/Wiki] Use `&nbsp;` for Leading / Trailing Lacunae.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#784][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/1023.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1393.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/1918.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2114.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2704.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/2920.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3052.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3134.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3149.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3156.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3179.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/3192.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/584.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/621.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/971.txt
Due: none

[#795][Xooxle] Normalize Non-breaking Space to Regular Space in Index.
  xooxle/xooxle.py
Due: mypy, darglint

[#727,fix #796][Crum/Xooxle] Use a Single Text Fragment.
  docs/bible/bible.ts
  docs/crum/digital.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make wiki test`
  dictionary/marcion_sourceforge_net/data/output/wiki/179.txt
  dictionary/marcion_sourceforge_net/data/output/wiki/947.txt
Due: none

[#709][Crum/Wiki] Remove Obsolete Branches.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#709][Crum/Wiki] Nit: Update Docs.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Simplify Error Handling.
  dictionary/marcion_sourceforge_net/wiki.ts
Due: prettier, typescript-unittest
