Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#5][Crum/Images] Add Images for 2764.
  dictionary/marcion.sourceforge.net/data/img-300/2764-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2764-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2764-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2764-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2764-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2764-1-3.txt
  dictionary/marcion.sourceforge.net/data/img/2764-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2764-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/2764-1-3.jpg
Due: crum-img-validate

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#5][Crum/Images] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2764.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2764-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2764-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2764-1-3.jpg
Due: tidy-html

[#227,#8][Crum/Sisters,Notes] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#227,#8][Crum/Sisters,Notes] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1964.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2123.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2764.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/655.html
Due: tidy-html

[TypeScript] Explicitly Set the Registry. Track `package-lock.json`.
  .gitignore
  .npmrc
  package-lock.json
Due: json-tool

[TypeScript] `npm install --save-dev bun`
  package-lock.json
  package.json
Due: json-tool

[TypeScript] Enforce Placeholder Unit Tests for TypeScript.
  .pre-commit-config.yaml
  pre-commit/typescript-unittest-exists.sh
  site/test/crum.test.ts
  site/test/tsconfig.json
  site/test/xooxle.test.ts
Due: typescript-string-literals

[TypeScript/Stats] Account for `.npmrc` in `stats.sh`.
  stats.sh
Due: none

Revert "Revert "[#230][Site] Add a Command to Squash All Commit History.""
  site/publish.sh
Due: none

[#227,#1][Crum/Sisters,Dawoud] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#226,#269,#272][Crum/Sisters/Stats] Expand the Validation Ranges.
  stats.sh
Due: none

[#227][Crum/Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1058.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1189.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1394.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1402.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1458.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1478.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/163.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/180.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1910.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1924.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1952.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1971.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2200.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2221.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2240.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/238.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2393.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2522.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2615.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/27.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2741.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/318.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/346.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/447.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/614.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/634.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/678.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/79.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/845.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/867.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/868.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/960.html
Due: tidy-html

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1098.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1436.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1437.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1440.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1441.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/180.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/182.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/22.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/901.html
Due: tidy-html

[#9][Crum/Typos] Fix Typo in 201/1532.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#9][Crum/Typos] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/201.html
Due: tidy-html

[Makefile] Update Docs. Introduce a Convention for Development Rules.
  Makefile
Due: none

[#9][Crum/Typos] Fix Typo in the English translation of 1537.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#227,#8,#1][Crum/Sisters,Notes,Dawoud] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#111][Env] Google Cloud Credentials File has a Fixed Path.
  .env_INFO
  .gitignore
  utils.py
Due: python-unittest-exists, python-unittest

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1626.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/241.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/337.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/515.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/516.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/673.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/899.html
Due: tidy-html

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1049.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1097.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1179.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1355.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1402.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1460.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1499.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2022.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2125.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2139.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2225.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2232.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2263.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2407.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2544.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2558.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2586.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2669.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2754.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2803.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2837.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3169.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3266.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3271.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/3358.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/531.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/79.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/792.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/91.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/948.html
Due: tidy-html

[#9][Crum/Typos] Fix Typo in 924.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
