Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#468][Lexicon] Run `make transpile test`.
  docs/browser.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/xooxle.js
Due: none

[#453][Site/Keyboard] Nit: Fix Typo in Keyboard Download Instructions.
  docs/keyboard.html
Due: tidy-html

[Lexicon/Xooxle] Aesthetics!
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: typescript-string-literals

[Lexicon/Xooxle] Run `make transpile test`.
  docs/crum/lexicon.js
  docs/xooxle.js
Due: none

[#202][TypeScript] Use `innerText`, not `innerHTML`, where appropriate.
  docs/crum/crum.ts
  docs/crum/help.ts
Due: typescript-string-literals

[#202][TypeScript] Run `make transpile test`.
  docs/crum/crum.js
  docs/crum/help.js
Due: none

[#463][Xooxle] Make the Entire View Cell Clickable.
  docs/xooxle.css
  docs/xooxle.ts
Due: typescript-string-literals

[#463][Xooxle] Run `make transpile test`.
  docs/xooxle.js
Due: none

[#463][Xooxle] Add Hyperlinks to the `view-for-more` Element.
  docs/xooxle.css
  docs/xooxle.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#450][Scan] Archive the JPEG conversion script.
  archive/convert.sh
Due: none

[#16][Pre-commit] Run `pre-commit autoupdate`.
  .pre-commit-config.yaml
Due: none

[#359,#404,#409][Flashcards] Restore Support for Duplicate Media Basenames.
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#409][Dawoud/Scan] Update the Dawoud Scan Constants.
  docs/dawoud/main.ts
Due: typescript-string-literals

[#409][Dawoud/Scan] Run `make transpile test`.
  docs/dawoud/main.js
Due: none

[#409][Dawoud/Flashcards] Update Paths.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#409][Dawoud/Scan] Update the Path in `docs_structure`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#409][Dawoud/Scan] Archive the Script to Process the Scan.
  archive/dictionary/copticocc.org/scan.sh
Due: none

[#463][Xooxle] View Cell has Both an Anchor and a Listener.
  docs/xooxle.css
  docs/xooxle.ts
Due: typescript-string-literals

[fix #313][Dawoud] Use Dawoud as the Author's Last Name.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[fix #400][Xooxle] Use a Filter Factory rather than a mere Filter.
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#400][Xooxle] Run `make transpile test`.
  docs/crum/lexicon.js
  docs/xooxle.js
Due: none

[Xooxle] Use OOP for Behavior Customization.
  docs/crum/lexicon.ts
  docs/paths.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#463][Xooxle] Remove Anchors from `view`. Add docs and aesthetics.
  docs/crum/help.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#463][Xooxle] Run `make transpile test`.
  docs/crum/help.js
  docs/crum/lexicon.js
  docs/paths.js
  docs/xooxle.js
Due: none

[#9,#227][Crum/Typos,Sisters] Run `make crum test`.
  dictionary/marcion_sourceforge_net/data/input/coptdrv.tsv
  dictionary/marcion_sourceforge_net/data/input/coptwrd.tsv
Due: none

[#295][Site/Home] Nit: Update Logo Styling.
  docs/style.css
Due: none

[#295][Site/Home] Revisit Home Page.
  docs/crum/index.html
  docs/home.css
  docs/img/logos/github.png
  docs/index.html
  docs/style.css
Due: tidy-html

[#407][CSS] Delete some Unused CSS Classes.
  docs/crum/crum/index.html
  docs/dawoud/index.html
Due: tidy-html

[#407][CSS] Update Logos.
  docs/img/logos/coptic-orphans-logo.jpg
  docs/img/logos/coptic-orphans.png
  docs/img/logos/github.png
  docs/index.html
Due: tidy-html

[#457][Site/Test] `npm install --save-dev @playwright/test http-server`
  package-lock.json
  package.json
Due: json-tool

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
