Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#5][Crum/Images] Add an Image for ⲕⲁⲃⲁⲓ (2802).
  dictionary/marcion_sourceforge_net/data/img-sources/2802-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/2802-1-2.jpeg
  docs/crum/explanatory/2802-1-2.jpeg
Due: docs-structure, playwright

[#1,#227,#573,#5][Crum] `make crum test`
  docs/crum/2289.html
  docs/crum/2333.html
  docs/crum/2344.html
  docs/crum/2345.html
  docs/crum/2351.html
  docs/crum/2452.html
  docs/crum/2491.html
  docs/crum/2534.html
  docs/crum/2535.html
  docs/crum/2802.html
  docs/crum/718.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#583][Crum/Nag Hammadi] Fix Typo in Reference.
  docs/crum/14.html
Due: tidy-html, docs-structure, playwright

[#5][Crum/Images] Add an Image.
  dictionary/marcion_sourceforge_net/data/img-sources/1892-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/1892-1-2.jpg
  docs/crum/explanatory/1892-1-2.jpg
Due: docs-structure, playwright

[fix #498,#241][Crum,Site] Better HTML, CSS, and Developer Mode.
  docs/cls.ts
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/dev.ts
  docs/scan.ts
  docs/style.css
  docs/xooxle.css
  docs/xooxle.ts
  flashcards/constants.py
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#507][Crum] Avoid Lookup Hyperlinks on Roman and Heading Text.
  dictionary/marcion_sourceforge_net/constants.py
  docs/crum/cls.ts
  docs/crum/crum.ts
  docs/style.css
  flashcards/constants.py
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#584][Lexicon] Extract Senses.
  flashcards/constants.py
Due: mypy, darglint

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[TypeScript] `make transpile test`
  docs/cls.js
  docs/crum/cls.js
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/dev.js
  docs/scan.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[Crum/Flashcards] Nit: Use a small N in “Editor's note”.
  flashcards/constants.py
Due: mypy, darglint

[Crum/Flashcards] Nit: Use a small N in “Editor's note”.
  docs/crum/1019.html
  docs/crum/1788.html
  docs/crum/1797.html
  docs/crum/1857.html
  docs/crum/1964.html
  docs/crum/2106.html
  docs/crum/2166.html
  docs/crum/2469.html
  docs/crum/2517.html
  docs/crum/2940.html
  docs/crum/3080.html
  docs/crum/3082.html
  docs/crum/3129.html
  docs/crum/3196.html
  docs/crum/3205.html
  docs/crum/3300.html
  docs/crum/3335.html
  docs/crum/337.html
  docs/crum/431.html
  docs/crum/508.html
  docs/crum/757.html
  docs/crum/781.html
  docs/crum/842.html
  docs/crum/893.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#5][Crum/Images] Update Images.
  dictionary/marcion_sourceforge_net/data/img-sources/2106-1-1.txt
  dictionary/marcion_sourceforge_net/data/img-sources/2502-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/2106-1-1.jpg
  dictionary/marcion_sourceforge_net/data/img/2502-1-2.jpg
  docs/crum/explanatory/2106-1-1.jpg
  docs/crum/explanatory/2502-1-2.jpg
Due: docs-structure, playwright

[#1,#5][Crum/Dawoud,Images] `make crum test`
  docs/crum/1501.html
  docs/crum/2106.html
  docs/crum/2502.html
Due: tidy-html, docs-structure, playwright

[#5][Crum/Images] Update an Image for ⲟⲩⲱⲓⲛⲓ (1).
  dictionary/marcion_sourceforge_net/data/img-sources/1-1-1.txt
  dictionary/marcion_sourceforge_net/data/img/1-1-1.jpg
  dictionary/marcion_sourceforge_net/data/img/1-1-1.png
  docs/crum/explanatory/1-1-1.jpg
Due: docs-structure, playwright

[#5][Crum/Images] `make crum test`
  docs/crum/1.html
Due: tidy-html, docs-structure, playwright

[#226,#5][Crum/HTML] Update Key Styling.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[fix #493][Python] Add an Error Message in Crum.
  dictionary/marcion_sourceforge_net/parse.py
Due: mypy, darglint

[#9,#227,#573,#586][Crum] `make crum test`
  docs/crum/1147.html
  docs/crum/1324.html
  docs/crum/1374.html
  docs/crum/1452.html
  docs/crum/1453.html
  docs/crum/1454.html
  docs/crum/1455.html
  docs/crum/1467.html
  docs/crum/1484.html
  docs/crum/1492.html
  docs/crum/1542.html
  docs/crum/1543.html
  docs/crum/1616.html
  docs/crum/1712.html
  docs/crum/1713.html
  docs/crum/172.html
  docs/crum/1760.html
  docs/crum/178.html
  docs/crum/196.html
  docs/crum/2034.html
  docs/crum/2298.html
  docs/crum/2317.html
  docs/crum/2619.html
  docs/crum/2766.html
  docs/crum/292.html
  docs/crum/3301.html
  docs/crum/433.html
  docs/crum/616.html
  docs/crum/649.html
  docs/crum/728.html
  docs/crum/940.html
  docs/crum/941.html
  docs/crum/anatomy.html
  docs/crum/categories.html
  docs/crum/concept.html
  docs/crum/crum.json
  docs/crum/noun male.html
  docs/crum/species.html
  docs/crum/tool.html
Due: tidy-html, docs-structure, prettier, playwright

[#577][KELLIA] Nit: Simplify the Check for Greek Words.
  dictionary/kellia_uni_goettingen_de/kellia.py
Due: mypy, darglint

[#419][Crum/Wiki/Bible] Nit: Remove auto-generated file from Code Stats.
  env/find.sh
Due: none

[#229][Lexicon] Use same color for Xooxle Matches and Text Fragments.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#503][Crum/Wiki] `make wiki crum test`
  docs/crum/1492.html
  docs/crum/1493.html
  docs/crum/1533.html
  docs/crum/1548.html
  docs/crum/3102.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#234][Xooxle] Drop Empty Fields from the Index.
  docs/xooxle.ts
  xooxle/xooxle.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#234][Xooxle] `make crum kellia copticsite test`
  docs/crum/copticsite.json
  docs/crum/crum.json
  docs/crum/kellia.json
Due: docs-structure, prettier, playwright

[TypeScript] `make transpile test`
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#452,#308][Andreas] Remove Section Title Handling.
  dictionary/stmacariusmonastery_org/andreas.py
Due: mypy, darglint

[#452,fix #308][Andreas] Integrate Andreas. Conceal `copticsite`.
  Makefile
  dictionary/stmacariusmonastery_org/andreas.py
  dictionary/stmacariusmonastery_org/constants.py
  dictionary/stmacariusmonastery_org/convert.py
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  flashcards/constants.py
  flashcards/main.py
  pre-commit/docs_structure.py
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#452][Andreas] Restructuring and Improving Rigor!
  dictionary/stmacariusmonastery_org/andreas.py
  dictionary/stmacariusmonastery_org/constants.py
  dictionary/stmacariusmonastery_org/data/input/data_1.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  flashcards/constants.py
Due: tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#591][Andreas] Manually De-indent a few Paragraphs.
  dictionary/stmacariusmonastery_org/data/input/data_1.html
  dictionary/stmacariusmonastery_org/data/input/data_2.html
Due: tidy-html

[#591][Andreas] Manually Fix a Few Entries.
  dictionary/stmacariusmonastery_org/data/input/data_1.html
  dictionary/stmacariusmonastery_org/data/input/data_2.html
Due: tidy-html

[#452,#448][Andreas] Improve Rigor.
  Makefile
  dictionary/stmacariusmonastery_org/andreas.py
  dictionary/stmacariusmonastery_org/main.py
  flashcards/constants.py
  flashcards/main.py
  xooxle/xooxle.py
Due: mypy, darglint

[#570,#194][TypeScript] Fix Typo in `collapse.ts`.
  docs/collapse.ts
Due: docs-structure, prettier, typescript-unittest, playwright
