Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[fix #372,#553][Site/TypeScript] Define Page Identities in `<body>` Tag.
  bible/stshenouda_org/main.py
  docs/help.ts
  docs/iam.ts
  eslint.config.mjs
  flashcards/deck.py
  utils/page.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#407][Bible/CSS] Move Bible CSS to a separate file.
  bible/stshenouda_org/main.py
  docs/bible/style.css
  docs/style.css
  utils/paths.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #548][Bible/CSS] Add some Styling.
  docs/bible/style.css
Due: none

[#179,#407][Bible] Split CSS and TypeScript. Implement Dialect Control.
  bible/stshenouda_org/main.py
  docs/bible/bible.css
  docs/bible/bible.ts
  docs/bible/cls.ts
  docs/bible/dialect.ts
  docs/bible/highlight.ts
  docs/bible/main.ts
  docs/bible/style.css
  docs/browser.ts
  docs/style.css
  utils/paths.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#179][Site/TypeScript] Create a Shared `dialect` Package.
  docs/crum/dialect.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/dialect.ts
Due: typescript-string-literals

[#179][Bible/TypeScript] Use Local Storage as Dialect Source of Truth.
  docs/bible/cls.ts
  docs/bible/dialect.ts
  docs/bible/highlight.ts
  docs/bible/main.ts
  docs/browser.ts
  docs/crum/highlight.ts
Due: typescript-string-literals

[#179][Bible/TypeScript] `make transpile test`
  docs/bible/cls.js
  docs/bible/dialect.js
  docs/bible/highlight.js
  docs/bible/main.js
  docs/browser.js
  docs/crum/dialect.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/dialect.js
Due: none

[fix #554,#555][Crum/TypeScript] Trim `textContent` where appropriate.
  docs/crum/crum.ts
  docs/crum/help.ts
Due: typescript-string-literals

[#253,#419][Xooxle,Crum/Wiki] Update Docs about Normalization.
  docs/html.ts
Due: typescript-string-literals

[#274][Crum/Help] Nit: Simplify a Regex.
  docs/help.ts
Due: typescript-string-literals

[#419][Crum/Wiki] Fix Bug: Use `nodeValue` instead of `textContent`.
  docs/crum/wiki.ts
Due: typescript-string-literals

[#554,#555,#419][TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/help.js
  docs/crum/wiki.js
  docs/help.js
  docs/html.js
Due: none

[#556][HTML/TypeScript] Reassign TODO's.
  docs/html.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#556][HTML/TypeScript] `make transpile test`
  docs/html.js
  docs/xooxle.js
Due: none

[#556,#220][platform] Deterministic pipeline! `file` utils! Type hints!
  Makefile
  bible/stshenouda_org/main.py
  dictionary/kellia_uni_goettingen_de/analysis.py
  morphology/kindle.py
  utils/file.py
Due: python-unittest-exists, python-unittest

[#220][KELLIA] `make kellia_analysis test` to pick up determinism.
  dictionary/kellia_uni_goettingen_de/data/output/analysis.json
Due: json-tool

[#543][Crum/Wiki/References] Nit: Don't parse Empty String as a Suffix.
  docs/crum/wiki.ts
Due: typescript-string-literals

[#543][Crum/Wiki/References] `make transpile test`
  docs/crum/wiki.js
Due: none

[#556][platform/Utils] Write NFD-normalized Files by Default.
  utils/file.py
  utils/orth.py
Due: python-unittest-exists, python-unittest

[#556][TypeScript] Stop NFD-normalizing Text Content.
  docs/html.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#556][TypeScript] `make transpile test`
  docs/html.js
  docs/xooxle.js
Due: none

[#179][Bible] Show Dialect Selection on Large Screens as well.
  bible/stshenouda_org/main.py
  docs/bible/cls.ts
  docs/bible/highlight.ts
  docs/bible/main.ts
  docs/bible/style.css
  docs/crum/crum.ts
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
  docs/dropdown.css
  docs/dropdown.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#490][Python/Utils] `paths` uses `pathlib.Path` instead of `str`.
  bible/stshenouda_org/main.py
  dictionary/marcion_sourceforge_net/constants.py
  flashcards/constants.py
  flashcards/deck.py
  pre-commit/docs_structure.py
  stats.py
  utils/paths.py
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#179][Crum/Dialect] Abandon the `no-dev` Class.
  docs/crum/highlight.ts
  docs/crum/lexicon.css
  docs/dev.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#179][Crum/Dialect] Move Common Dialect Logic to a shared Package.
  docs/bible/dialect.ts
  docs/bible/highlight.ts
  docs/bible/main.ts
  docs/crum/crum.ts
  docs/crum/dialect.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/dialect.ts
  docs/iam.ts
Due: typescript-string-literals

[#179][Crum/Dialect] `make transpile test`
  docs/bible/dialect.js
  docs/bible/highlight.js
  docs/bible/main.js
  docs/crum/crum.js
  docs/crum/dialect.js
  docs/crum/help.js
  docs/crum/highlight.js
  docs/crum/lexicon.js
  docs/crum/main.js
  docs/dev.js
  docs/dialect.js
  docs/xooxle.js
Due: none

[#490][Utils] Stop Resolving Paths.
  utils/paths.py
Due: python-unittest-exists, python-unittest

[TypeScript] Nit: Store IDs in an `ID` Enum.
  docs/bible/main.ts
  docs/crum/lexicon.ts
Due: typescript-string-literals

[fix #548][Bible/CSS] Update Chapter Styling.
  docs/bible/style.css
Due: none

[#179][Bible,Crum] Move some Common Logic to shared Packages.
  docs/bible/dialect.ts
  docs/bible/highlight.ts
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/dev.ts
  docs/highlight.ts
Due: typescript-string-literals

[TypeScript] Uniform, short Import Package Names.
  docs/bible/bible.ts
  docs/bible/dialect.ts
  docs/bible/highlight.ts
  docs/bible/main.ts
  docs/collapse.ts
  docs/coptic.ts
  docs/crum/crum.ts
  docs/crum/dialect.ts
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/crum/references.test.ts
  docs/crum/wiki.ts
  docs/dawoud/main.ts
  docs/dev.ts
  docs/dialect.ts
  docs/help.ts
  docs/highlight.ts
  docs/html.ts
  docs/scan.ts
  docs/xooxle.ts
  test/test.ts
Due: typescript-string-literals

[#16][TypeScript] Docs and Code Quality.
  docs/crum/help.ts
  docs/crum/highlight.ts
  docs/help.ts
  docs/iam.ts
  docs/xooxle.ts
Due: typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
