Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#702][Crum/Wiki/References] Flag Non-suffix Annotations in Suffixes.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #715][Crum/Wiki/References] Update Difnar Links.
  docs/crum/pisaxo.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/pisaxo.js
  docs/crum/pisaxo.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#671][Crum/Wiki] Fix Bug in Mani Handling.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

Revert "[#671][Crum/Wiki] Fix Bug in Mani Handling."
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Partially Revert "[#671][Crum/Wiki] Restructure Mani Sources using Postfixes."
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503,#557][Crum/Wiki] Update a Unit Test for ⲧⲱⲣⲓ (369).
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[Xooxle] Nit: Fix bug: Error Messages should Append to one Another.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#672][Crum/Wiki] Remove a no-longer-needed Branch for Lexicon.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#654][Crum/Wiki] Restrict Enrichment on Lexicon.
  docs/crum/lexicon.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[Lexicon] Clearly Separate Wiki and Marcion Enrichment.
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
Due: docs-structure, prettier, playwright

[Lexicon] Deduplicate Code.
  docs/crum/crum.ts
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/main.js
  docs/crum/main.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#691][AI] Update Claude Instructions. `source .env` already gets executed by the developer.
  CLAUDE.md
Due: check-one-readme

[#555][pre-commit] `pre-commit run --all-files`
  dictionary/kellia_uni_goettingen_de/data/input/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
  dictionary/kellia_uni_goettingen_de/data/raw/v1.2/Comprehensive_Coptic_Lexicon-v1.2-2020.xml
Due: tidy-xml

[#413][Lexicon] Rename some Files to Minimize Future `diff`.
  docs/crum/book.ts
  docs/crum/crum/main.ts
  docs/crum/dawoud.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[pre-commit] Format some Python Files.
  dictionary/kellia_uni_goettingen_de/main.py
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/stmacariusmonastery_org/main.py
Due: mypy, darglint

[#691][AI] Exclude `.claude` from `doctoc`.
  .pre-commit-config.yaml
Due: none

[#413,fix #460][Lexicon] Lexicon should Search Scans as Well.
  docs/bible/bible.ts
  docs/crum/book.ts
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/crum/index.html
  docs/crum/crum/main.js
  docs/crum/crum/main.js.map
  docs/crum/dawoud.ts
  docs/crum/help.ts
  docs/crum/id.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  docs/crum/lexicon.ts
  docs/crum/main.ts
  docs/crum/mode.ts
  docs/crum/query.ts
  docs/dawoud/index.html
  docs/dawoud/main.js
  docs/dawoud/main.js.map
  docs/help.css
  docs/paths.ts
  docs/scan.css
  docs/scan.ts
  docs/str.ts
  docs/xooxle.ts
  pre-commit/docs_structure.py
  test/test.ts
Due: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js.map
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/cls.js.map
  docs/crum/dawoud.js
  docs/crum/dawoud.js.map
  docs/crum/help.js
  docs/crum/help.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/main.js.map
  docs/crum/mode.js
  docs/crum/mode.js.map
  docs/crum/query.js
  docs/crum/query.js.map
  docs/paths.js
  docs/paths.js.map
  docs/scan.js
  docs/scan.js.map
  docs/str.js
  docs/str.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#427][Crum/Wiki] Add a TODO about the Imprecision of Addenda Pages.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#413][Lexicon/Scan] Miscellaneous Followups.
  docs/browser.ts
  docs/crum/lexicon.css
  docs/crum/mode.ts
  docs/crum/query.ts
  docs/scan.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/browser.js
  docs/browser.js.map
  docs/crum/mode.js
  docs/crum/mode.js.map
  docs/crum/query.js.map
  docs/scan.js
  docs/scan.js.map
Due: docs-structure, prettier, playwright

[#413][Lexicon] Modes are Invisibile by Default.
  docs/crum/lexicon.css
Due: docs-structure, prettier, stylelint, playwright

Revert "[#413][Lexicon] Modes are Invisibile by Default."
  docs/crum/lexicon.css
Due: docs-structure, prettier, stylelint, playwright

[#413][Lexicon/Scan] Fix Bug: Handle Negative Numbers.
  docs/scan.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#413][Lexicon] Modes are invisible by default.
  docs/crum/lexicon.css
Due: docs-structure, prettier, stylelint, playwright

[#427][Crum/Wiki] Rename `corrigenda` to `addenda` for consistency.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/cls.ts
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[fix #673][Crum] Add a Link to the Preface and List of Abbreviations.
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/crum.ts
  docs/crum/wiki.ts
  docs/paths.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[fix #575,fix #655,#413][Crum/HTML] Remove Scans from Notes.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/sheet.py
  docs/crum/book.ts
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/crum/id.ts
  docs/crum/lexicon.css
  docs/crum/wiki.ts
  docs/dropdown.css
  docs/paths.ts
  stats.py
  utils/paths.py
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/help.js
  docs/crum/help.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/paths.js
  docs/paths.js.map
  docs/scan.js
  docs/scan.js.map
Due: docs-structure, prettier, playwright
