Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] `make crum test`
  docs/crum/2028.html
  docs/crum/2179.html
  docs/crum/2181.html
  docs/crum/2201.html
  docs/crum/2212.html
  docs/crum/crum.json
  docs/crum/index.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/100.html
  docs/crum/1349.html
  docs/crum/2217.html
  docs/crum/2223.html
  docs/crum/2227.html
  docs/crum/2243.html
  docs/crum/2247.html
  docs/crum/2256.html
  docs/crum/2257.html
  docs/crum/2261.html
  docs/crum/2262.html
  docs/crum/334.html
  docs/crum/486.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#5][Crum/Images] Delete an Image.
  dictionary/marcion_sourceforge_net/data/img-sources/1279-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/1279-1-2.jpg
  docs/crum/explanatory/1279-1-2.jpg
Due: docs-structure, playwright

[#5,#227,#9,#1][Crum] `make crum test`
  docs/crum/1153.html
  docs/crum/117.html
  docs/crum/1279.html
  docs/crum/136.html
  docs/crum/1492.html
  docs/crum/1511.html
  docs/crum/1533.html
  docs/crum/1545.html
  docs/crum/1603.html
  docs/crum/1758.html
  docs/crum/2190.html
  docs/crum/2201.html
  docs/crum/2379.html
  docs/crum/2483.html
  docs/crum/2580.html
  docs/crum/2864.html
  docs/crum/419.html
  docs/crum/719.html
  docs/crum/837.html
  docs/crum/946.html
  docs/crum/crum.json
  docs/crum/noun.html
  docs/crum/person.html
  docs/crum/verb.html
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1671.html
  docs/crum/2278.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503,#9][Crum/Wiki] `make crum test`
  docs/crum/1146.html
  docs/crum/2281.html
  docs/crum/2293.html
  docs/crum/2303.html
  docs/crum/2312.html
  docs/crum/2315.html
  docs/crum/2339.html
  docs/crum/2341.html
  docs/crum/2344.html
  docs/crum/2349.html
  docs/crum/2356.html
  docs/crum/2362.html
  docs/crum/2363.html
  docs/crum/2367.html
  docs/crum/2368.html
  docs/crum/2374.html
  docs/crum/2402.html
  docs/crum/271.html
  docs/crum/312.html
  docs/crum/327.html
  docs/crum/351.html
  docs/crum/394.html
  docs/crum/649.html
  docs/crum/700.html
  docs/crum/764.html
  docs/crum/986.html
  docs/crum/crum.json
  docs/crum/index.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#5][Crum/Images] Delete an Image.
  dictionary/marcion_sourceforge_net/data/img-sources/1460-1-2.txt
  dictionary/marcion_sourceforge_net/data/img/1460-1-2.avif
  docs/crum/explanatory/1460-1-2.avif
Due: docs-structure, playwright

[#5][Crum/Images] Delete an Image.
  dictionary/marcion_sourceforge_net/data/img-sources/2078-1-1.txt
  dictionary/marcion_sourceforge_net/data/img/2078-1-1.jpg
  docs/crum/explanatory/2078-1-1.jpg
Due: docs-structure, playwright

[#503,#5,#9][Crum] `make crum test`
  docs/crum/1250.html
  docs/crum/1391.html
  docs/crum/1460.html
  docs/crum/1574.html
  docs/crum/1670.html
  docs/crum/1780.html
  docs/crum/1863.html
  docs/crum/2004.html
  docs/crum/2010.html
  docs/crum/2019.html
  docs/crum/202.html
  docs/crum/2078.html
  docs/crum/2788.html
  docs/crum/285.html
  docs/crum/327.html
  docs/crum/497.html
  docs/crum/741.html
  docs/crum/766.html
  docs/crum/895.html
  docs/crum/939.html
  docs/crum/construction.html
  docs/crum/crum.json
  docs/crum/noun female.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[#295][Home] Delete the Video.
  docs/index.html
Due: tidy-html, docs-structure, playwright

[#295][Home] Delete mentions of the Code.
  docs/index.html
Due: tidy-html, docs-structure, playwright

[#263][HTML] Prevent Indexing Images.
  utils/page.py
Due: mypy, darglint

[#263][HTML] Temporarily Hide all Explanatory Images.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#263][HTML] Temporarily Change Explanatory Images Path.
  utils/paths.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/2520.html
  docs/crum/2526.html
  docs/crum/77.html
  docs/crum/921.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/2569.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#681]Site/Home] Delete the Ticket Link.
  docs/index.html
Due: tidy-html, docs-structure, playwright

[#681][platform/Docs] Make some Docs more Concise.
  .pre-commit-config.yaml
  README.md
  docs/orth.ts
  pre-commit/docs_structure.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/161.html
  docs/crum/2569.html
  docs/crum/2610.html
  docs/crum/2612.html
  docs/crum/470.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/orth.js.map
Due: docs-structure, prettier, playwright

[#522,#194][Crum/Wiki] An Annotation, a Reference Postfix, and a TODO.
  docs/crum/annotations.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/905.html
  docs/crum/935.html
  docs/crum/936.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#9][Crum] `make crum test`
  docs/crum/2268.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[#438][Crum/Wiki] Handle Ampersand Encoding Errors.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/2036.html
  docs/crum/475.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[Crum/Parser] Add the `inc` Detached Type.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#681][Crum/Images] Control Image Visibility with Environment Variable.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#9][Crum] `make crum test`
  docs/crum/1213.html
  docs/crum/1639.html
  docs/crum/2228.html
  docs/crum/279.html
  docs/crum/327.html
  docs/crum/360.html
  docs/crum/795.html
  docs/crum/clothes.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/noun.html
Due: tidy-html, docs-structure, prettier, playwright

[#9][Crum/Marcion] `make crum test`
  docs/crum/-.html
  docs/crum/2579.html
  docs/crum/crum.json
  docs/crum/doubtful.html
Due: tidy-html, docs-structure, prettier, playwright

[#9][Crum/Marcion] `make crum test`
  docs/crum/824.html
  docs/crum/crum.json
  docs/crum/noun male.html
Due: tidy-html, docs-structure, prettier, playwright

[#438][Crum/Wiki] Use a Stricter Headword Regex.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
