Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#264,#241,#230][KELLIA/HTML] Add "type" Class for Dialect Highlighting.
  dictionary/kellia.uni-goettingen.de/main.py
Due: python-unittest-exists, python-unittest

[#230][Xooxle] Update TODO's.
  site/xooxle.py
  site/xooxle.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#241,#230,#264][Xooxle/Dictionary] Dialect-highlight the `type` Class.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#230,#241][Xooxle] Nit: Use `set` for `retain_classes`.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#241][Site] Restore the Resized Logos.
  README.md
  site/data/img/logos/resized-bbaw-logo.png
  site/data/img/logos/resized-cc-by-sa.png
  site/data/img/logos/resized-coptic-orphans-logo.jpg
  site/data/img/logos/resized-copticscriptorium-logo.png
  site/data/img/logos/resized-copticsite-logo.png
  site/data/img/logos/resized-fu-logo.png
  site/data/img/logos/resized-gplv3.png
  site/data/img/logos/resized-kellia-logo.png
  site/data/img/logos/resized-marcion-logo.png
  site/data/img/logos/resized-stshenouda-logo.jpg
  site/index.html
Due: tidy-html

[#241][Xooxle/CSS] Deduplicate Hover Link Styling.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
  site/style.css
Due: none

[#241][Site/CSS] Miscellaneous Style Updates.
  site/index.html
  site/style.css
Due: tidy-html

[#16][Site] Add License Information to the Search Page as well.
  site/crum.html
Due: tidy-html

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#241][Site/Home/CSS] Update the `download` Rule.
  site/style.css
Due: none

[#241][CSS] Copy the New CSS to Flashcards.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/copticsite.com/style.css
  flashcards/data/output/web/kellia__comprehensive/style.css
Due: none

[#261][Crum/Images/Helper] Ban `gstatic.com`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/917-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/918-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/919-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/919-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/921-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/917-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/918-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/919-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/919-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/921-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/917-1-1.png
  dictionary/marcion.sourceforge.net/data/img/918-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/919-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/919-2-1.png
  dictionary/marcion.sourceforge.net/data/img/921-1-1.png
Due: crum-img-validate

[#5][Crum/Images/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/917.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/918.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/919.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/921.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_917-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_918-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_919-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_919-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_921-1-1.jpg
Due: tidy-html

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/2695-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2695-2-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2695-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2695-2-2.txt
  dictionary/marcion.sourceforge.net/data/img/2695-2-1.png
  dictionary/marcion.sourceforge.net/data/img/2695-2-2.jpg
Due: crum-img-validate

[#226][Crum/Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/923-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/923-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/923-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/923-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/923-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/923-2-1.png
Due: crum-img-validate

[#5][Crum/Images/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2695.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/923.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2695-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2695-2-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_923-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_923-2-1.jpg
Due: tidy-html

[#227,#189][Crum/Sisters,Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#226][Crum/Sisters/Flashcards] Display Sisters in the Crum Flashcards.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#226][Crum] Populate a Short, Dialected, Classed Title.
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest-exists, python-unittest

[#226][Crum/Flashcards] Look up Coptic using Xooxle. Exclude Sisters.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  site/data/build/xooxle.js
Due: typescript-string-literals

[#226,#227,#189][Crum/Sisters/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/102.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1063.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1066.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1169.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1312.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1323.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/141.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1444.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1582.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1751.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1898.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2108.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/211.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/228.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/254.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/255.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/256.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/257.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/258.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2695.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/285.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/29.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/313.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/388.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/390.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/393.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/411.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/426.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/766.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/806.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/904.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/962.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: tidy-html

[#261][Crum/Images/Helper] Delete an Unused Constant.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum] Delete an Unused Column.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
Due: python-unittest-exists, python-unittest

[#28][Dawoud/Scan] Scripts and Docs about Obtaining the Scans.
  README.md
  archive/dictionary/copticocc.org/crop.sh
  archive/dictionary/copticocc.org/pdf_extract.sh
  archive/dictionary/copticocc.org/size.sh
Due: none

[#226][Crum/Appendices] Rename Helper Script. Add Commandline Args.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/test/test_appendices_helper.py
Due: python-unittest-exists, python-unittest

[#226][Crum/Sisters/Pre-commit] Add Semantic Sister Validation.
  dictionary/marcion.sourceforge.net/appendices.py
Due: python-unittest-exists, python-unittest

[#16][Site/README] Add a README in the Site Repo with Links.
  .pre-commit-config.yaml
  site/README.md
  site/publish.sh
Due: check-one-readme
