Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#503][Crum/Wiki] `make crum test`
  docs/crum/1914.html
  docs/crum/1938.html
  docs/crum/2427.html
  docs/crum/2474.html
  docs/crum/2552.html
  docs/crum/2574.html
  docs/crum/2583.html
  docs/crum/2587.html
  docs/crum/786.html
  docs/crum/829.html
  docs/crum/833.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#203][Crum/Wiki] `make crum test`
  docs/crum/1899.html
  docs/crum/1900.html
  docs/crum/2542.html
  docs/crum/2544.html
  docs/crum/2549.html
  docs/crum/2559.html
  docs/crum/3114.html
  docs/crum/786.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#614][Crum/Wiki] Update Page Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#9][Crum/Typos] `make crum test`
  docs/crum/1221.html
  docs/crum/1431.html
  docs/crum/1455.html
  docs/crum/1463.html
  docs/crum/2105.html
  docs/crum/2626.html
  docs/crum/2848.html
  docs/crum/619.html
  docs/crum/anatomy.html
  docs/crum/crum.json
  docs/crum/noun male.html
Due: tidy-html, docs-structure, prettier, playwright

[#508][Crum/Wiki/Marcion] Add a Placeholder for Missing Entries.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#9][Crum/Typos] `make crum test`
  docs/crum/2444.html
  docs/crum/2445.html
  docs/crum/2446.html
  docs/crum/2613.html
  docs/crum/3330.html
  docs/crum/anatomy.html
  docs/crum/crum.json
  docs/crum/crum/coptic.tsv
  docs/crum/noun male.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[Crum/Wiki/Dialects] Handle a Singleton Occurrence of `S^af`.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#573,#8,#503,#9][Crum] `make crum test`
  docs/crum/1545.html
  docs/crum/2027.html
  docs/crum/2329.html
  docs/crum/2529.html
  docs/crum/2682.html
  docs/crum/2876.html
  docs/crum/3117.html
  docs/crum/406.html
  docs/crum/812.html
  docs/crum/categories.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/doubtful.html
  docs/crum/noun.html
  docs/crum/person.html
Due: tidy-html, docs-structure, prettier, playwright

[#506,#9][Crum] `make crum test`
  docs/crum/1128.html
  docs/crum/1353.html
  docs/crum/1354.html
  docs/crum/2855.html
  docs/crum/430.html
  docs/crum/439.html
  docs/crum/441.html
  docs/crum/925.html
  docs/crum/97.html
  docs/crum/crum.json
  docs/crum/noun male.html
  docs/crum/noun male_female.html
  docs/crum/noun.html
  docs/crum/person.html
  docs/crum/species.html
  docs/crum/substance.html
  docs/crum/verb.html
Due: tidy-html, docs-structure, prettier, playwright

[#9][Crum] `make crum test`
  docs/crum/2470.html
  docs/crum/310.html
  docs/crum/97.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[#506,#9][Crum/Typos] `make crum test`
  docs/crum/2158.html
  docs/crum/2262.html
  docs/crum/2539.html
  docs/crum/513.html
  docs/crum/573.html
  docs/crum/construction.html
  docs/crum/crum.json
  docs/crum/noun female.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[#203][Lexicon] Add a `dev` Button in the Lexicon.
  docs/crum/index.html
  docs/crum/lexicon.ts
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/lexicon.js
Due: docs-structure, prettier, playwright

[#606][Crum/Wiki] Update Page Number Styling.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#605][Xooxle] Add a TODO.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[platform] `make update`
  .pre-commit-config.yaml
  package-lock.json
  package.json
  requirements.txt
Due: prettier

[#573][Crum/Parser] Introduce a Notation for Inserted Spaces.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#573][Crum/Parser] Fix Bug.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[#573][Crum/Derivations] `make crum test`
  docs/crum/938.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#605][Xooxle] Fix Bug in Empty Tag Cleanup.
  xooxle/clean.py
Due: mypy, darglint

[#605][Xooxle] `make crum kellia andreas test`: Clean Empty Tags!
  dictionary/stmacariusmonastery_org/data/output/andreas.json
  docs/crum/andreas.json
  docs/crum/crum.json
  docs/crum/kellia.json
Due: docs-structure, prettier, playwright

[fix #601][Xooxle] Balance Units and Lines.
  xooxle/clean.py
  xooxle/xooxle.py
Due: mypy, darglint

[#601][Xooxle] `make crum test`
  docs/crum/crum.json
Due: docs-structure, prettier, playwright

[#51][KELLIA] Remove Special Coloring of KELLIA Elements.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#605][Xooxle] Nit: Update Unit Delimiter Style.
  docs/xooxle.css
Due: docs-structure, prettier, stylelint, playwright

[#618][Crum] Remove Unused Class.
  docs/dialect.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[platform/Pre-commit] Remove a (currently irrelevant) very slow hook.
  .pre-commit-config.yaml
Due: none

[#601][Xooxle] Nit: Fix Potential Bug in Tag Name Extraction.
  xooxle/clean.py
  xooxle/xooxle.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/2285.html
  docs/crum/2286.html
  docs/crum/2288.html
  docs/crum/2365.html
  docs/crum/2525.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503,#255,#573][Crum] `make crum test`
  docs/crum/172.html
  docs/crum/2233.html
  docs/crum/2276.html
  docs/crum/2286.html
  docs/crum/2309.html
  docs/crum/2331.html
  docs/crum/2334.html
  docs/crum/2340.html
  docs/crum/2343.html
  docs/crum/2508.html
  docs/crum/2532.html
  docs/crum/467.html
  docs/crum/crum.json
  docs/crum/crum/coptic.tsv
Due: tidy-html, docs-structure, prettier, playwright

[#565][Crum/Wiki/References] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/references.js
  docs/dialect.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#573,#255,#586,#9,#321,#227][Crum] `make crum test`
  docs/crum/109.html
  docs/crum/119.html
  docs/crum/1414.html
  docs/crum/1442.html
  docs/crum/1680.html
  docs/crum/1917.html
  docs/crum/2135.html
  docs/crum/216.html
  docs/crum/2206.html
  docs/crum/2317.html
  docs/crum/2348.html
  docs/crum/260.html
  docs/crum/2696.html
  docs/crum/2792.html
  docs/crum/285.html
  docs/crum/292.html
  docs/crum/303.html
  docs/crum/312.html
  docs/crum/581.html
  docs/crum/728.html
  docs/crum/919.html
  docs/crum/978.html
  docs/crum/987.html
  docs/crum/adjective.html
  docs/crum/categories.html
  docs/crum/concept.html
  docs/crum/crum.json
  docs/crum/derivations.js
  docs/crum/noun male.html
  docs/crum/noun.html
  docs/crum/species.html
Due: tidy-html, docs-structure, prettier, playwright

[#622][Crum] Add a Shortcut to Copy URL.
  docs/browser.ts
  docs/crum/help.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
