Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#339][Crum/HTML] Remove the `marcion` Section.
  docs/crum/help.ts
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#339][Crum/HTML] Include References in `word-parsed-prettify`.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#204,#43,#64][Crum/Parser] More Intelligent Parsing
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/parse.py
  dictionary/marcion_sourceforge_net/tree.py
Due: python-unittest-exists, python-unittest

[fix #204][Crum/Parser] Simplify Reference Format. Improve Rigor.
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[Python] Use `re.Match::fullmatch` instead of `match` where appropriate.
  dictionary/marcion_sourceforge_net/img_helper.py
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[#204][Crum/Parser] Add a Comment.
  dictionary/marcion_sourceforge_net/parse.py
Due: python-unittest-exists, python-unittest

[#499][Crum/Lexicon] Add a Comment about a Bug Left Intentionally.
  docs/crum/lexicon.ts
Due: typescript-string-literals

[#499][Crum/Lexicon] `make transpile test`
  docs/crum/lexicon.js
Due: none

[fix #496][Crum/HTML] Show Quality in Developer Mode.
  docs/crum/cls.ts
  docs/crum/highlight.ts
  docs/style.css
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#496][Crum/HTML] `make transpile test`
  docs/crum/cls.js
  docs/crum/highlight.js
Due: none

[#399][copticsite] Abandon Intermediate TSV.
  dictionary/copticsite_com/main.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#399,#51][KELLIA] Abandon Intermediate TSV. Remove Unused Code.
  dictionary/kellia_uni_goettingen_de/main.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#221][Pre-commit] Disable `not-an-iterable` in Pylint.
  flashcards/constants.py
  pylintrc
  stats.py
Due: python-unittest-exists, python-unittest

[#405,#253][Dawoud/Scan] Ignore Diacritics in Search.
  docs/coptic.ts
  docs/scan.ts
Due: typescript-string-literals

[#405,#253][Dawoud/Scan] `make transpile test`
  docs/coptic.js
  docs/scan.js
Due: none

[#16][platform/README] Fix Typos.
  README.md
Due: none

[#221][Python] Disable some Pylint Checks.
  pylintrc
Due: none

[#213][platform/pre-commit] Silence the `identity` Hook.
  .pre-commit-config.yaml
Due: none

[#189][Crum/Senses] Run `make crum test` to fix a typo.
  docs/crum/836.html
  docs/crum/869.html
Due: tidy-html

[#221][platform] Define a `run_once` Decorator.
  utils/cache.py
Due: python-unittest-exists, python-unittest

[#399][Crum] Abandon Intermediate TSV.
  .pre-commit-config.yaml
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/categories.py
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/img_helper.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/parse.py
  dictionary/marcion_sourceforge_net/tree.py
  dictionary/marcion_sourceforge_net/tsv.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
  pre-commit/docs_structure.py
  stats.py
  utils/ensure.py
  utils/gcp.py
  utils/page.py
  utils/paths.py
  utils/text.py
Due: python-unittest-exists, python-unittest

[#457][TypeScript] Use Playwright for Validation. Abandon Node.js.
  .pre-commit-config.yaml
  docs/dawoud/main.ts
  docs/env.ts
  docs/help.ts
  docs/scan.ts
  eslint.config.mjs
Due: typescript-string-literals

[#457][TypeScript] `make transpile test`
  docs/dawoud/main.js
  docs/env.js
  docs/help.js
  docs/scan.js
Due: none

[fix #457][Crum/TypeScript] Use `logger.fatal` where appropriate.
  docs/crum/crum.ts
  docs/logger.ts
Due: typescript-string-literals

[#457][TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/logger.js
Due: none

Revert "[fix #457][Crum/TypeScript] Use `logger.fatal` where appropriate."
  docs/crum/crum.ts
  docs/logger.ts
Due: typescript-string-literals

[#457][Crum/TypeScript] Delete a TODO.
  docs/logger.ts
Due: typescript-string-literals

[fix #501][Scan/TypeScript] Prevent Form Submission.
  docs/crum/crum/main.ts
  docs/dawoud/index.html
  docs/dawoud/main.ts
  docs/scan.ts
Due: tidy-html, typescript-string-literals

[#501][Scan/TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/crum/main.js
  docs/dawoud/main.js
  docs/scan.js
Due: none

[Crum/HTML] Fix Typo.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest
