Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#513][Xooxle] Break Words to Prevent Cropping.
  docs/xooxle.css
Due: none

[#419][Crum/Wiki] Delete a Spamming Log Line.
  docs/crum/crum.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/crum.js
Due: none

[#419][Crum/Wiki] Define a Special Class for References.
  docs/crum/cls.ts
  docs/crum/crum.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/cls.js
  docs/crum/crum.js
Due: none

[#457][Site/Pre-commit] Run Playwright Tests on Test Changes as well.
  .pre-commit-config.yaml
Due: none

[#419][Crum/Wiki] Add a Test for References.
  test/test.ts
Due: typescript-string-literals

[fix #505,#213][platform/Pre-commit] Add Hooks.
  .pre-commit-config.yaml
  package.json
Due: json-tool

[#419][Crum/Wiki] Nit: Import Class Definition.
  test/test.ts
Due: typescript-string-literals

[#399][Crum/Parser] Get Sheets only if Needed.
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/sheet.py
Due: python-unittest-exists, python-unittest

[#419,#507][Crum/TypeScript] More efficient Linkifier. No Wiki Lookups.
  docs/crum/crum.ts
  docs/html.ts
Due: typescript-string-literals

[#419,#507][Crum/TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/html.js
Due: none

[#457][Site] Skip Safari Tests.
  playwright.config.ts
Due: typescript-string-literals

[#504][Crum/Wiki] Add some Colors and Styling.
  docs/style.css
Due: none

[#392][Xooxle] Only Use Form Parameters if Present.
  docs/xooxle.ts
Due: typescript-string-literals

[#392][Xooxle] `make transpile test`
  docs/xooxle.js
Due: none

[#399][Crum/Parser] Add a TODO.
  dictionary/marcion_sourceforge_net/main.py
Due: python-unittest-exists, python-unittest

[#419,#499,#515][Xooxle] Add TODO's.
  xooxle/xooxle.py
Due: python-unittest-exists, python-unittest

[fix #504][Crum/Wiki] Update Styling.
  docs/style.css
Due: none

[#504][Crum/Wiki] Retain Styling Classes in the Xooxle Index.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#504][Crum/Wiki] `make crum test`
  docs/crum/wiki.json
Due: json-tool

[#504][Crum/Wiki] Retain `headword` Class.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#504][Crum/Wiki] Update Styling.
  docs/style.css
Due: none

[#419][Crum/Wiki] `make bible test`
  docs/crum/bible.ts
Due: typescript-string-literals

[#419][Crum/Wiki] Include Bible Book Names in the Reference Mapping.
  bible/stshenouda_org/main.py
Due: python-unittest-exists, python-unittest

[#419][Crum/Wiki] Use the New Bible Reference Format.
  docs/crum/crum.ts
Due: typescript-string-literals

[#419][Crum/Wiki] `make transpile test`
  docs/crum/bible.js
  docs/crum/crum.js
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#419][Crum/Wiki] `make transpile test`
  docs/html.js
Due: none

[#419][Crum/Wiki] Create a Text Match and Replacement Function.
  docs/html.ts
Due: typescript-string-literals

[#398,#399][Crum/HTML] Add a TODO.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#419][Crum/Wiki] Remove an Unnecessary Dropdown Styling Rule.
  docs/dropdown.css
Due: none

[#419,#194][platform] Add a Method for Inserting Droppable Elements.
  docs/dropdown.ts
Due: typescript-string-literals

[#419,#194][platform] `make transpile test`
  docs/dropdown.js
Due: none

[#213][TypeScript/ESLint] Ignore Naming Conventions for `_`.
  docs/crum/crum.ts
  eslint.config.mjs
Due: typescript-string-literals

[#213][TypeScript/ESLint] `make transpile test`
  docs/crum/crum.js
Due: none

[#475][Crum/Scan] Fix some Cropped Pages.
  docs/crum/crum/204.png
  docs/crum/crum/209.png
  docs/crum/crum/67.png
  docs/crum/crum/672.png
  docs/crum/crum/673.png
Due: none
