Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#215][copticsite/Python] Migrate from `type_enforced` to `mypy`.
  dictionary/copticsite.com/main.py
  pre-commit/mypy.sh
Due: python-unittest-exists, python-unittest

[#215][Site/Python] Appease `mypy`.
  pre-commit/mypy.sh
  site/obfuscate_paths.py
Due: python-unittest-exists, python-unittest

[#213][Pre-commit/Python] Fix Bug. No Tests Required for `__init__.py`.
  pre-commit/python-unittest-exists.sh
Due: none

[#215][Morphology/Python] Appease `mypy`.
  morphology/__init__.py
  morphology/inflect.py
  morphology/kindle.py
  pre-commit/mypy.sh
Due: python-unittest-exists, python-unittest

[#215][Flashcards/Python] Migrate from `type_enforced` to `mypy`.
  flashcards/constants.py
  flashcards/deck.py
  flashcards/enforcer.py
  flashcards/field.py
  flashcards/main.py
  flashcards/test/test_enforcer.py
  pre-commit/mypy.sh
Due: python-unittest-exists, python-unittest

[#215][Python/Pre-commit] Add a TODO.
  pre-commit/mypy.sh
Due: none

[#96,#215][README] Update Docs.
  README.md
Due: none

[#186,#16][Flashcards/Anki/JavaScript] Update Docs.
  README.md
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[fix #69][Crum/Images] Verify the Content of the Source Files.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#213][Python/Pre-commit] Run `add-trailing-comma` before `black`.
  .pre-commit-config.yaml
Due: none

[#66][TODO] Update the `todo` Helper.
  .helpers
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#144,#215][Crum/Python] Appease `mypy`.
  dictionary/marcion.sourceforge.net/enforcer.py
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
  dictionary/marcion.sourceforge.net/test/test_enforcer.py
  dictionary/marcion.sourceforge.net/tree.py
  dictionary/marcion.sourceforge.net/word.py
  pre-commit/mypy.sh
  requirements.txt
Due: python-unittest-exists, python-unittest

[Stats] Fix bug in Stats script. `data` has a varying number of spaces.
  stats.sh
Due: none

[#215][Morphology/Python] Fix Bug in Unit Tests.
  morphology/test/test_constants.py
  morphology/test/test_inflect.py
  morphology/test/test_kindle.py
Due: python-unittest-exists, python-unittest

[#215][KELLIA/Python] Appease `mypy`.
  dictionary/kellia.uni-goettingen.de/analysis.py
  dictionary/kellia.uni-goettingen.de/main.py
  pre-commit/mypy.sh
Due: python-unittest-exists, python-unittest

[#215][Python/Pre-commit] Simplify the `mypy` Driver.
  pre-commit/mypy.sh
Due: none

[fix #215][Python] Delete `type_enforced` altogether.
  requirements.txt
  utils.py
Due: python-unittest-exists, python-unittest

[#213][Python/Pre-commit] Fix Regex Strings in the Archive.
  archive/bible/stshenouda.org/parser.py
Due: none

[#215][Python/Pre-commit] `mypy` Leftovers.
  bible/stshenouda.org/main.py
  pre-commit/mypy.sh
  site/obfuscate_paths.py
Due: python-unittest-exists, python-unittest

[#213][TypeScript/ESLint] Set `languageOptions.parserOptions.project`.
  eslint.config.mjs
Due: none

[#213,#66][TypeScript/ESLint] Tighten the ESLint Config, and Appease it.
  eslint.config.mjs
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
Due: typescript-string-literals

[#66][Makefile] Add `gh` as a Binary Dependency.
  Makefile
Due: none

[#66][TODO/Pre-commit]Ban Assigning TODO's to Closed Issues.
  pre-commit/check-todo.sh
Due: none

[#66][TODO] The Helper `todo` Warns about Closed Issues.
  .helpers
Due: none

[#220,#16][Makefile] Update Some Rules and Comments.
  Makefile
Due: none

[#111][Env/Helpers] Update the Name of the File Hosting Helpers.
  .gitignore
Due: none

[fix #129][Crum] Make the Column Names `grep`-Searchable.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest-exists, python-unittest

[#223][Open-Source] Create LICENSE
  LICENSE
Due: none

[#213][Tidy] Retrieve Tidy Config from a File.
  .pre-commit-config.yaml
  site/publish.sh
  tidy_config.txt
Due: none

[#214][Stats] Change the Expected Range for Disk Usage.
  stats.sh
Due: none

[Stats] Fix Bug in Script.
  stats.sh
Due: none

[#5][Crum/Images] Add some Images. And Fix two Sources.
  dictionary/marcion.sourceforge.net/data/img-300/2427-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2428-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2435-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2000-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2081-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2427-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2428-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2435-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2427-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2428-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2435-1-1.jpg
Due: crum-img-validate

[#9][Crum/Typos] Ⲁⲗⲟⲩ is male / female.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
Due: none

[#5][Crum/Images] Update Images for ⲙⲟⲩⲧ.
  dictionary/marcion.sourceforge.net/data/img-300/288-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/288-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/288-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/288-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/288-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/288-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/288-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/288-5-1.txt
  dictionary/marcion.sourceforge.net/data/img/288-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/288-3-1.png
  dictionary/marcion.sourceforge.net/data/img/288-4-1.png
  dictionary/marcion.sourceforge.net/data/img/288-5-1.png
Due: crum-img-validate

[#189,#1,#8][Crum/Senses,Dawoud] Populate Senses.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
