Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#226][Utils] Define Helpers to Read and Write GSHEET docs.
  utils.py
Due: python-unittest-exists, python-unittest

[#226][Crum/Sisters] Restore `JSON_KEYFILE_NAME` Environment Variable.
  .env_INFO
Due: none

[fix #226][Crum/Sisters] Write a Helper to Populate Symmetric Sisters.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#5,#227][Crum/Sisters,Images/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1153.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1290.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1762.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/236.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2483.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/512.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/54.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/614.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/719.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/832.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/835.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/887.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/913.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/946.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_512-5-1.jpg
Due: tidy-html

[#227][Crum/Sisters] Run `make crum_appendices test` to Pick up Sisters.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#269][Crum/Sisters] Add a Column for `antonyms`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#226,#269][Crum/Sisters] Support Antonyms. Stricter validation.
  dictionary/marcion.sourceforge.net/appendices_helper.py
  utils.py
Due: python-unittest-exists, python-unittest

[#269][Crum/Sisters/Flashcards] Add Antonyms to the Output.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#227][Crum/Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#226,#269][Crum/Sisters] Add Stats.
  data/stats.tsv
  stats.sh
Due: none

[#226,#269][Crum/Sisters] Use a Semicolon as a Separator.
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#227][Crum/Sisters] Run `make flashcards test` to Pick up Sisters.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1031.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/11.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1593.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/162.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1869.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/187.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/235.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2441.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2442.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2671.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/281.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/490.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/902.html
Due: tidy-html

[#227][Crum/Sisters/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1073.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/116.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1506.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1538.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1580.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1586.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1838.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/199.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/200.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2065.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/241.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/252.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2546.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2615.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/27.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/342.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/395.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/400.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/409.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/465.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/476.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/701.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/73.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/832.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/835.html
Due: tidy-html

[#226,#269][Crum/Sisters] Infer Keys from URLs.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1153.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/117.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/136.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1545.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1603.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1752.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1758.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/178.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1822.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1832.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1841.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2010.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2195.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2345.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2483.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2540.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2543.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/262.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2644.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/377.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/466.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/485.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/496.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/719.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/741.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/843.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/946.html
Due: tidy-html

[#226,#269][Crum/Sisters] Enforce Symmetry. Simplify Validation Logic.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#5,#226,#269][Crum/Sisters] Add Aliases to Simplify Invocations.
  .helpers
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Delete an Image.
  dictionary/marcion.sourceforge.net/data/img-300/1499-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1499-1-2.txt
  dictionary/marcion.sourceforge.net/data/img/1499-1-2.jpg
Due: crum-img-validate

[#271,#272][Crum/Sisters] Add Columns for Homonyms and Greek Sisters.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#272][Crum/Sisters] Show Homonyms in the Output.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[fix #272][Crum/Sisters] Add Logic to Validate and Populate Homonyms.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#227][Crum/Sisters] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/703.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/705.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/706.html
Due: tidy-html

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
