Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[TypeScript] `make javascript`
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] Populate a Unit Test Placeholder.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#503][Crum/Wiki] Transcription is Complete.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/digital.ts
  docs/crum/index.html
  docs/crum/lexicon.css
  stats.py
Due: crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[#542,#676][Crum/Wiki] Broaden the False Positive Suffix Guard.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#691][AI] `claude /fewer-permission-prompts`
  .claude/settings.json
Due: prettier

[#778][Crum/Wiki] Snapshot the Source-of-truth Sheet.
  dictionary/marcion_sourceforge_net/data/input/wiki.tsv
Due: none

[#427,#745][Crum/Wiki] Teach Ambrose about Addenda.
  .claude/commands/ambrose.md
Due: check-one-readme

[#705][Crum/Wiki/Bibliography] Get Rid of the `typos` Field.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
  dictionary/marcion_sourceforge_net/pisaxo.ts
  docs/crum/pisaxo.d.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#427][Crum/Wiki] Guard Against Malformed Addenda.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#614][Crum/Wiki] Page Numbers are sometimes followed by a Line Number.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Track the Source of Truth in a Local TSV.
  Makefile
  dictionary/marcion_sourceforge_net/wiki.py
  utils/paths.py
Due: mypy, darglint

[#745][Crum/Wiki] Move the Enrichment Notes into the Code.
  .claude/commands/ambrose.md
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, check-one-readme, playwright

[#778][Crum/Wiki] Add a TODO.
  .claude/commands/ambrose.md
Due: check-one-readme

[#194][Crum/Wiki/Annotations] Introduce `styledParent` Field.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#778][Crum/Wiki] Read TSV in Python.
  Makefile
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#778][Crum/Wiki] `make crum test`
  dictionary/marcion_sourceforge_net/data/input/wiki.tsv
Due: none

[#376][TypeScript] Delete Infrastructure for Unit Tests.
  .pre-commit-config.yaml
  bun.ts
  docs/dev.ts
  docs/orth.test.ts
  docs/str.test.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#419][Crum/Wiki] Exclude `.hieroglyphic` for Consistency.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Add a `--tsv` Flag to Refresh Snapshot and Exit.
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#778][Crum/Wiki] Define Column Names as an Enum.
  dictionary/marcion_sourceforge_net/main.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#522][Crum/Wiki/References] Consolidate `Mich` Resources.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#522][Crum/Wiki/References] Add a Variant.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[#778][Crum/Wiki] Aesthetics. Export Data needed by the Materializer.
  docs/bible/bible.ts
  docs/crum/cls.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
  docs/params.ts
  docs/paths.ts
  docs/tooltip.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#691][AI] Set Claude Default Mode to `auto`.
  .claude/settings.json
Due: prettier

[#647][Crum/Wiki] Add a Dangling Suffix Marker.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#657,#759][Crum/Wiki] Allow Parentheses in Demotic.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#778][Crum/Wiki] Produce Annotations Uniformly.
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Draft Materialization Script.
  dictionary/marcion_sourceforge_net/wiki.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#778][Crum/Wiki] Document the `wiki` Recipe and Enriched Text.
  README.md
Due: none

[#778][Crum/Wiki] Define the `wiki` Recipe to Generate Enriched Text.
  Makefile
Due: none

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
