Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#194,#557][Crum/Wiki/Annotations] Update Test Cases. Delete TODO's.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation for `&c`.
  docs/crum/annotations.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/annotations.js
  docs/crum/wiki.js
Due: docs-structure, prettier, playwright

Revert "[#241][CSS] All Tooltips use Small Font."
  docs/dropdown.css
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[#410,#194][Crum/Wiki] Update Tooltip Styling.
  docs/style.css
Due: docs-structure, prettier, stylelint, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[fix #541][Xooxle] Enrich Elements before Highlighting.
  docs/crum/lexicon.ts
  docs/logger.ts
  docs/orth.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/lexicon.js
  docs/orth.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#604][TypeScript] Create a Helper to Control Sanity Checks Execution.
  docs/crum/wiki.ts
  docs/dev.ts
  docs/logger.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/wiki.js
  docs/dev.js
  docs/logger.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#607][Lexicon/Crum] Prioritize Italic over Roman Matches.
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Fragment words exist on a single line.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#243][Lexicon/Crum] Prioritize Matches at the Beginning of Line.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Nit: Shorten Enum Name, and remove redundant Docs.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] `LineSearchResult` does NOT implement `AggregateResult`.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#243][Crum/Lexicon] `part-of-speech` tags appear on a separate line.
  docs/style.css
  flashcards/constants.py
  xooxle/xooxle.py
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#243,#607][Lexicon] Update Comments.
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make transpile test`
  docs/crum/lexicon.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#243][Crum/Lexicon] `make crum test`
  docs/crum/2111.html
  docs/crum/2120.html
  docs/crum/2132.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#243][Xooxle] Nit: Update a Ranking Criterion.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#606][Crum/Wiki] Incorporate Vide Entries.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/sheet.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/style.css
  flashcards/constants.py
  stats.py
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#606,#255][Crum/Wiki] `make crum test`
  docs/crum/1127.html
  docs/crum/88.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#606][Crum/Wiki] Update Sorting Algorithm. Update Docs.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#606][Crum/Wiki] Nit: Fix Typo.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[fix #606][Crum/Wiki] Verify Page Order. Add Page Numbers to HTML.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.ts
  docs/style.css
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/xooxle.js
Due: docs-structure, prettier, playwright

[#606][Crum/Wiki] Update Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#606][Crum/Wiki] Nit: Code Quality!
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`.
  docs/crum/537.html
  docs/crum/538.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#271,#606][KELLIA] Add Greek Sister Validation. Delete Obsolete TODO's.
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/marcion_sourceforge_net/appendices_helper.py
  dictionary/marcion_sourceforge_net/crum.py
  flashcards/constants.py
Due: mypy, darglint

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#508][Crum/Wiki] `make crum test`
  docs/crum/1081.html
  docs/crum/1388.html
  docs/crum/1437.html
  docs/crum/1886.html
  docs/crum/2311.html
  docs/crum/2316.html
  docs/crum/2420.html
  docs/crum/297.html
  docs/crum/534.html
  docs/crum/656.html
  docs/crum/715.html
  docs/crum/889.html
  docs/crum/937.html
  docs/crum/anatomy.html
  docs/crum/crum.json
  docs/crum/noun female.html
Due: tidy-html, docs-structure, prettier, playwright

[#606][Crum/Wiki] Allow Multiple Marcion Entries per Entry.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/2554.html
  docs/crum/373.html
  docs/crum/420.html
  docs/crum/424.html
  docs/crum/643.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
