Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[fix #731][Bible/Xooxle] Favor Search Results with more Coptic Dialects.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
Due: docs-structure, prettier, playwright

[#727][Xooxle] Force `fragment` to take a `context` Parameter.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#731][Bible/Xooxle] Enable Language Ranking if any Language Deselected.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#438][Crum/Wiki] Use `regex` instead of `re` in Substitutions.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#438][Crum/Wiki] Allow Generic Letters in the Superscript Pattern.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#735][Bible] Fix Erroneous Uses of 'M' for 'λλ'.
  bible/stshenouda_org/data/input/Baruch.json
  bible/stshenouda_org/data/input/Deuteronomy.json
  bible/stshenouda_org/data/input/Epistle of Jeremiah.json
  bible/stshenouda_org/data/input/Esther.json
  bible/stshenouda_org/data/input/Exodus.json
  bible/stshenouda_org/data/input/Ezekiel.json
  bible/stshenouda_org/data/input/First Samuel.json
  bible/stshenouda_org/data/input/Isaiah.json
  bible/stshenouda_org/data/input/Jeremiah.json
  bible/stshenouda_org/data/input/Job.json
  bible/stshenouda_org/data/input/Joshua.json
  bible/stshenouda_org/data/input/Judith.json
  bible/stshenouda_org/data/input/Leviticus.json
  bible/stshenouda_org/data/input/Malachi.json
  bible/stshenouda_org/data/input/Numbers.json
  bible/stshenouda_org/data/input/Proverbs.json
  bible/stshenouda_org/data/input/Second Samuel.json
  bible/stshenouda_org/data/input/Wisdom of Solomon.json
Due: prettier

[#735][Bible] Fix Erroneous Uses of 'í' for 'γγ'.
  bible/stshenouda_org/data/input/Ecclesiastes.json
  bible/stshenouda_org/data/input/Esther.json
  bible/stshenouda_org/data/input/Judges.json
  bible/stshenouda_org/data/input/Proverbs.json
  bible/stshenouda_org/data/input/Tobit.json
  bible/stshenouda_org/data/input/Wisdom of Solomon.json
Due: prettier

[Xooxle] Delete Obsolete Comments.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#735][Bible] Fix a Few Anomalous Cases of Latin Text in Greek.
  bible/stshenouda_org/data/input/Ecclesiastes.json
  bible/stshenouda_org/data/input/Proverbs.json
  bible/stshenouda_org/data/input/Psalms.json
Due: prettier

[fix #733][Bible] Omit Hidden Cells from Fragment. Increase Context.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Bible/Xooxle] Improve Language Toggles. Aesthetics.
  docs/bible/bible.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#739][Bible] Remove Zero-width Space from the Output.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#731][Bible] Enable Language Ranking if any Language is Selected.
  docs/bible/bible.ts
  docs/bible/dialect.ts
  docs/highlight.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#740][TypeScript] Update Language Highlighting in a Microtask.
  docs/highlight.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#739][Bible] Nit: Add an Assertion to Validate our Substitutions.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#131][Bible] Nit: Move our `bible.json` one subdirectory up the tree.
  bible/stshenouda_org/data/bible.json
  bible/stshenouda_org/main.py
Due: prettier, mypy, darglint

Revert "[#739][Bible] Nit: Add an Assertion to Validate our Substitutions."
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#445][Bible] Scroll to the Book before Loading the Index.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/bible/dialect.js
  docs/bible/dialect.js.map
  docs/highlight.js
  docs/highlight.js.map
Due: docs-structure, prettier, playwright

[#445][Bible] Focusing on Search Box doesn't Conflict with Scrolling.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Bible] Focus on the Search Box after Reading the Index.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#733,#51][Xooxle] Define `fragmentContext` method. Use `0` for KELLIA.
  docs/bible/bible.ts
  docs/crum/digital.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#739][Bible] Fix Erroneous Uses of `z` for `ⲍ` and `x` for `ⲭ` / `ⲝ`.
  bible/stshenouda_org/data/input/Tobit.json
Due: prettier

[#739][Bible] Add a Remark about the use of Zero-width Space Character.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#605][Xooxle] Nit: `AggregateResult.boundary` instead of `Math.min`.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Nit: Avoid Unnecessarily Constructing New Match Objects.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Bible] No focus on Search Box if `book` Parameter is Present.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/crum/digital.js
  docs/crum/digital.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[#605][Xooxle] Add a Comment about Match Translation.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Delete an Obsolete TODO.
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#445][Bible/Xooxle] Capitalize Alphabetical Chapter Numbers.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright
