Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#229][TypeScript] Nit: `setTimeout` has a new type, apparently.
  site/xooxle.ts
Due: typescript-string-literals

[#279][Xooxle] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#279][Xooxle] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#277][Crum/TypeScript] Sync Highlighting for Multi-siglum Dialects.
  site/crum.ts
Due: typescript-string-literals

[#277][Crum/TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#277][Crum/TypeScript] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#277][Crum/TypeScript] Simplify Dialect Synchronization Code.
  site/crum.ts
Due: typescript-string-literals

[#277][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[fix #290][Crum/TyepScripts] Link Articles from ccdl.claremont.edu/.
  site/crum.ts
Due: typescript-string-literals

[#290][Crum/TyepScripts] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#290,#291][Crum/TypeScript] Remove Web's `load` Event Handler Wrapper.
  flashcards/deck.py
  site/crum.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#290,#291][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#295][Site/Home] Minimize the Home Page.
  site/data/img/flashcards/copticsite.png
  site/data/img/flashcards/greek.png
  site/data/img/flashcards/pleiades-1.png
  site/data/img/flashcards/pleiades-2.png
  site/data/img/flashcards/threshing-1.png
  site/data/img/flashcards/threshing-2.png
  site/index.html
Due: tidy-html

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#278][Crum/TypeScript] Remove Dialect Checkboxes from Shared Section.
  site/crum.ts
Due: typescript-string-literals

[#278][Crum/TypeScript] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#201][TypeScript] Minimize `tsconfig.json`.
  tsconfig.json
Due: none

[#5][Crum/Images] Move Images.
  dictionary/marcion.sourceforge.net/data/img-300/386-3-1.webp
  dictionary/marcion.sourceforge.net/data/img-sources/386-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/386-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/386-3-1.webp
Due: crum-img-validate

[#189,#227][Crum/Senses,Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[fix #307][GitHub/Stats] Add Stats for Number of Open / Closed Issues.
  data/stats.tsv
  stats.py
  stats.sh
Due: python-unittest-exists, python-unittest

[#178][Stats] Nit: Fix Bug in Error Message on Mismatching Field List.
  stats.py
Due: python-unittest-exists, python-unittest

[#189,#1][Crum/Senses,Dawoud] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5][Crum/Images] Move Images.
  dictionary/marcion.sourceforge.net/data/img-300/401-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/401-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/413-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/413-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/413-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/417-2-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/417-2-3.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/419-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/419-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/420-4-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/420-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1533-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/413-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/413-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/417-2-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/417-2-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/417-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/417-3-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/419-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/420-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/420-5-1.txt
  dictionary/marcion.sourceforge.net/data/img/401-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/401-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/413-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/413-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/413-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img/417-2-2.jpg
  dictionary/marcion.sourceforge.net/data/img/417-2-3.jpeg
  dictionary/marcion.sourceforge.net/data/img/419-1-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/419-1-1.png
  dictionary/marcion.sourceforge.net/data/img/420-4-1.webp
  dictionary/marcion.sourceforge.net/data/img/420-5-1.png
Due: crum-img-validate

[#189,#5,#1][Crum/Senses,Images,Dawoud] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1533.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/2864.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/401.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/402.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/403.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/404.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/405.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/406.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/407.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/408.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/409.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/410.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/411.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/412.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/413.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/414.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/415.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/416.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/417.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/418.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/419.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/420.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/421.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/422.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/423.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/837.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_401-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_401-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_413-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_413-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_413-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_417-2-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_417-2-3.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_419-1-1.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_419-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_420-4-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_420-5-1.jpg
Due: tidy-html

[#178][Stats] Plot the Number of Contributors.
  stats.py
Due: python-unittest-exists, python-unittest

[#5][Crum/Images] Update Images.
  dictionary/marcion.sourceforge.net/data/img-300/425-2-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/426-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/439-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/425-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/425-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/426-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/426-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/439-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/425-2-1.webp
  dictionary/marcion.sourceforge.net/data/img/426-2-1.png
  dictionary/marcion.sourceforge.net/data/img/439-1-1.jpg
Due: crum-img-validate

[#189,#227,#8][Crum/Senses,Notes] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#189,#227,#8,#5][Crum/...] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1007.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/1433.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/198.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/424.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/425.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/426.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/427.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/428.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/429.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/430.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/431.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/432.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/433.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/435.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/436.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/437.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/438.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/439.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/440.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_425-2-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_426-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_439-1-1.jpg
Due: tidy-html

[#262][Crum/Flashcards] Hide Senses by Default. Show in Developer Mode.
  site/crum.ts
Due: typescript-string-literals

[#262][Crum/Flashcards] Run `make transpile add flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  site/data/build/crum.js
Due: none

[#167,#262,#241][Crum/Flashcards] Hide Developer-Mode Elements in CSS.
  site/style.css
Due: none

[#167,#262,#241][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#5][Crum/Images] Move Images.
  dictionary/marcion.sourceforge.net/data/img-300/448-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/452-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/452-3-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/461-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/463-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/463-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/463-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/474-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/474-3-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/448-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/452-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/452-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/452-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/452-3-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/461-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/461-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/463-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/463-1-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/463-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/474-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/474-1-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/474-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/474-3-1.txt
  dictionary/marcion.sourceforge.net/data/img/448-2-1.png
  dictionary/marcion.sourceforge.net/data/img/452-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/452-3-1.webp
  dictionary/marcion.sourceforge.net/data/img/461-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/463-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/463-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/463-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/474-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/474-3-1.jpg
Due: crum-img-validate

[#189,#8][Crum/Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none
