Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#287][Crum/Categories] Add a Shortcut to Scroll to Categories.
  site/crum.ts
Due: typescript-string-literals

[#274,#287,#294] Restructure Shortcut Availability Logic.
  site/crum.ts
Due: typescript-string-literals

[#294][Crum/TypeScript] Explicitly Specify the Page Class in the HTML.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Add a Placeholder Header to Category Pages.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Fix Category Shortcuts.
  eslint.config.mjs
  site/crum.ts
Due: typescript-string-literals

[#287,#294,#274][Crum/Categories] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[Crum/TypeScript] Avoid using the Full URL when Possible.
  site/crum.ts
Due: typescript-string-literals

[#112][Crum/HTML] Avoid Hardcoding Domain in HTML. Use in Anki only.
  flashcards/constants.py
  site/crum.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#112][Crum/HTML] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#227,#321][Crum/Sisters,Categories] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[fix #256][Site/Domain] Abandon metremnqymi.com.
  site/metremnqymi.html
  site/publish.sh
Due: tidy-html

[#112][Crum/HTML] Avoid Hardcoding Domain in HTML. Use in Anki only.
  site/crum.html
  site/crum.ts
Due: tidy-html, typescript-string-literals

[#112][Crum/TypeScript] Aesthetics.
  site/crum.ts
Due: typescript-string-literals

[#112][Crum/TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#112][Crum/TypeScript] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: none

[#9][Crum/Typos] Fix Typo in 2982.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#287][Crum/Categories] Revisit List of Categories.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#9][Crum/Typos] Fix Typo in 1801.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
Due: none

[#264][Crum/Xooxle/HTML] Nit: Place all Scripts in <head>.
  site/crum.html
Due: tidy-html

[#327][Crum/Types] Generate Type-based Indexes.
  eslint.config.mjs
  flashcards/constants.py
  flashcards/deck.py
  site/crum.ts
  site/style.css
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#112,#327][Crum/Types,TypeScript] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#327][Crum/Types,TypeScript] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/-.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/adjective.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/adverb.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/anatomy.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/biology.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/building.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/concept.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/conjunction.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/container.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/direction.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/doubtful.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/emotion.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/geography.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/interjection.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/interrogative adverb.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/interrogative particle.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/interrogative pronoun.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/measure.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/noun female.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/noun male.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/noun male_female.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/noun.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/numeral male.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/numeral male_female.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/numeral.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/particle.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/person.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/personal pronoun.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/physics.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/plural.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/preposition.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/pronoun.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/species.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/substance.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/time.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/tool.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/verb.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/verbal prefix.html
Due: tidy-html

[fix #329][Crum/Indexes] Generate Index Indexes.
  eslint.config.mjs
  flashcards/constants.py
  flashcards/deck.py
  site/crum.ts
  site/style.css
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#329][Crum/Indexes] Run `make transpile test`.
  site/data/build/crum.js
Due: none

[#329][Crum/Indexes] Indexes have Headers and Reference Index Indexes.
  flashcards/constants.py
  flashcards/deck.py
  site/style.css
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Append Categories by Default.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#287][Crum/Categories] Repurpose `measure` as `unit`.
  dictionary/marcion.sourceforge.net/appendices_helper.py
Due: python-unittest-exists, python-unittest

[#321,#227][Crum/Categories,Sisters] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
