Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#264][Site/Xooxle] Add KELLIA as a Searchable Dictionary.
  site/constants.py
  site/crum.html
Due: python-unittest-exists, tidy-html, python-unittest

[#264][KELLIA/Xooxle] Exclude the Bibliography and References.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#264][KELLIA/Xooxle] Add KELLIA Styling to the Shared Site Sheet.
  site/style.css
Due: none

[#264][Pre-commit] Remove `talisman` Hook.
  .pre-commit-config.yaml
Due: none

[#229][Xooxle] Open Words in a New Tab.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#264][Xooxle] Run `make transpile test`.
  site/data/build/xooxle.js
Due: none

Revert "[#139][Crum] Write `tsvs` format."
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest-exists, python-unittest

[#139][Crum/Flashcards] Read TSV, not TSVS.
  dictionary/marcion.sourceforge.net/img_helper.py
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#139][TSV] Delete Obsolete TSVS Helpers.
  flashcards/field.py
  utils.py
Due: python-unittest-exists, python-unittest

[#264][Xooxle] Rename a Parameter.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#264][copticsite/Flashcards] Write WEB Format.
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#264][Xooxle] Support TSV as an Input Format for the Index.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#264][copticsite/Xooxle] Generate an Index for copticsite.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#264][Site/Style] Use Smaller Headers.
  site/style.css
Due: none

[#264][copticsite/Xooxle] Add a Table for copticsite.
  site/crum.html
  site/index.html
Due: tidy-html

[#264][copticsite/Flashcards] Add HTML Classes for Highlighting.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#264][copticsite/Xooxle] Retain Spellings as Raw HTML for Highlighting.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#264][Site/Xooxle] Make Dictionary Tables Collapsible.
  site/crum.html
  site/data/build/xooxle.js
  site/style.css
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#1,#189][Crum/Dawoud,Senses] Run `make crum_appendices test`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#267][Flashcards] Stop Writing KELLIA or copticsite HTML.
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#5,#189,#1][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/870.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/872.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/873.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/876.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/879.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/887.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/888.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/890.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/891.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_870-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_870-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_872-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_872-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_873-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_876-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_876-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_879-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_879-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_887-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_887-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_887-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_888-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_888-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_890-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_890-2-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-1-1.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-1-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-10-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-2-1.JPG
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-2-2.JPG
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-2-3.jpeg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-3-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-3-2.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-4-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-5-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-6-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-7-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-8-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_891-9-1.jpg
Due: tidy-html

[#264][KELLIA/Xooxle] Fix Typo. KELLIA has External Links.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#189][Crum/Senses] Run `make crum_appendices`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/895-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/898-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/899-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/900-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/901-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/901-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/895-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/898-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/899-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/900-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/901-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/901-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/895-1-1.png
  dictionary/marcion.sourceforge.net/data/img/898-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/899-1-1.png
  dictionary/marcion.sourceforge.net/data/img/900-1-1.png
  dictionary/marcion.sourceforge.net/data/img/901-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/901-2-1.jpg
Due: crum-img-validate

[#261][Crum/Images/Helper] Nit: Shorten Commands.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum/Images/Helper] Allow Multiple URLs per Querier.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

[#261][Crum/Images/Helper] Add UXWing as an Icon Source.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest-exists, python-unittest

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
