Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#424][TypeScript/Pre-commit] Run `pre-commit run eslint --all-files`.
  docs/bible/bible.ts
  docs/collapse.ts
  docs/crum/crum.ts
  docs/crum/crum/crum.ts
  docs/crum/main.ts
  docs/dawoud/dawoud.ts
  docs/env.ts
  docs/logger.ts
  docs/scan.ts
  docs/utils.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#424][TypeScript/Pre-commit] Run `make transpile test`.
  docs/bible/bible.js
  docs/collapse.js
  docs/crum/crum.js
  docs/crum/crum/crum.js
  docs/crum/main.js
  docs/dawoud/dawoud.js
  docs/env.js
  docs/logger.js
  docs/scan.js
  docs/utils.js
  docs/xooxle.js
Due: none

[#424][TypeScript/Pre-commit] Add Docs to `docs/utils.ts`.
  docs/utils.js
  docs/utils.ts
Due: typescript-string-literals

[#424][TypeScript/Pre-commit] Make `eslint` verbose.
  .pre-commit-config.yaml
Due: none

[#423][Python/Pre-commit] Account for `pylintrc` in Stats.
  stats.sh
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#430][Python] Appease `pylint` in Xooxle.
  flashcards/constants.py
  flashcards/main.py
  web/xooxle.py
Due: python-unittest-exists, python-unittest

[#423,#430][Python] Enable `pylint` and `darglint`.
  .pre-commit-config.yaml
  pre-commit/darglint.sh
Due: none

[#424][TypeScript/Pre-commit] Update ESLint Config.
  eslint.config.mjs
Due: none

[#219][Python/Pre-commit] Enable the `dead` Hook.
  .env
  .pre-commit-config.yaml
  dead_allowlist.txt
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/tree.py
  flashcards/constants.py
  pre-commit/dead_allowlist.txt
  requirements.txt
  utils.py
Due: python-unittest-exists, python-unittest

[#430,#423][Python/Pre-commit] Nit: Update the Comment about the Hooks.
  .pre-commit-config.yaml
Due: none

[#406][Crum/Parser] Add an Assertion.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest-exists, python-unittest

[#430][Python/Pre-commit] Appease `pylint` on `utils.py`.
  bible/stshenouda.org/main.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
  pre-commit/docs_structure.py
  utils.py
  web/xooxle.py
Due: python-unittest-exists, python-unittest

[#430][Python/Pre-commit] Appease `pylint` in `stats.py` and `setup.py`.
  setup.py
  stats.py
Due: python-unittest-exists, python-unittest

[#430][Python/Pre-commit] Appease `pylint` on `docs_structure.py`.
  pre-commit/docs_structure.py
Due: python-unittest-exists, python-unittest

[#219][Python/Pre-commit] Delete an Unused Dependency.
  requirements.txt
Due: none

[#430][Python/Pre-commit] Appease `pylint` on `flashcards/main.py`.
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#360,#432][Bible] Assign TODO's.
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[#213][Pre-commit] `pre-commit autoupdate`.
  .pre-commit-config.yaml
Due: none

[#66][TODO] Update the TODO Pre-commit Hook and Helper.
  .env
  pre-commit/check-todo.sh
Due: none

[#385][TypeScript] Implement Collapsing as a Class.
  docs/bible/bible.ts
  docs/collapse.ts
  docs/crum/main.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#385][TypeScript] Run `make transpile test`.
  docs/bible/bible.js
  docs/collapse.js
  docs/crum/main.js
  docs/xooxle.js
Due: none

[#213][Makefile/Pre-commit] Expand the Maximum Rule Length.
  .checkmake
  .pre-commit-config.yaml
Due: none

[#325][Crum] Delete Derivation Appendices. Combine Download and Parsing.
  Makefile
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/data/input/derivation_appendices.tsv
Due: python-unittest-exists, python-unittest

[#213][Makefile/Pre-commit] Account for `.checkmake` in Stats.
  stats.sh
Due: none

[#325][Crum/Stats] Stop Counting Typos.
  stats.sh
Due: none

[#325][Crum] Reorder the Derivations Sheet.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
Due: none

[#325][Crum] Run `make crum test` to Download Combined Roots Sheet.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#325][Crum] Delete Root Appendices Sheet.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[fix #325][Crum] Use Combined Roots Sheet.
  .pre-commit-config.yaml
  Makefile
  dictionary/marcion.sourceforge.net/appendices_helper.py
  dictionary/marcion.sourceforge.net/img_helper.py
  flashcards/constants.py
  stats.sh
Due: python-unittest-exists, python-unittest

[#325][Crum/Stats] Stop Plotting Typo Stats.
  stats.py
Due: python-unittest-exists, python-unittest

[#336][Crum] Ignore the `gr` Column.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest-exists, python-unittest

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
