Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[#194][Crum/Wiki/Annotations] Add Annotations / Variants.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#657][Crum/Wiki] Add a Notation for Hieroglyphs.
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] `make crum test`
  docs/crum/1575.html
  docs/crum/1576.html
  docs/crum/1578.html
  docs/crum/1592.html
  docs/crum/1598.html
  docs/crum/1603.html
  docs/crum/1615.html
  docs/crum/1616.html
  docs/crum/165.html
  docs/crum/1688.html
  docs/crum/1719.html
  docs/crum/263.html
  docs/crum/3104.html
  docs/crum/3106.html
  docs/crum/52.html
  docs/crum/712.html
  docs/crum/914.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#106][Crum/HTML] `make crum test`
  docs/crum/1.html
  docs/crum/3416.html
Due: tidy-html, docs-structure, playwright

[#106][Crum/HTML] Make Dataset Circular.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#679][Crum] Use HREF for Marcion Key.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#657][Crum/Wiki] Retain `.hieroglyphic`. Add Docs.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#657][Crum/Wiki] `make crum test`
  docs/crum/crum.json
Due: docs-structure, prettier, playwright

[fix #427][Crum/Wiki] Retain Required Properties in Xooxle Index.
  dictionary/marcion_sourceforge_net/crum.py
Due: mypy, darglint

[#427][Crum/Wiki] `make crum test`
  docs/crum/crum.json
Due: docs-structure, prettier, playwright

[fix #679,#203][Crum/HTML] Show Word IDs in Coptic Numerals.
  dictionary/marcion_sourceforge_net/crum.py
  docs/crum/cls.ts
  docs/crum/crum.ts
  utils/numeral.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1729.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1741.html
  docs/crum/1744.html
  docs/crum/217.html
  docs/crum/231.html
  docs/crum/294.html
  docs/crum/480.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#524][Crum/Wiki] Update the Bible Heuristic.
  docs/crum/wiki.ts
  eslint.config.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1760.html
  docs/crum/375.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#457][Site/Test] Ignore Ignored Tracker Pattern.
  .pre-commit-config.yaml
  test/test.ts
Due: prettier, typescript-unittest, playwright

[#475][Crum/Scan] Update 137.
  docs/crum/crum/159.png
Due: docs-structure, playwright

Revert "[#438][Crum/Wiki] Nit: Make Headword slightly Larger."
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#511][Crum/Wiki] Restore the `ib` Annotation. Mark it as a Suffix.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#295][Site/Home] Nit: Fix a Typo.
  docs/index.html
Due: tidy-html, docs-structure, playwright

[#295][Site/Home] Nit: Add IDs.
  docs/index.html
Due: tidy-html, docs-structure, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/1401.html
  docs/crum/1763.html
  docs/crum/1767.html
  docs/crum/1770.html
  docs/crum/1772.html
  docs/crum/1774.html
  docs/crum/1828.html
  docs/crum/1832.html
  docs/crum/1833.html
  docs/crum/1835.html
  docs/crum/1843.html
  docs/crum/1860.html
  docs/crum/1944.html
  docs/crum/2421.html
  docs/crum/2427.html
  docs/crum/2621.html
  docs/crum/2730.html
  docs/crum/3407.html
  docs/crum/342.html
  docs/crum/406.html
  docs/crum/585.html
  docs/crum/68.html
  docs/crum/69.html
  docs/crum/695.html
  docs/crum/814.html
  docs/crum/container.html
  docs/crum/crum.json
  docs/crum/index.html
  docs/crum/noun male.html
  docs/crum/noun.html
  docs/crum/types.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/104.html
  docs/crum/132.html
  docs/crum/1922.html
  docs/crum/1934.html
  docs/crum/1935.html
  docs/crum/1936.html
  docs/crum/1944.html
  docs/crum/1948.html
  docs/crum/272.html
  docs/crum/325.html
  docs/crum/916.html
  docs/crum/940.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#511][Crum/Wiki] `ib` has Priority over Annotations.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/189.html
  docs/crum/1999.html
  docs/crum/2028.html
  docs/crum/2064.html
  docs/crum/2083.html
  docs/crum/2095.html
  docs/crum/2096.html
  docs/crum/2103.html
  docs/crum/2107.html
  docs/crum/2130.html
  docs/crum/2132.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#666][Crum/Wiki/References] Mark some Annotations as Suffix.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
