Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[#287][Crum/Categories] Delete a Redundant Log.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest

[#125][Dawoud] Header has same Background Color as the Info Panel.
  site/style.css
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#248][GitHub/Template] Create an Issue Template for Reports.
  .github/ISSUE_TEMPLATE/reports.md
Due: check-one-readme

[#230][Xooxle] Code Quality. Better Whitespace Handling.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[fix #343][ⲡⲓⲖⲉⲝⲓⲕⲟⲛ] Use `pretty` instead of `marcion`.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#248][GitHub] Account for the Templates in the Stats.
  stats.sh
Due: none

[#221,#230][Xooxle] Parallelize Processing. Polishing Code.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#343][ⲡⲓⲖⲉⲝⲓⲕⲟⲛ] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#343][ⲡⲓⲖⲉⲝⲓⲕⲟⲛ] Dim Types in the Results Table.
  site/style.css
Due: none

[#279][Lexicon] Buggy `K` Dialect has been removed.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#347]Site/Fonts] Make Fonts Available for Styling.
  site/publish.sh
  site/style.css
Due: none

[#347][Site/Fonts] Download Noto Sans Coptic.
  site/data/fonts/Noto_Sans_Coptic/NotoSansCoptic-Regular.ttf
  site/data/fonts/Noto_Sans_Coptic/OFL.txt
Due: none

[#241,#197][Bible] Use Style Sheets.
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[fix #197,#179,#221][Bible] New Bible Pipeline.
  bible/stshenouda.org/main.py
  site/publish.sh
Due: python-unittest-exists, python-unittest

[#347]Site/Fonts] Use Noto Sans.
  site/style.css
Due: none

[#197][Bible] Run `make transpile test`.
  site/data/build/bible.js
Due: none

[#347][Site/Font] Produce WOFF2 fonts for Antinoou.
  site/data/fonts/AntinoouFont-1.0.6/Antinoou.woff2
  site/data/fonts/AntinoouFont-1.0.6/AntinoouItalic.woff2
Due: none

[#348][Xooxle] Publish a Compact JSON.
  site/publish.sh
Due: none

[#347]Site/Fonts] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/style.css
Due: none

[#348][Xooxle] Eliminate Crum Classes that are Unused in the Index.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#347][Site] Download Antinoou (https://www.evertype.com/fonts/coptic/).
  site/data/fonts/AntinoouFont-1.0.6/Antinoou.ttf
  site/data/fonts/AntinoouFont-1.0.6/AntinoouItalic.ttf
  site/data/fonts/AntinoouFont-1.0.6/antinoou-licence.txt
Due: none

[#347][Site/Fonts] Produce a WOFF2 font file for Noto Sans Coptic.
  site/data/fonts/Noto_Sans_Coptic/NotoSansCoptic-Regular.woff2
Due: none

[#348][Xooxle] Define Logic for `retain_elements_for_classes`.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#197][Bible] Add a Script. Index Chapter Lists are Collapsible.
  bible/stshenouda.org/main.py
  site/bible.ts
  site/test/bible.test.ts
  site/tsconfig.json
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#347][Site/Font/Pre-commit] Permit Large Font Files.
  .pre-commit-config.yaml
Due: none

[#197][Bible] Run `make bible test`.
  bible/stshenouda.org/data/output/html/index.html
  bible/stshenouda.org/data/output/html/style.css
Due: tidy-html

[#197][Bible] Update Index Highlighting.
  bible/stshenouda.org/main.py
  site/style.css
Due: python-unittest-exists, python-unittest

[#197][Bible] Update Index Highlighting. It's too small on Mobile!
  site/style.css
Due: none

[#197][Bible] Run `make bible test`.
  bible/stshenouda.org/data/output/html/style.css
Due: none

[#349][Bible] Add "next", "prev", and "search" Links in the <head> Tag.
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[#349][Bible] Add Basic Navigation Shortcuts.
  site/bible.ts
Due: typescript-string-literals

[#349][Bible] Run `make transpile test`.
  site/data/build/bible.js
Due: none

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
