Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/highlight.js
  docs/crum/highlight.js.map
  docs/crum/main.js
  docs/crum/main.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/iam.js
  docs/iam.js.map
  docs/paths.js
  docs/paths.js.map
Due: docs-structure, prettier, playwright

[#572][Crum/Wiki] Update Unit Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#372][Site/TypeScript] Delete an Unused Enum.
  docs/iam.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#650][AI] Ignore `.playwright-mcp`.
  env/find.sh
Due: none

[#650][AI/Stats] Account for `.gemini/`.
  stats.py
Due: mypy, darglint

[Stats] Exclude ⲣⲉⲙⲛ̀Ⲭⲏⲙⲓ from Contributor Statistics.
  stats.py
Due: mypy, darglint

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#511][Crum/Wiki] Ignore Parentheses when Evaluating Ibidem Instances.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/iam.js.map
Due: docs-structure, prettier, playwright

Revert "[#295][Home] Delete mentions of the Code."
  docs/index.html
Due: tidy-html, docs-structure, playwright

[fix #52][KELLIA] Create a `KELLIA::Greek::Bohairic` Deck.
  dictionary/kellia_uni_goettingen_de/kellia.py
  docs/str.ts
  flashcards/main.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[#52][KELLIA] Create a `KELLIA::Greek::Sahidic` Deck.
  flashcards/main.py
Due: mypy, darglint

[#522][Crum/Wiki] Add a Postfix, and an Annotation.
  docs/crum/annotations.ts
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/str.js.map
Due: docs-structure, prettier, playwright

[#503,#9][Crum/Wiki,Marcion] `make crum test`
  docs/crum/1263.html
  docs/crum/1269.html
  docs/crum/1290.html
  docs/crum/1302.html
  docs/crum/1303.html
  docs/crum/142.html
  docs/crum/146.html
  docs/crum/1655.html
  docs/crum/1819.html
  docs/crum/192.html
  docs/crum/200.html
  docs/crum/2045.html
  docs/crum/209.html
  docs/crum/2157.html
  docs/crum/2161.html
  docs/crum/2325.html
  docs/crum/239.html
  docs/crum/269.html
  docs/crum/347.html
  docs/crum/377.html
  docs/crum/531.html
  docs/crum/716.html
  docs/crum/927.html
  docs/crum/crum.json
  docs/crum/food.html
  docs/crum/index.html
  docs/crum/noun male.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#503,#9][Crum/Wiki,Marcion] `make crum test`
  docs/crum/1306.html
  docs/crum/1312.html
  docs/crum/1316.html
  docs/crum/1321.html
  docs/crum/1328.html
  docs/crum/136.html
  docs/crum/201.html
  docs/crum/21.html
  docs/crum/2413.html
  docs/crum/2415.html
  docs/crum/356.html
  docs/crum/crum.json
  docs/crum/noun male.html
Due: tidy-html, docs-structure, prettier, playwright

[#546,fix #693][Crum/Wiki] Use a Regular Space for Tab Characters.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#693][Crum/Wiki] Nit: Add a `TODO: (#0)`.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

Revert "[#693][Crum/Wiki] Nit: Add a `TODO: (#0)`."
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

Revert "[#546,fix #693][Crum/Wiki] Use a Regular Space for Tab Characters."
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#66][Pre-commit] Allow Multiple Issues per TODO.
  pre-commit/check-todo.sh
Due: none

[#685][Crum/Wiki] Clicks Copy non-Coptic Text as Well.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add a Variant.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#546,fix #693][Crum/Wiki] Handle Tab Characters using Subparagraphs.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #689][Crum/Marcion] Use "masculine" and "feminine" for Genders.
  dictionary/marcion_sourceforge_net/constants.py
Due: mypy, darglint

[platform] `make update`
  .pre-commit-config.yaml
  package-lock.json
  package.json
  requirements.txt
Due: prettier

[#691][AI] Delete Gemini Artifacts.
  .gemini/settings.json
  .pre-commit-config.yaml
  GEMINI.md
  stats.py
Due: prettier, mypy, darglint, check-one-readme

[#691][AI] `claude init`
  .pre-commit-config.yaml
  CLAUDE.md
Due: check-one-readme

[#691][AI] `npm install @playwright/cli@latest`
  package-lock.json
  package.json
Due: prettier
