Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[platform] Make `bun` a pinned dev dependency.
  .pre-commit-config.yaml
  CLAUDE.md
  install.sh
  package.json
Due: prettier, check-one-readme

[platform] `npm install`
  package-lock.json
Due: prettier

[platform] Temporarily Cap `pip` at `<26`.
  install.sh
Due: none

[#739][Bible] Remove Errorneous Uses of the Non-breaking Space.
  bible/stshenouda_org/data/input/Epistle of St. Jude.json
  bible/stshenouda_org/data/input/Epistle to Titus.json
  bible/stshenouda_org/data/input/First Epistle of St. Peter.json
  bible/stshenouda_org/data/input/Job.json
  bible/stshenouda_org/data/input/Wisdom of Jesus son of Sirach.json
Due: prettier

[fix #739][Bible] Restrict the Non-breaking Space Character to Fayyumic.
  bible/stshenouda_org/main.py
Due: mypy, darglint

[#736][Bible] Update Language Selection based on Query Parameters.
  docs/bible/bible.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#201][TypeScript] Fix Bug: EsLint looks at `tsconfig_docs.json`.
  eslint.config.ts
Due: prettier, typescript-unittest

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522,#709][Crum/Wiki/References] Add Postfixes for Manual Labels.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[Crum/Wiki/References] `make pisaxo`
  docs/crum/pisaxo.js
Due: docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/bible/bible.js
  docs/bible/bible.js.map
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#696][TypeScript] Create a TS version of `utils/numeral.py`.
  docs/numeral.ts
  utils/numeral.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[fix #696][TypeScript] Pagination Links Link to more Pages.
  docs/pagination.ts
  docs/xooxle.css
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#696][TypeScript] Support Larger Integers in Coptic.
  docs/numeral.ts
  utils/numeral.py
Due: docs-structure, prettier, typescript-unittest, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/numeral.js
  docs/numeral.js.map
  docs/pagination.js
  docs/pagination.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright

[fix #578][platform/Python] Define HTML Classes and IDs in Shared Files.
  bible/stshenouda_org/cls.py
  bible/stshenouda_org/ids.py
  bible/stshenouda_org/main.py
  dictionary/cls.py
  dictionary/kellia_uni_goettingen_de/cls.py
  dictionary/kellia_uni_goettingen_de/ids.py
  dictionary/kellia_uni_goettingen_de/kellia.py
  dictionary/kellia_uni_goettingen_de/sources.py
  dictionary/marcion_sourceforge_net/cls.py
  dictionary/marcion_sourceforge_net/constants.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/ids.py
  dictionary/marcion_sourceforge_net/lexical.py
  dictionary/marcion_sourceforge_net/wiki.py
  dictionary/stmacariusmonastery_org/andreas.py
  flashcards/cls.py
  flashcards/deck.py
  flashcards/ids.py
Due: mypy, darglint

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #737][Crum/Wiki] Introduce a Notation for Stacked Letters.
  dictionary/marcion_sourceforge_net/cls.py
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[#578][platform/Python] Account for `dictionary/cls.py` in Stats.
  stats.py
Due: mypy, darglint

[#737][Crum/Wiki] Update the Notation for Stacked Letters.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#641][Crum/Scan] Fix Bug: Use `replaceAll` instead of `replace`.
  docs/crum/book.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#641][Crum/Scan] Collapse Geminate Interior Vowels.
  docs/crum/book.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#706][Crum/Wiki/References] Make a Warning Message more Informative.
  docs/crum/references.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#368][Site/Font] Preload Antinoou to Locate Fragments Accurately.
  docs/crum/index.html
  docs/index.html
  docs/keyboard.html
  utils/page.py
  utils/paths.py
Due: tidy-html, crum-tidy-html, docs-structure, mypy, darglint, playwright

[#221][Bible] Add Flags to Restrict Output.
  bible/stshenouda_org/main.py
Due: mypy, darglint

Revert "[#368][Site/Font] Preload Antinoou to Locate Fragments Accurately."
  docs/crum/index.html
  docs/index.html
  docs/keyboard.html
  utils/page.py
  utils/paths.py
Due: tidy-html, crum-tidy-html, docs-structure, mypy, darglint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/book.js
  docs/crum/book.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#744][Bible] Whitespace Wraps on Cells that parent Tooltips.
  docs/tooltip.css
Due: docs-structure, prettier, stylelint, playwright

[#522][Crum/Wiki/References] Update Resources.
  dictionary/marcion_sourceforge_net/data/input/bib.yaml
Due: none

[fix #724][Site/CSS] Fix Tooltip Positioning on Firefox.
  docs/tooltip.css
Due: docs-structure, prettier, stylelint, playwright
