Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#229][Crum/Search] Implement Dialect Highlighting.
  site/crum.html
  site/data/build/xooxle.js
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#299][Crum/Search] Wrap the Form in a `<form>` Tag.
  site/crum.html
Due: tidy-html

[#236][Crum/Flashcards] Use `replaceState` instead of `pushState`.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: typescript-string-literals

[#229][Crum/Search] Dialect Highlighting Carries over to / from Search.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Better Responsiveness.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#229][Crum/Search] Simplify Handling of Dialect Highlighting.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Add a Reset Button.
  site/crum.html
  site/data/build/xooxle.js
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#223][Flashcards] Clean up Old Obfuscation Code.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: typescript-string-literals

[#229][Crum/Search] Miscellaneous Improvements.
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Run `make ts_transpile`.
  site/data/build/xooxle.js
Due: none

[#9][Crum/Typos] Fix Typo in 1976.
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01901_02000.tsv
Due: none

[#230][Diagram] Update.
  data/coptic.drawio.png
Due: none

[#223][Crum/Appendices] Download from the Web.
  .env_INFO
  .pre-commit-config.yaml
  Makefile
  dictionary/marcion.sourceforge.net/appendices.py
  utils.py
Due: python-unittest-exists, python-unittest

[#223][Crum/Appendices] Run `make crum_appendices`
  dictionary/marcion.sourceforge.net/data/input/derivation_appendices.tsv
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#231][Stats] `stats` Hook is a Mere Reminder, Runs at the Very End.
  .pre-commit-config.yaml
  pre-commit/stats.sh
  stats.sh
Due: none

[#5][Crum/Images] Add an Image.
  dictionary/marcion.sourceforge.net/data/img-300/2481-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2481-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2481-1-1.png
Due: crum-img-validate

[#16, fix #161][README] Document Planning Conventions.
  README.md
Due: none

[#16][README,Env] Use a New Drive Directory for File Sharing.
  .env_INFO
  Makefile
  README.md
Due: none

[#111][Env] Simplify Handling of Environment Variables.
  .env_INFO
  Makefile
  site/publish.sh
  stats.sh
Due: none

[#150][Python] Include the `utils` Module in `setup.py`.
  .gitignore
  setup.py
Due: python-unittest

[#230][Crum/Search/Makefile] `flashcards` is prerequisite for `xooxle`.
  Makefile
Due: none

[#111][Env] Set Personal `pip` Flags Using an Environment Variable.
  .env_INFO
  Makefile
Due: none

[#229][Crum/Search] Remove a Remark about Chrome.
  site/crum.html
Due: tidy-html

[#239][Crum/Flashcards] Stop using the `dev` Query Parameter.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: typescript-string-literals

[fix #239][Crum/Flashcards] Use Anchors for Dictionary Pages.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: typescript-string-literals

[#139][Bible] Stop Writing the Unused TSVS Format.
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[#139,#152,#220][Bible/EPUB] Delete the `--no_epub` Flag.
  Makefile
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest

[#139,#152,#220][Bible] Git Ignores EPUB Output.
  .gitignore
  .helpers
Due: none

[#139][Flashcards] Nit: Create Anki Output Subdirectory if Nonexistent.
  flashcards/main.py
Due: python-unittest-exists, python-unittest

[#220,#152,#139][Flashcards/Anki] Nit: Update Handling of Anki Output.
  .gitignore
  .helpers
  Makefile
Due: none

[#139,#152,#220][Bible] Delete Now-Ignored EPUB Output.
  bible/stshenouda.org/data/output/epub/1/akhmimic.epub
  bible/stshenouda.org/data/output/epub/1/bohairic.epub
  bible/stshenouda.org/data/output/epub/1/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/1/dialectp.epub
  bible/stshenouda.org/data/output/epub/1/english.epub
  bible/stshenouda.org/data/output/epub/1/fayyumic.epub
  bible/stshenouda.org/data/output/epub/1/greek.epub
  bible/stshenouda.org/data/output/epub/1/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/1/mesokemic.epub
  bible/stshenouda.org/data/output/epub/1/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/1/sahidic.epub
  bible/stshenouda.org/data/output/epub/2/akhmimic.epub
  bible/stshenouda.org/data/output/epub/2/bohairic.epub
  bible/stshenouda.org/data/output/epub/2/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/2/dialectp.epub
  bible/stshenouda.org/data/output/epub/2/english.epub
  bible/stshenouda.org/data/output/epub/2/fayyumic.epub
  bible/stshenouda.org/data/output/epub/2/greek.epub
  bible/stshenouda.org/data/output/epub/2/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/2/mesokemic.epub
  bible/stshenouda.org/data/output/epub/2/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/2/sahidic.epub
  bible/stshenouda.org/data/output/epub/3/akhmimic.epub
  bible/stshenouda.org/data/output/epub/3/bohairic.epub
  bible/stshenouda.org/data/output/epub/3/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/3/dialectp.epub
  bible/stshenouda.org/data/output/epub/3/english.epub
  bible/stshenouda.org/data/output/epub/3/fayyumic.epub
  bible/stshenouda.org/data/output/epub/3/greek.epub
  bible/stshenouda.org/data/output/epub/3/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/3/mesokemic.epub
  bible/stshenouda.org/data/output/epub/3/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/3/sahidic.epub
Due: none

[#139][Bible] Stop Writing TXT.
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest
