Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/

[#229,#233][Crum/Flashcards] Assign more Division IDs and Classes.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#299][Crum/Search] Update the Dummy Value to Match the New Index.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#299][Crum/Flashcards] Run `make xooxle`.
  site/data/crum/index.json
Due: json-tool

[#229][Crum/Search] Change the TypeScript target to ES2021.
  tsconfig.json
Due: none

[#229][Crum/Search] Use the "marcion" Element as the Title.
  Makefile
Due: none

[#229][Crum/Search] Parameterize the Title.
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#229][Crum/Search] Run `make ts_transpile` to Pick up ES2021 as Target.
  flashcards/data/build/a_coptic_dictionary/script.js
  site/data/build/xooxle.js
Due: none

[#229][Crum/Search] Run `make xooxle` to Pick up "marcion" as Titles.
  site/data/crum/index.json
Due: json-tool

[#229][Crum/Search] Title Text can Contain Newlines. Replace with `<br>`.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Adjust the Result Table Structure.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#229][Crum/Search] Fix Bug in Full Word Search. Support Unicode.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Update Dummy Index.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Highlight All Matches on a Line.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Adjust Table Header, Update Dummy, for new Index.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#229][Crum/Search] Add the Meaning to the Index.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#234][Site/Search] A More Versatile Xooxle Index Generator.
  Makefile
  site/constants.py
  site/main.py
  site/test/test_constants.py
  site/test/test_main.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#230][Site/Stats] Collect Code Statis for HTML.
  data/stats.tsv
  stats.sh
Due: none

[#234][Site/Search] A More Versatile Xooxle Search Engine.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#230][Site/Crum] Move Stuff Around.
  site/constants.py
  site/crum.css
  site/crum.html
  site/data/build/xooxle.js
  site/data/xooxle/crum.json
  site/publish.sh
  site/xooxle.ts
Due: python-unittest-exists, tidy-html, json-tool, python-unittest, typescript-string-literals

[#229][Crum/Search] Run `make xooxle` to Pick up New Index.
  site/data/crum/index.json
Due: json-tool

[#230][Site] Write Raw HTML for the Index, not Markdown.
  site/data/home.html
  site/home.md
  site/index.html
  site/publish.sh
Due: tidy-html, check-one-readme

[#109][Site/Home] Update the Home Page.
  site/index.html
Due: tidy-html

[#109][Site/Home] Update the Description of *A Coptic Dictionary*.
  site/index.html
Due: tidy-html

[#109][README] Add a Link to the Website.
  README.md
Due: none

[#230][Crum/Search] Define the Table Header in the HTML. Prettify.
  site/crum.css
  site/crum.html
  site/data/build/xooxle.js
  site/xooxle.ts
Due: tidy-html, typescript-string-literals

[#229][Crum/HTML] Separate Matches by a Light Gray `<hr>` Tag.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[Site/Makefile] Run with `--clean` by default.
  Makefile
Due: none

[#229][Crum/Search] Better Responsiveness.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#233,#171][Crum/Flashcards] Insert a `<br>` if Images are Absent.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest

[#230][Site/Makefile] Serve the Site Locally. `fetch` no Longer Fails.
  Makefile
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals

[#230][Site] Use a Relative Path to Point to Crum.
  site/index.html
Due: tidy-html

[#229,#230][Site/Search/Python] Change Capture to an Object.
  site/constants.py
  site/xooxle.py
Due: python-unittest-exists, python-unittest

[#229,#230][Site/Search] Parameterize whether to Use Raw HTML or Text.
  site/constants.py
  site/data/build/xooxle.js
  site/xooxle.py
  site/xooxle.ts
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#229][Crum/Search] Retain "marcion" in Raw Format.
  site/constants.py
Due: python-unittest-exists, python-unittest

[#229][Crum/Search] Fix Bug. Add Event Listener to the Regex Checkbox.
  site/data/build/xooxle.js
  site/xooxle.ts
Due: typescript-string-literals
