Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

tidy-html:
  name: tidy-html
  entry: tidy -config "tidy_config.txt"
  language: system

crum-tidy-html:
  name: crum-tidy-html
  entry: tidy -config "tidy_config.txt" --warn-proprietary-attributes "no"
  language: system

docs-structure:
  name: docs-structure
  entry: pre-commit/docs_structure.py
  language: system
  pass_filenames: false

prettier:
  name: prettier
  args:
  - --write
  entry: npx prettier
  language: system

typescript-unittest:
  name: typescript-unittest
  entry: bun test
  language: system
  pass_filenames: false

stylelint:
  name: stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  - --color
  - --report-invalid-scope-disables
  - --report-needless-disables

tidy-xml:
  name: tidy-xml
  entry: tidy -config "tidy_config.txt" -xml
  language: system

mypy:
  name: mypy
  entry: pre-commit/mypy.sh
  language: system

darglint:
  name: darglint
  entry: pre-commit/darglint.sh
  language: system

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

playwright:
  name: playwright
  entry: npx playwright test
  language: system
  pass_filenames: false

[fix #538][Crum/HTML] Wiki Precedes Relations.
  dictionary/marcion_sourceforge_net/crum.py
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, mypy, darglint, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] `make crum test`
  docs/crum/103.html
  docs/crum/817.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add a Postfix.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#524][Crum/Wiki/Bible] Update Handling of False Positives.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Update TODO's.
  docs/crum/annotations.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#668][Crum/Wiki] `make crum test`
  docs/crum/103.html
  docs/crum/124.html
  docs/crum/591.html
  docs/crum/615.html
  docs/crum/732.html
  docs/crum/93.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#668][Crum/Wiki/References] Get Rid of the `suffix` Class.
  docs/crum/cls.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
  test/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#647][TypeScript] `html.replaceText` passes more Parameters.
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add Variants.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#647][Crum/Wiki/References] Add a TODO.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] Update a Test Case.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#194][Crum/Wiki/Annotations] Add Annotations.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Xooxle] Retain Attributes with the Empty String as a Value.
  xooxle/xooxle.py
Due: mypy, darglint

[#667][Crum/Wiki/Annotations] Add Comments.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[fix #667][Crum/Wiki/Annotation] Resolve False Positive Question Marks.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668,#540][Crum/Wiki] Parse Footnotes and Manual Labels.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[#668,#540] Handle Footnotes and Manual Labels.
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/id.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#667][Crum/Wiki/Annotations] Handle a False Positive.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/id.js
  docs/crum/id.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#670][Crum/Wiki] Group Each Entry in a `<div>` Element.
  dictionary/marcion_sourceforge_net/wiki.py
Due: mypy, darglint

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/dropdown.js
  docs/dropdown.js.map
  docs/str.js
  docs/str.js.map
Due: docs-structure, prettier, playwright

[fix #670][Crum/Wiki] Add Buttons to Copy Text.
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
  docs/dropdown.ts
  docs/str.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[#668][Crum/Wiki] Fix Bug.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#668][Crum/Wiki] Update Test.
  test/wiki.ts
Due: prettier, typescript-unittest, playwright

[#668][Crum/Wiki] `make crum test`
  docs/crum/1766.html
  docs/crum/3395.html
  docs/crum/54.html
  docs/crum/751.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#668][Crum/Wiki] Handle a False Positive.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[fix #636][Crum/Wiki] Add a Tooltip to Semicolons.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

Revert "[TypeScript] `make javascript`"
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

Revert "[fix #636][Crum/Wiki] Add a Tooltip to Semicolons."
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#636][Crum/Wiki] Add a Tooltip to the First Semicolon.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/
