Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme, typescript-string-literals

python-unittest-exists:
  name: python-unittest-exists
  entry: pre-commit/python-unittest-exists.sh
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: pre-commit/json-tool.sh
  language: system

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: pre-commit/python-unittest.sh
  language: system
  verbose: true

check-one-readme:
  name: check-one-readme
  entry: pre-commit/check-one-readme.sh
  language: system

typescript-string-literals:
  name: typescript-string-literals
  entry: pre-commit/typescript-string-literals.sh
  language: system

[fix #544][Site/Font] Update the Appearance of `l`.
  docs/fonts/AntinoouFont-1.0.6/Antinoou.ttf
Due: none

[#544][Site/Font] `~/woff2_compress docs/fonts/AntinoouFont-1.0.6/Antinoou.ttf`
  docs/fonts/AntinoouFont-1.0.6/_Antinoou.woff2
Due: none

[fix #530,fix #532,#531,#419][Crum/Wiki/Annotations] Handle Symbols, ⲛ̅ⲉ̅.
  docs/crum/annotations.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: typescript-string-literals

[#530,#532][Crum/Wiki/Annotations] Update Test. 79 Annotations in 88!
  test/test.ts
Due: typescript-string-literals

[#530,#532][Crum/Wiki/Annotations] `make transpile test`
  docs/crum/annotations.js
  docs/crum/references.js
  docs/crum/wiki.js
Due: none

[#9][Crum/Wiki/Typos] `make wiki crum test`
  docs/crum/760.html
  docs/crum/wiki.json
Due: tidy-html, json-tool

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#528, fix #542][Crum/Wiki/References] Parse and Style Suffixes.
  docs/crum/cls.ts
  docs/crum/wiki.ts
  docs/style.css
Due: typescript-string-literals

[fix #528,#419,#545][Crum/Wiki/References] Fix Numbered Abbreviations.
  docs/crum/references.ts
  docs/crum/wiki.ts
  test/test.ts
Due: typescript-string-literals

[#543][Crum/Wiki/References] Handle Suffix Superscripts.
  docs/crum/wiki.ts
  docs/html.ts
Due: typescript-string-literals

[#543,#528,#419,#545,#542][Crum/Wiki/References] `make transpile test`
  docs/crum/cls.js
  docs/crum/references.js
  docs/crum/wiki.js
  docs/html.js
Due: none

[#542][Crum/Wiki/References] Suffixes could be a Capital Letter.
  docs/crum/wiki.ts
Due: typescript-string-literals

[#542][Crum/Wiki/References] `make transpile test`
  docs/crum/wiki.js
Due: none

[#542][Crum/Wiki/References] Add Test for Suffixes.
  test/test.ts
Due: typescript-string-literals

[fix #543][Crum/Wiki/References] Parse Abbreviations in Two Nodes.
  docs/crum/wiki.ts
Due: typescript-string-literals

[#543][Crum/Wiki/References] `make transpile test`
  docs/crum/wiki.js
Due: none

[#543,#419][Crum/Wiki] `replaceText` helper applies exclusions twice.
  docs/crum/wiki.ts
  docs/html.ts
Due: typescript-string-literals

[#543,#419][Crum/Wiki] `make transpile test`
  docs/crum/wiki.js
  docs/html.js
Due: none

[#542][Crum/Wiki/References] Exclude `cls.SUFFIX` from Parsing.
  docs/crum/wiki.ts
Due: typescript-string-literals

[#253,#419][Xooxle,Crum/Wiki] Normalize once at the beginning.
  docs/bible/main.ts
  docs/crum/main.ts
  docs/html.ts
  docs/xooxle.ts
Due: typescript-string-literals

[#253,#419][Xooxle,Crum/Wiki] `make transpile test`
  docs/bible/main.js
  docs/crum/main.js
  docs/html.js
  docs/xooxle.js
Due: none

[#438][Crum/Wiki] Update Regexes.
  dictionary/marcion_sourceforge_net/wiki.py
Due: python-unittest-exists, python-unittest

[#227,#9][Crum/Sisters,Typos] `make crum test`
  docs/crum/1821.html
  docs/crum/201.html
  docs/crum/2261.html
  docs/crum/233.html
  docs/crum/234.html
  docs/crum/wiki.json
Due: tidy-html, json-tool

[#9][Crum/Wiki] `make crum test`
  docs/crum/88.html
  docs/crum/wiki.json
Due: tidy-html, json-tool

[#419][Crum/Wiki/References] Nit: Rename a Field.
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: typescript-string-literals

[#419][Crum/Wiki/References] `make transpile test`
  docs/crum/references.js
  docs/crum/wiki.js
Due: none

[#202][Crum/TypeScript] Reduce Dependency on HTML Content.
  docs/crum/crum.ts
  docs/crum/help.ts
  docs/help.ts
  docs/html.ts
  docs/style.css
Due: typescript-string-literals

[#202][Crum/TypeScript] `make transpile test`
  docs/crum/crum.js
  docs/crum/help.js
  docs/help.js
  docs/html.js
Due: none

[#171][Crum/HTML] Get Rid of Dictionary Page Captions.
  docs/crum/cls.ts
  docs/crum/crum.ts
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, typescript-string-literals

[#171][Crum/HTML] `make transpile test`
  docs/crum/cls.js
  docs/crum/crum.js
Due: none

[#548][Bible/CSS] Update Styling.
  docs/style.css
Due: none

[#522,#523][Crum/Wiki/References] `ViK` is two-part, not standalone.
  docs/crum/references.ts
Due: typescript-string-literals

[#529][Crum/Wiki/References] Store Multiple Hyperlinks Separately.
  docs/crum/references.ts
Due: typescript-string-literals

[#457][Crum/Wiki/References] Create a Unit Test.
  docs/crum/references.test.ts
  docs/crum/references.ts
  docs/crum/wiki.ts
Due: typescript-string-literals

[#457][Site/Test] Test Subdirectories are Pointless.
  docs/str.test.ts
  tsconfig.json
  tsconfig_test.json
Due: json-tool, typescript-string-literals

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  typescript-string-literals: any of: \.(ts|mts|cts)$, but not: ^archive/
