Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, crum-tidy-html, docs-structure, prettier, typescript-unittest, stylelint, tidy-xml, mypy, darglint, check-one-readme, playwright

Path conditions:
  tidy-html: any of: .*\.html and not (^docs/(crum/index|crum/bashandy|dawoud/index).html$) and not (^archive/)
  crum-tidy-html: any of: ^docs/(crum/index|crum/bashandy|dawoud/index).html$, but not: ^archive/
  docs-structure: any of: ^docs/.*, but not: ^archive/
  prettier: any of: \.(js|jsx|mjs|cjs|ts|tsx|mts|cts|json|css)$, but not: ^archive/
  typescript-unittest: any of: \.(ts|mts|cts)$, but not: ^archive/
  stylelint: any of: \.css$, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  mypy: any of: \.py$, but not: ^archive/
  darglint: any of: \.py$, but not: ^archive/
  check-one-readme: any of: \.(md|markdown|mdown)$ and not (^README.md$) and not (^archive/)
  playwright: any of: ^(docs|test)/.*, but not: ^archive/

[#522][Crum/Wiki] Update Tooltip for `BMOr`.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#474][Lexicon] Link Regular Expression Examples and Cheat Sheet.
  docs/crum/index.html
  docs/crum/lexicon.css
Due: crum-tidy-html, docs-structure, prettier, stylelint, playwright

[fix #664][Crum/Wiki/Lexicon] Prioritize Headwords and Glosses.
  docs/crum/cls.ts
  docs/crum/lexicon.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#457][TypeScript] Add `localStorage` to Unit Test Global Scope.
  .pre-commit-config.yaml
  bun.ts
  bunfig.toml
  tsconfig_node.json
Due: prettier, typescript-unittest

[#503][Crum/Wiki] `make crum test`
  docs/crum/723.html
  docs/crum/744.html
  docs/crum/745.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#419][Crum/Wiki] Update Reference Tooltip Style.
  docs/crum/crum.css
Due: docs-structure, prettier, stylelint, playwright

[#511][Crum/Wiki] Fix Bug in Parenthesis Depth Tracking for `ib`.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] Include the Completion Percentage in the Tooltip.
  dictionary/marcion_sourceforge_net/main.py
  docs/crum/crum.json
  docs/crum/index.html
  utils/paths.py
Due: crum-tidy-html, docs-structure, prettier, mypy, darglint, playwright

[#194][Crum/Wiki] Simplify Dialect Tooltips.
  docs/crum/crum.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/crum.js
  docs/crum/crum.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

Revert "[#522][Crum/Wiki] Update Tooltip for `BMOr`."
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/references.js
  docs/crum/references.js.map
Due: docs-structure, prettier, playwright

[#194][Crum/Wiki] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#511][Crum/Wiki] Update `ibidem` Display.
  docs/crum/cls.ts
  docs/crum/crum.css
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, stylelint, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/cls.js
  docs/crum/cls.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/124.html
  docs/crum/125.html
  docs/crum/56.html
  docs/crum/730.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add an Annotation.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Simplify `href` Storage. Update References.
  docs/crum/references.ts
  docs/html.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/html.js
  docs/html.js.map
Due: docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/124.html
  docs/crum/125.html
  docs/crum/1653.html
  docs/crum/535.html
  docs/crum/732.html
  docs/crum/crum.json
  docs/crum/verb.html
Due: tidy-html, docs-structure, prettier, playwright

[#194][Crum/Wiki/Annotations] Add Annotations. Update Comments.
  docs/crum/annotations.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#9][Crum/Marcion] `make crum test`
  docs/crum/732.html
  docs/crum/crum.json
  docs/crum/derivations.js
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/2486.html
  docs/crum/2519.html
  docs/crum/2643.html
  docs/crum/2843.html
  docs/crum/2866.html
  docs/crum/3386.html
  docs/crum/853.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#503][Crum/Wiki] Nit: Account for Marcion Entries in Tracker.
  dictionary/marcion_sourceforge_net/crum.py
  dictionary/marcion_sourceforge_net/main.py
Due: mypy, darglint

[#503][Crum/Wiki] `make crum test`
  docs/crum/23.html
  docs/crum/237.html
  docs/crum/458.html
  docs/crum/737.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[#524][Crum/Wiki/Bible] Add a Variant for Psalms.
  bible/stshenouda_org/data/input/bible.json
Due: prettier

[#524][Crum/Wiki/Bible] `make bible test`
  docs/crum/bible.js
Due: docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/annotations.js
  docs/crum/annotations.js.map
Due: docs-structure, prettier, playwright

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#503][Crum/Wiki] `make crum test`
  docs/crum/212.html
  docs/crum/3395.html
  docs/crum/57.html
  docs/crum/743.html
  docs/crum/746.html
  docs/crum/751.html
  docs/crum/755.html
  docs/crum/799.html
  docs/crum/806.html
  docs/crum/crum.json
  docs/crum/index.html
Due: tidy-html, crum-tidy-html, docs-structure, prettier, playwright

[#522][Crum/Wiki/References] Add a Postfix.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#524][Crum/Wiki/Bible] Update the Followup Regex.
  docs/crum/wiki.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#522][Crum/Wiki/References] Add Postfixes.
  docs/crum/references.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#605][Xooxle] Simplify Layer Handling.
  docs/crum/lexicon.ts
  docs/xooxle.ts
Due: docs-structure, prettier, typescript-unittest, playwright

[#503][Crum/Wiki] `make crum test`
  docs/crum/3395.html
  docs/crum/crum.json
Due: tidy-html, docs-structure, prettier, playwright

[TypeScript] `make javascript`
  docs/crum/lexicon.js
  docs/crum/lexicon.js.map
  docs/crum/references.js
  docs/crum/references.js.map
  docs/crum/wiki.js
  docs/crum/wiki.js.map
  docs/xooxle.js
  docs/xooxle.js.map
Due: docs-structure, prettier, playwright
